@*====================================================== Revision History ===========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                11-01-2023        2.0.37           Pallab              25570: Attendance, Order, Reimbursement, Target/Achievement tab box design change *@
@*2.0                21-06-2023        2.0.41           Pallab              26356: Dashboard "Attendance" , "Order" , "Reimbursement" chart and others issue fix *@
@*3.0                27-06-2023        2.0.41           Sanchita            State & Branch selection facility is required in the Order Analytics in Dashboard
                                                                                Refer: 26309
    @*====================================================== Revision History ===========================================================*@

<style>
    ul.nopad {
        list-style-type: none;
        padding: 0;
    }

        ul.nopad > li {
            display: inline-block;
            min-width: 18.4%;
        }

            ul.nopad > li:not(:last-child) {
                margin-right: 1%;
            }

    .colorBox {
        background: #4f4e94;
        color: #fff;
        border-radius: 8px;
        overflow: hidden;
        /*Rev 1.0*/
        border: 2px solid #fff;
        box-shadow: 0px 5px 20px rgb(0 0 0 / 23%);
        /*Rev end 1.0*/
    }

        .colorBox.c1 {
            background: #309b60;
        }

        .colorBox.c2 {
            background: #3798c5;
        }

        .colorBox.c3 {
            background: #e68929;
        }

        .colorBox.c4 {
            background: #882626;
        }

    .infoWrp {
        padding: 12px 15px;
        position: relative;
        /*Rev 1.0*/
        padding-left: 60px;
        /*Rev end 1.0*/
    }

        .infoWrp > .nums {
            font-size: 24px;
            font-weight: 600;
        }

        .infoWrp > .txts {
            font-size: 80%;
        }

    .mrLinks {
        /*cursor: pointer;*/
        /*Rev 1.0*/
        /*background: rgba(0, 0, 0, 0.34);
        padding: 5px 10px;*/
        /*Rev end 1.0*/
        font-size: 80%;
    }

        .mrLinks > .fa {
            float: right;
            margin-top: 4px;
        }

    /*Rev 1.0*/
    .fltd {
        /*position: absolute;
        right: 16px;
        top: 16px;*/
        font-size: 22px !important;
        color: rgb(255 255 255);
        /*padding: 10px;*/
        /*border-radius: 50px;
        background: #ffffff45;*/
        /*width: 50px;
        height: 50px;*/
        text-align: center;
        /*line-height: 30px;*/
    }

    .icon-box-left {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 50px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(255 255 255 / 70%);
    }

    /*Rev end 1.0*/

    .box-holder {
        border: 1px solid #ccc;
        border-radius: 4px;
        border-top: 4px solid rgb(13, 105, 67);
        background: #fff;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

        .box-holder.full-screen, .box-full.full-screen {
            position: fixed;
            top: 0;
            height: 100vh;
            width: 100%;
            background: #fff;
            left: 0;
            box-shadow: 0 0 5px rgba(0,0,0,0.35);
            z-index: 99;
            border-top: 4px solid rgb(13, 105, 67);
            border-radius: 5px;
            padding: 20px;
            border-radius: 0px;
            margin: 0;
        }

    .chartHolder {
        height: 300px;
    }

    .box-holder.full-screen .chartHolder, .box-full.full-screen .chartHolder {
        height: 70vh !important;
    }

    .toggleFullScreen {
        top: 29px;
        position: absolute;
        right: 35px;
        font-size: 14px;
        display: block;
        z-index: 5;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background: #d6e9ff;
        text-align: center;
        line-height: 30px;
        color: #082f5c;
    }

    .box-holder.full-screen .toggleFullScreen {
        right: 25px;
        top: 19px;
    }

    .box-holder .hdd-rp {
        font-size: 15px;
        font-weight: 600;
        padding: 8px 15px;
        color: #555;
    }

    .box-holder .bxd-cont {
        padding: 15px;
    }

    .table {
        width: 100%;
    }

        .table .thead-light th {
            color: #495057;
            background-color: #e9ecef;
            border-color: #dee2e6;
        }

    .badge {
        font-weight: 500;
        font-size: 12px;
    }

    .badge-warning {
        color: #212529;
        background-color: #ffc107;
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    #chartdiv {
        width: 100%;
        height: 450px;
    }

    .mTop10 {
        margin-top: 10px;
    }

    .pignose-calendar {
        width: 100%;
        max-width: 100% !important;
    }

        .pignose-calendar .pignose-calendar-top,
        .pignose-calendar {
            box-shadow: none !important;
        }

    .tbleChoosedate {
        float: right;
        margin-right: 15px;
        font-size: 14px;
    }

        .tbleChoosedate > tbody > tr > td:not(:last-child) {
            padding-right: 15px;
            font-size: 16px;
            font-weight: 600;
        }

    .dateWidth {
        max-width: 190px;
    }

    .chartHolder {
        border: 1px solid #ccc
    }

    .usrTabl {
        width: 100%;
    }

        .usrTabl > thead > tr > th {
            background: #3798c5;
            color: #fff;
            padding: 8px 5px;
        }

        .usrTabl > tbody > tr > td {
            padding: 5px;
        }

        .usrTabl > tbody > tr:nth-child(even) > td {
            background: #f1f1f1;
        }

    .nCheck {
        font-size: 18px;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
</style>
<link href="~/assests/css/pignose.calendar.min.css" rel="stylesheet" />

@*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>*@
<script src="~/assests/js/frmCDN/moment.js"></script>
<script src="~/assests/pluggins/pignose.calendar.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>*@
<link href="~/assests/pluggins/datePicker/datepicker.css" rel="stylesheet" />
<script src="~/assests/pluggins/datePicker/bootstrap-datepicker.js"></script>
<!-- Resources -->
<script src="~/assests/pluggins/amchart/core.js"></script>
    <script src="~/assests/pluggins/amchart/charts.js"></script>
    <script src="~/assests/pluggins/amchart/themes/animated.js"></script>

@*<script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>*@

<script src="~/assests/pluggins/amchart5/index.js"></script>
<script src="~/assests/pluggins/amchart5/xy.js"></script>
<script src="/assests/pluggins/amchart5/Animated.js"></script>
@*<script src="/assests/pluggins/amchart5/percent.js"></script>*@


<style>
    #pieOne {
        width: 100%;
        height: 300px;
    }

    .calendar-icon-new {
        position: absolute;
        bottom: 9px;
        right: 20px;
        z-index: 0;
        cursor: pointer;
    }

    .dateWidth {
        position: relative;
    }

        .dateWidth input {
            position: relative;
            z-index: 1;
            background: transparent;
            cursor: pointer;
        }

    .right-align {
        text-align: right;
    }

    .usrTabl > tbody > tr > td {
        font-size: 15px;
        font-weight: 400;
    }

    .order-rating-title {
        font-weight: 600 !important;
        font-size: 16px !important;
        color: #656565 !important;
    }
</style>

@*Rev 3.0*@
<script type="text/javascript">
    $(document).ready(function () {

        $('#cmbStateOrder').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            maxHeight: 400,
            enableCaseInsensitiveFiltering: true,
            onDropdownHide: function (event) {
                GetSateValueOrder();
            }
        }).multiselect('selectAll', false).multiselect('updateButtonText');
        $('#cmbBranchOrder').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            maxHeight: 400,
            enableCaseInsensitiveFiltering: true,
            onDropdownHide: function (event) {
                GetBranchValueOrder();
            }
        }).multiselect('selectAll', false).multiselect('updateButtonText');

        branchidsOrder = $('#cmbBranchOrder').val();

        stateidsOrder = $('#cmbStateOrder').val();
        var statelistcountOrder = $('#hdnStateListCountOrder').val();
        if (statelistcountOrder > 0) {
            var GroupBy = $('#hdnGridStatewiseSummaryGroupByOrder').val();
            for (var i = objsettings.length - 1; i >= 0; i--) {
                if (objsettings[i].ID == settingsid) {
                    objsettings.splice(i, 1);
                }
            }


        }
        else {
            $('.bodymain_areastatewise').hide();
        }

    });


    var stateidsOrder = [];
    var branchidsOrder = [];


    function GetSateValueOrder() {
        stateidsOrder = [];

        var datalist = $('#cmbStateOrder').val();
        if (datalist != null) {
            stateidsOrder = datalist;
        }
        else {
            stateidsOrder.push('999999');
        }
        cmbStatechangeOrder();
    }

    function GetBranchValueOrder() {
        branchidsOrder = [];

        var datalist = $('#cmbBranchOrder').val();
        if (datalist != null) {
            branchidsOrder = datalist;
        }
        else {
            branchidsOrder.push('999999');
        }
        cmbBranchChangeOrder();
    }

    function cmbBranchChangeOrder() {
        let newBranch = $('#cmbBranchOrder').val();

        var isObject = typeof newBranch
        if (isObject == "object") {
            if (newBranch != null && newBranch.length > 0) {
                branchidsOrder = newBranch.join(',');
            } else {
                branchidsOrder = "";

            }
        } else {
            if (newBranch != null && newBranch.length > 0) {
                branchidsOrder = newBranch;
            }
            else {
                branchidsOrder = "";
            }
        }
        reloadBoxDataOrder(branchidsOrder);
    }

    function cmbStatechangeOrder() {
        settingsid = "1";

        for (var i = objsettings.length - 1; i >= 0; i--) {
            if (objsettings[i].ID == settingsid) {
                objsettings.splice(i, 1);
            }
        }
        if (settingsid == "1") {
            var obj = {};
            obj.ID = "1";
            obj.action = "AT_WORK";
            obj.rptype = "Summary";
            obj.empid = "";
            obj.stateid = stateidsOrder.join(',');//cmbState.GeOrderalue();
            obj.designid = "";
            // Mantis Issue 24729
            var isObject = typeof branchidsOrder
            if (isObject == "object") {
                if (branchidsOrder != null && branchidsOrder.length > 0) {
                    obj.branchid = branchidsOrder.join(',');
                } else {
                    obj.branchid = "";

                }
            } else {
                if (branchidsOrder != null && branchidsOrder.length > 0) {
                    obj.branchid = branchidsOrder;
                }
                else {
                    obj.branchid = "";
                }
            }


            // End of Mantis Issue 24729
            objsettings.push(obj);
        }
        //  gridsalesman.ClearFilter();
        if (!$('#dashDetails1').hasClass('hide')) {
            $('#dashDetails1').addClass('hide');
        }
        if (!$('#dashDetails2').hasClass('hide')) {
            $('#dashDetails2').addClass('hide');
        }
        if (!$('#gridthirdlevel').hasClass('hide')) {
            $('#gridthirdlevel').addClass('hide');
        }
        $('.boxWidget').removeClass('activeW');

        stateidOrder = stateidsOrder.join(','); //;cmbState.GetValue();
        // Mantis Issue 24729
        var obj1 = {};
        obj1.stateid = stateidOrder;

        $.ajax({
            type: "POST",
            url: "/DashboardMenu/DashboardBranchCombobox",
            data: JSON.stringify(obj1),
            async: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                //console.log("res branch", response);
                const mainData = response.map(function (item) {
                    return {
                        label: item.name,
                        title: item.name,
                        value: item.BranchID,
                        selected: true
                    }
                    // arr.push(obj)
                })

                $("#cmbBranchOrder").multiselect('dataprovider', mainData);
                var newBranch = $('#cmbBranchOrder').val();

                var isObject = typeof newBranch
                if (isObject == "object") {
                    if (newBranch != null && newBranch.length > 0) {
                        branchidsOrder = newBranch.join(',');
                    } else {
                        branchidsOrder = "";

                    }
                } else {
                    if (newBranch != null && newBranch.length > 0) {
                        branchidsOrder = newBranch;
                    }
                    else {
                        branchidsOrder = "";
                    }
                }

                reloadBoxDataOrder(branchidsOrder);
            },
            error: function (response) {
                jAlert("Please try again later");
            }
        });


    }

    function reloadBoxDataOrder(branchidsOrder) {
        branchid = branchidsOrder;

        objData = {};
        $('#mapdeatsilsOrder').hide();
        $('#mapOrder').show();

        var obj = {};
        obj.stateid = stateid;
        // Mantis Issue 24729
        obj.branchid = branchid;
        // End of Mantis Issue 24729
        $.ajax({
            type: "POST",
            url: "/DashboardMenu/GetDashboardDataVisit",
            data: JSON.stringify(obj),
            async: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#EAWOrder").text(response.lblAtWork);
                $("#EOLOrder").text(response.lblOnLeave);
                $("#NLIOrder").text(response.lblNotLoggedIn);
                $("#EMPOrder").text(response.lblTotal);
                $("#lbltotalshopOrder").text(response.TotalVisit);
                $("#lblnewvisitOrder").text(response.NewVisit);
                $("#lblrevisitOrder").text(response.ReVisit);

                $("#lblavgvisitsOrder").text(response.AvgPerDay);
                $("#lblavgdurationOrder").text(response.AvgDurationPerShop);
            },
            error: function (response) {
                jAlert("Please try again later");
            }
        });
    }
</script>

@*End of Rev 3.0*@

<script type="text/javascript">
    $(function () {
        $.fn.datepicker.defaults.format = "dd-mm-yyyy";
        $(".datepicker").datepicker({
            //format: 'YYYY-MM-DD',
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());

        //$('.toggleFullScreen').click(function () {
        //    $(this).parent('.box-full').toggleClass('');
        //    if ($(this).parent(".box-full").hasClass("full-screen")) {
        //        //$(this).parent(".box-full").removeClass("full-screen");
        //    } else {
        //        //$(this).parent(".box-full").addClass("full-screen");
        //    }
        //});
    });
    function getdata() {
        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();

        var inputDatefrm = fromDate;
        var inputDateto = toDate;

        var newDatefrm = changeDateFormat(inputDatefrm);
        var newDateto = changeDateFormat(inputDateto);

        // Rev 3.0
        var stateid = stateidsOrder.join(',');

        var isObject = typeof branchidsOrder
        if (isObject == "object") {
            if (branchidsOrder != null && branchidsOrder.length > 0) {
                var branchid = branchidsOrder.join(',');
            } else {
                var branchid = "";

            }
        } else {
            if (branchidsOrder != null && branchidsOrder.length > 0) {
                var branchid = branchidsOrder;
            }
            else {
                var branchid = "";
            }
        }
        // End of Rev 3.0

        console.log(inputDatefrm);

        // Rev 3.0
        //getTotalOrderCount(newDatefrm, newDateto);
        //getTotalOrderValue(newDatefrm, newDateto);
        //getAvgOrderValue(newDatefrm, newDateto);
        //getOrderDelivered(newDatefrm, newDateto);

        //gettop10orderValue(newDatefrm, newDateto);
        //gettop10orderQty(newDatefrm, newDateto);

        //getCustomer(newDatefrm, newDateto);
        //getOrderStateWise(newDatefrm, newDateto);

        //getOrderCountChart(newDatefrm, newDateto);
        //getOrderTotalChart(newDatefrm, newDateto);
        //getOrderDeliverChart(newDatefrm, newDateto);

        getTotalOrderCount(newDatefrm, newDateto, stateid, branchid);
        getTotalOrderValue(newDatefrm, newDateto, stateid, branchid);
        getAvgOrderValue(newDatefrm, newDateto, stateid, branchid);
        getOrderDelivered(newDatefrm, newDateto, stateid, branchid);

        gettop10orderValue(newDatefrm, newDateto, stateid, branchid);
        gettop10orderQty(newDatefrm, newDateto, stateid, branchid);

        getCustomer(newDatefrm, newDateto, stateid, branchid);
        getOrderStateWise(newDatefrm, newDateto, stateid, branchid);

        getOrderCountChart(newDatefrm, newDateto, stateid, branchid);
        getOrderTotalChart(newDatefrm, newDateto, stateid, branchid);
        getOrderDeliverChart(newDatefrm, newDateto, stateid, branchid);
        // End of Rev 3.0
    }
    function changeDateFormat(inputDate) {  // expects Y-m-d
        var splitDate = inputDate.split('-');
        if (splitDate.count == 0) {
            return null;
        }

        var year = splitDate[2];
        var month = splitDate[1];
        var day = splitDate[0];

        return year + '-' + month + '-' + day;
    }


    //order count chart
    // Rev 3.0 [ parameter , stateid, branchid added]
    function getOrderCountChart(fromDate, toDate, stateid, branchid) {
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("OrdercountChart", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                //console.log(msg);
                if (msg.length > 0) {
                    am4core.ready(function () {

                        am4core.useTheme(am4themes_animated);

                        var chart = am4core.create("chartLine", am4charts.XYChart);

                        chart.mouseWheelBehavior = "zoomX";
                        chart.paddingRight = "20px";

                        chart.data = msg;

                        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                        categoryAxis.renderer.grid.template.location = 0;
                        categoryAxis.renderer.ticks.template.disabled = true;
                        categoryAxis.renderer.line.opacity = 0;
                        categoryAxis.renderer.grid.template.disabled = true;
                        categoryAxis.renderer.minGridDistance = 40;
                        categoryAxis.dataFields.category = "ORDERDATE";
                        categoryAxis.startLocation = 0.4;
                        categoryAxis.endLocation = 0.6;
                        categoryAxis.renderer.labels.template.fontSize = 14;


                        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                        valueAxis.tooltip.disabled = true;
                        valueAxis.renderer.line.opacity = 0;
                        valueAxis.renderer.ticks.template.disabled = true;
                        valueAxis.min = 0;

                        var lineSeries = chart.series.push(new am4charts.LineSeries());
                        lineSeries.dataFields.categoryX = "ORDERDATE";
                        lineSeries.dataFields.valueY = "ORDCNT";
                        lineSeries.tooltipText = "Order Count: {valueY.value}";
                        lineSeries.fillOpacity = 0.3;
                        lineSeries.strokeWidth = 3;
                        lineSeries.stroke = am4core.color("#f83838");
                        lineSeries.fill = am4core.color("#1325cc");
                        lineSeries.propertyFields.stroke = "lineColor";
                        lineSeries.propertyFields.fill = "lineColor";

                        var bullet = lineSeries.bullets.push(new am4charts.CircleBullet());
                        bullet.circle.radius = 6;
                        bullet.circle.fill = am4core.color("#fff");
                        bullet.circle.strokeWidth = 3;

                        chart.cursor = new am4charts.XYCursor();
                        chart.cursor.behavior = "panX";
                        chart.cursor.lineX.opacity = 0;
                        chart.cursor.lineY.opacity = 0;

                        //chart.scrollbarX = new am4core.Scrollbar();
                        //chart.scrollbarX.parent = chart.bottomAxesContainer;

                    }); // end am4core.ready()
                } else {
                    $('#chartLine').html('<div class="nCheck">No Data Available</div>');
                }

            }
        });

    }
    //order Total chart
    // Rev 3.0 [ parameter , stateid, branchid added]
    function getOrderTotalChart(fromDate, toDate, stateid, branchid) {
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("OrderTotalChart", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                //console.log('total');
                //console.log(msg);
                if (msg.length > 0) {
                    // Use themes
                    am4core.useTheme(am4themes_animated);

                    // Create chart instance
                    var chart = am4core.create("chartLine2", am4charts.XYChart);
                    chart.paddingRight = 20;

                    // Add data
                    chart.data = msg;

                    // Create axes
                    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                    categoryAxis.dataFields.category = "ORDERDATE";
                    categoryAxis.renderer.minGridDistance = 50;
                    categoryAxis.renderer.grid.template.location = 0.5;
                    categoryAxis.startLocation = 0.5;
                    categoryAxis.endLocation = 0.5;

                    // Pre zoom
                    chart.events.on("datavalidated", function () {
                        categoryAxis.zoomToIndexes(Math.round(chart.data.length * 0.4), Math.round(chart.data.length * 0.55));
                    });

                    // Create value axis
                    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.baseValue = 0;
                    //valueAxis.numberFormatter.numberFormat = "##,###.##";
                    // Create series
                    var series = chart.series.push(new am4charts.LineSeries());
                    series.dataFields.valueY = "ORDVALUE";
                    series.dataFields.categoryX = "ORDERDATE";
                    series.strokeWidth = 3;
                    series.tensionX = 0.8;
                    series.stroke = am4core.color("#384af3");
                    series.fill = am4core.color("#1325cc");
                    series.tooltipText = "Order Value: {valueY.value}";

                    var bullet = series.bullets.push(new am4charts.CircleBullet());
                    bullet.strokeWidth = 0;

                    bullet.adapter.add("fill", function (fill, target) {
                        var values = target.dataItem.values;

                        return values.valueY.value >= 0
                            ? am4core.color("#e38015")
                          : fill;
                    });

                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.behavior = "panX";
                    chart.cursor.lineX.opacity = 0;
                    chart.cursor.lineY.opacity = 0;

                    chart.scrollbarX = new am4core.Scrollbar();
                    chart.scrollbarX.parent = chart.bottomAxesContainer;
                    chart.scrollbarX.disabled = true;

                    chart.mouseWheelBehavior = "zoomX";
                    /*chart.paddingRight = "40px";*/
                    /*Rev 2.0*/
                    // Adjust legend position for mobile devices
                    if (window.innerWidth <= 767) {
                        chart.paddingRight = "20px";
                    } else {
                        chart.paddingRight = "40px";
                    }

                    // Redraw the chart when the window is resized
                    $(window).on("resize", function () {
                        if (window.innerWidth <= 767) {
                            chart.paddingRight = "20px";
                        } else {
                            chart.paddingRight = "40px";
                        }
                        chart.invalidateRawData();
                    });
                    /*Rev end 2.0*/
                    //$(window).on("resize", function () {
                    //    var chartContainer = $("#chartLine2");
                    //    chart.width = chartContainer.width();
                    //    chart.height = chartContainer.height();
                    //});

                } else {
                    $('#chartLine2').html('<div class="nCheck">No Data Available</div>');
                }

            }
        });
    }

    // Order Delivered
    // Rev 3.0 [ parameter , stateid, branchid added]
    function getOrderDeliverChart(fromDate, toDate, stateid, branchid) {
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("OrderDeliveredChart", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                console.log('Delivered');
                console.log(msg);
                if (msg.length > 0) {
                    // Use themes
                    am4core.useTheme(am4themes_animated);

                    // Create chart instance
                    var chart = am4core.create("chartLine3", am4charts.XYChart);
                    chart.paddingRight = 20;

                    // Add data
                    chart.data = msg;

                    // Create axes
                    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                    categoryAxis.dataFields.category = "ORDERDATE";
                    categoryAxis.renderer.minGridDistance = 50;
                    categoryAxis.renderer.grid.template.location = 0.5;
                    categoryAxis.startLocation = 0.5;
                    categoryAxis.endLocation = 0.5;

                    // Pre zoom
                    chart.events.on("datavalidated", function () {
                        categoryAxis.zoomToIndexes(Math.round(chart.data.length * 0.4), Math.round(chart.data.length * 0.55));
                    });

                    // Create value axis
                    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.baseValue = 0;

                    // Create series
                    var series = chart.series.push(new am4charts.LineSeries());
                    series.dataFields.valueY = "BILLVALUE";
                    series.dataFields.categoryX = "ORDERDATE";
                    series.strokeWidth = 3;
                    series.tensionX = 0.8;
                    series.tooltipText = "Delivered Value: {valueY.value}";

                    var bullet = series.bullets.push(new am4charts.CircleBullet());
                    bullet.strokeWidth = 0;

                    bullet.adapter.add("fill", function (fill, target) {
                        var values = target.dataItem.values;

                        return values.valueY.value >= 0
                          ? am4core.color("red")
                          : fill;
                    });

                    //var range = valueAxis.createSeriesRange(series);
                    //range.value = 0;
                    //range.endValue = 1000;
                    //range.contents.stroke = am4core.color("#FF0000");
                    //range.contents.fill = range.contents.stroke;

                    // Add scrollbar
                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.behavior = "panX";
                    chart.cursor.lineX.opacity = 0;
                    chart.cursor.lineY.opacity = 0;

                    chart.scrollbarX = new am4core.Scrollbar();
                    chart.scrollbarX.parent = chart.bottomAxesContainer;

                } else {
                    $('#chartLine3').html('<div class="nCheck">No Data Available</div>');
                }

            }
        });
    }


    // top customers
    // Rev 3.0 [ parameter , stateid, branchid added]
    function getCustomer(fromDate, toDate, stateid, branchid) {
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("GettopCustomers", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                //console.log(msg)
                if (msg.length > 0) {
                    //alert('hi')
                    var Ltable = "";
                    for (i = 0; i < msg.length; i++) {
                        Ltable += "<tr>"
                        Ltable += "<td>" + msg[i].SHOPNAME + "</td>"
                        Ltable += "<td class='text-right'>" + numberWithCommas(msg[i].ORDVALUE) + "</td>"
                        Ltable += "</tr>"
                    }
                    Ltable += "";
                    //console.log(obj)
                    $('#topCustomersTble').html(Ltable)
                } else {
                    $('#topCustomersTble').html("<tr><td colspan='6' class='text-center'>No Data Found</td></tr>")
                }
            }
        });
    }
    // top order
    // Rev 3.0 [ parameter , stateid, branchid added]
    function getOrderStateWise(fromDate, toDate, stateid, branchid) {
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("GettopOrdersStateWise", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                //console.log(msg)
                if (msg.length > 0) {
                    var Ltable = "";
                    for (i = 0; i < msg.length; i++) {
                        Ltable += "<tr>"
                        Ltable += "<td>" + msg[i].STATENAME + "</td>"
                        Ltable += "<td class='text-right'>" + numberWithCommas(msg[i].ORDVALUE) + "</td>"
                        Ltable += "</tr>"
                    }
                    Ltable += "";
                    //console.log(obj)
                    $('#stateWise').html(Ltable)
                } else {
                    $('#stateWise').html("<tr><td colspan='6' class='text-center'>No Data Found</td></tr>")
                }
            }
        });
    }

    // top 10 order value
    // Rev 3.0 [parameters , stateid, branchid added]
    function gettop10orderValue(fromDate, toDate, stateid, branchid) {
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("Gettop10orderValue", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                //console.log(msg);
                if (msg.length > 0) {
                    am4core.ready(function () {

                        // Themes begin
                        am4core.useTheme(am4themes_animated);
                        // Themes end

                        // Create chart instance
                        var chart = am4core.create("pieOne", am4charts.PieChart);

                        // Add data
                        chart.data = msg;

                        // Add and configure Series
                        var pieSeries = chart.series.push(new am4charts.PieSeries());
                        pieSeries.dataFields.value = "ORDVALUE";
                        pieSeries.dataFields.category = "PRODUCT";

                        // Disable ticks and labels
                        //pieSeries.labels.template.disabled = true;
                        pieSeries.ticks.template.disabled = true;
                        pieSeries.alignLabels = false;
                        pieSeries.labels.template.text = "{value.percent.formatNumber('#.0')}%";
                        pieSeries.labels.template.radius = am4core.percent(-40);
                        pieSeries.labels.template.fill = am4core.color("white");

                        pieSeries.ticks.template.adapter.add("hidden", hideSmall);
                        pieSeries.labels.template.adapter.add("hidden", hideSmall);

                        function hideSmall(hidden, target) {
                            return target.dataItem.values.value.percent < 5 ? true : false;
                        }
                        var colorSet = new am4core.ColorSet();
                        colorSet.list = ["#1325cc", "#eaab10", "#f83838", "#66ce1a", "#b90909", "#c9be14", "#387d01"].map(function (color) {
                            return new am4core.color(color);
                        });
                        pieSeries.colors = colorSet;
                        // Add a legend
                        chart.legend = new am4charts.Legend();
                        /*chart.legend.position = "right";
                        chart.legend.maxHeight = 250;*/
                        chart.legend.scrollable = true;
                        /*Rev 2.0*/
                        // Adjust legend position for mobile devices
                        if (window.innerWidth <= 767) {
                            chart.legend.position = "bottom";
                            chart.legend.maxHeight = 100;
                        } else {
                            chart.legend.position = "right";
                            chart.legend.maxHeight = 250;
                        }

                        // Redraw the chart when the window is resized
                        $(window).on("resize", function () {
                            if (window.innerWidth <= 767) {
                                chart.legend.position = "bottom";
                                chart.legend.maxHeight = 100;
                            } else {
                                chart.legend.position = "right";
                                chart.legend.maxHeight = 250;
                            }
                            chart.invalidateRawData();
                        });
                        /*Rev end 2.0*/

                    }); // end am4core.ready()
                } else {
                    $('#pieOne').html('<div class="nCheck">No Data Available</div>');
                }

            }
        });

    }
    // top 10 order quantity
    // Rev 3.0 [ parameter , stateid, branchid added]
    function gettop10orderQty(fromDate, toDate, stateid, branchid) {
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("Gettop10orderQuantity", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                if (msg.length > 0) {
                    am4core.ready(function () {

                        // Themes begin
                        am4core.useTheme(am4themes_animated);
                        // Themes end

                        // Create chart instance
                        var chart = am4core.create("pieTwo", am4charts.PieChart);

                        // Add data
                        chart.data = msg;

                        // Add and configure Series
                        var pieSeries = chart.series.push(new am4charts.PieSeries());
                        pieSeries.dataFields.value = "ORDQTY";
                        pieSeries.dataFields.category = "PRODUCT";
                        pieSeries.colors.step = 4;
                        // Disable ticks and labels
                       // pieSeries.labels.template.disabled = true;
                        //pieSeries.ticks.template.disabled = true;
                        pieSeries.ticks.template.disabled = true;
                        pieSeries.alignLabels = false;
                        pieSeries.labels.template.text = "{value.percent.formatNumber('#.0')}%";
                        pieSeries.labels.template.radius = am4core.percent(-40);
                        pieSeries.labels.template.fill = am4core.color("white");
                        pieSeries.ticks.template.adapter.add("hidden", hideSmall);
                        pieSeries.labels.template.adapter.add("hidden", hideSmall);

                        function hideSmall(hidden, target) {
                            return target.dataItem.values.value.percent < 5 ? true : false;
                        }
                        var colorSet = new am4core.ColorSet();
                        colorSet.list = ["#10a95f", "#6210b5", "#f83838", "#66ce1a", "#b90909", "#c9be14", "#387d01"].map(function (color) {
                            return new am4core.color(color);
                        });
                        pieSeries.colors = colorSet;
                        // Add a legend
                        chart.legend = new am4charts.Legend();
                        //chart.legend.position = "right";
                        //chart.legend.maxHeight = 250;
                        chart.legend.scrollable = true;
                        /*Rev 2.0*/
                        // Adjust legend position for mobile devices
                        if (window.innerWidth <= 767) {
                            chart.legend.position = "bottom";
                            chart.legend.maxHeight = 100;
                        } else {
                            chart.legend.position = "right";
                            chart.legend.maxHeight = 250;
                        }

                        // Redraw the chart when the window is resized
                        $(window).on("resize", function () {
                            if (window.innerWidth <= 767) {
                                chart.legend.position = "bottom";
                                chart.legend.maxHeight = 100;
                            } else {
                                chart.legend.position = "right";
                                chart.legend.maxHeight = 250;
                            }
                            chart.invalidateRawData();
                        });
                        /*Rev end 2.0*/

                    }); // end am4core.ready()
                } else {
                    $('#pieTwo').html('<div class="nCheck">No Data Available</div>');
                }
                //console.log(msg);

            }
        });
    }

    // Rev 3.0
    //function getTotalOrderCount(fromDate, toDate) {
    function getTotalOrderCount(fromDate, toDate, stateid, branchid) {
        // End of Rev 2.0
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("GetOrderAnalyticTotalOrderCount", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                //console.log(msg);
                $('#Total_oc').text(msg[0].ORDCNT);
            }
        });
    }
    // Rev 3.0
    //function getTotalOrderValue(fromDate, toDate) {
    function getTotalOrderValue(fromDate, toDate, stateid, branchid) {
        // End of Rev 3.0
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("GetOrderAnalyticTotalOrderValue", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                //console.log(msg[0].ORDVALUE);
                $('#TOTAL_ov').text(numberWithCommas(msg[0].ORDVALUE));
            }
        });
    }
    // Rev 3.0 [parameters , stateid, branchid added]
    function getAvgOrderValue(fromDate, toDate, stateid, branchid) {
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("GetOrderAnalyticAvgOrderValue", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {

                $('#TOTAL_aov').text(numberWithCommas(msg[0].AVGORDVALUE));
            }
        });
    }
    // Rev 3.0 [parameters , stateid, branchid added]
    function getOrderDelivered(fromDate, toDate, stateid, branchid) {
        var obj = {};
        obj.fromDate = fromDate;
        obj.toDate = toDate;
        // Rev 3.0
        obj.stateid = stateid;
        obj.branchid = branchid;
        // End of Rev 3.0
        var Url = '@Url.Action("GetOrderAnalyticOrderDelivered", "DashboardMenu")';
        $.ajax({
            type: "POST",
            url: Url,
            data: JSON.stringify(obj),
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                $('#TOTAL_ORDDELV').text(msg[0].ORDDELV);
            }
        });
    }
    function numberWithCommas(x) {
        x = x.toString();
        if (x.toString().indexOf('.') == -1) {
            var lastThree = x.substring(x.length - 3);
            var otherNumbers = x.substring(0, x.length - 3);
            if (otherNumbers != '')
                lastThree = ',' + lastThree;
            var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;

        } else {
            var dec = x.substr(x.indexOf('.') + 1, x.length);
            x = x.substr(0, x.indexOf('.'))
            var lastThree = x.substring(x.length - 3);
            var otherNumbers = x.substring(0, x.length - 3);
            if (otherNumbers != '')
                lastThree = ',' + lastThree;
            var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree + '.' + dec;
        }

        return res;
    }
</script>

@*Rev 3.0*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 Widgheading clearfix">
            <ul class="mapShowlist clearfix">
                <li class="relative">
                    @Html.Action("DashboardStateComboboxOrder")
                </li>
                <li class="relative">
                    @Html.Action("DashboardBranchComboboxOrder")
                </li>
            </ul>
        </div>
    </div>
</div>
@*End of Rev 3.0*@
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-right clearfix py-3">
                <table class="tbleChoosedate">
                    <tr>
                        <td>From</td>
                        <td class="dateWidth">
                            <input type="text" id="fromDate" class="form-control datepicker" />
                            <img src="/assests/images/calendar-icon.png" class="calendar-icon-new" />
                        </td>
                        <td>To</td>
                        <td class="dateWidth">
                            <input type="text" id="toDate" class="form-control datepicker" />
                            <img src="/assests/images/calendar-icon.png" class="calendar-icon-new" />
                        </td>
                        <td><button type="button" class="btn btn-success" onclick="getdata()">Show Analysis</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="colorBox">
                    <div class="infoWrp">
                        @*rev 1.0: 'icon-box-left' div add and icon change*@
                        <div class="icon-box-left">
                            @*<i class="fa fa-shopping-bag fltd" aria-hidden="true"></i>*@
                            <img src="/assests/images/total-order.png" />
                        </div>
                        @*rev end 1.0*@
                        <div class="nums" id="Total_oc">0</div>
                        <div class="txts">Total Order Count</div>
                    </div>
                    <div class="mrLinks hide">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="colorBox c1">
                    <div class="infoWrp">
                        @*rev 1.0: 'icon-box-left' div add and icon change*@
                        <div class="icon-box-left">
                            @*<i class="fa fa-inr fltd" aria-hidden="true"></i>*@
                            <img src="/assests/images/total-order-value.png" />
                        </div>
                        @*rev end 1.0*@
                        <div class="nums"><span id="TOTAL_ov">0</span> </div>
                        <div class="txts">Total Order Value</div>
                    </div>
                    <div class="mrLinks hide">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="colorBox c2">
                    <div class="infoWrp">
                        @*rev 1.0: 'icon-box-left' div add and icon change*@
                        <div class="icon-box-left">
                            @*<i class="fa fa-inr fltd" aria-hidden="true"></i>*@
                            <img src="/assests/images/average-order-value.png" />
                        </div>
                        @*rev end 1.0*@
                        <div class="nums" id="TOTAL_aov">0</div>
                        <div class="txts">Average Order Value</div>
                    </div>
                    <div class="mrLinks hide">

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="colorBox c3">
                    <div class="infoWrp">
                        @*rev 1.0: 'icon-box-left' div add and icon change*@
                        <div class="icon-box-left">
                            @*<i class="fa fa-truck fltd" aria-hidden="true"></i>*@
                            <img src="/assests/images/order-delivered.png" />
                        </div>
                        @*rev end 1.0*@
                        <div class="nums" id="TOTAL_ORDDELV">0</div>
                        <div class="txts">Order Delivered</div>
                    </div>
                    <div class="mrLinks hide">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box-holder mTop10 box-full">
            @*<span class="toggleFullScreen" data-toggle="tooltip" data-placement="bottom" title="Toggle Fullscreen">*@
            <span class="toggleFullScreen" data-toggle="tooltip" data-placement="bottom" title="Maximize">
                @*<i class="fa fa-arrows-alt" aria-hidden="true"></i>*@
                <img src="/assests/images/maximize.png" />
            </span>
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hdd-rp">
                            Top 10 Items(s) on Order value
                        </div>
                    </div>
                </div>
            </div>
            <div class="bxd-cont">
                <div class="row">
                    <div class="col-md-12">
                        <div id="pieOne" class="chartHolder font-normal"><div class="nCheck">Select date to refresh data</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box-holder mTop10 box-full">
            @*<span class="toggleFullScreen" data-toggle="tooltip" data-placement="bottom" title="Toggle Fullscreen">*@
            <span class="toggleFullScreen" data-toggle="tooltip" data-placement="bottom" title="Maximize">
                @*<i class="fa fa-arrows-alt" aria-hidden="true"></i>*@
                <img src="/assests/images/maximize.png" />
            </span>
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hdd-rp">
                            Top 10 Items(s) on Order Quantity
                        </div>
                    </div>
                </div>
            </div>
            <div class="bxd-cont">
                <div class="row">
                    <div class="col-md-12">
                        <div id="pieTwo" class="chartHolder font-normal"><div class="nCheck">Select date to refresh data</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-12">
        <div class="box-holder mTop10">

            <div class="bxd-cont">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box-full">
                            @*<span class="toggleFullScreen" style="top:10px" data-toggle="tooltip" data-placement="bottom" title="Toggle Fullscreen">*@
                            <span class="toggleFullScreen" style="top:10px" data-toggle="tooltip" data-placement="bottom" title="Maximize">
                                @*<i class="fa fa-arrows-alt" aria-hidden="true"></i>*@
                                <img src="/assests/images/maximize.png" />
                            </span>
                            <div id="chartLine" class="chartHolder font-normal pt-5">@*<div class="nCheck">Select date to refresh data</div>*@</div>
                            <div class="hdd-rp text-center">Order Count</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-full">
                            @*<span class="toggleFullScreen" style="top:10px" data-toggle="tooltip" data-placement="bottom" title="Toggle Fullscreen">*@
                            <span class="toggleFullScreen" style="top:10px" data-toggle="tooltip" data-placement="bottom" title="Maximize">
                                @*<i class="fa fa-arrows-alt" aria-hidden="true"></i>*@
                                <img src="/assests/images/maximize.png" />
                            </span>
                            <div id="chartLine2" class="chartHolder font-normal pt-5"><div class="nCheck">Select date to refresh data</div></div>
                            <div class="hdd-rp text-center">Order Total</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-full">
                            @*<span class="toggleFullScreen" style="top:10px" data-toggle="tooltip" data-placement="bottom" title="Toggle Fullscreen">*@
                            <span class="toggleFullScreen" style="top:10px" data-toggle="tooltip" data-placement="bottom" title="Maximize">
                                @*<i class="fa fa-arrows-alt" aria-hidden="true"></i>*@
                                <img src="/assests/images/maximize.png" />
                            </span>
                            <div id="chartLine3" class="chartHolder font-normal pt-5"><div class="nCheck">Select date to refresh data</div></div>
                            <div class="hdd-rp text-center">Order Delivered</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box-holder mTop10">
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hdd-rp">
                            Top Party on Order Value
                        </div>
                    </div>
                </div>
            </div>
            <div class="bxd-cont">
                <div class="row">
                    <div class="col-md-12 font-normal">
                        <table class="usrTabl">
                            <thead>
                                <tr>
                                    <th>Party</th>
                                    <th class="text-right">Order value</th>
                                </tr>
                            </thead>
                            <tbody id="topCustomersTble">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box-holder mTop10">
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hdd-rp">
                            Statewise Top Orders on Order Value
                        </div>
                    </div>
                </div>
            </div>
            <div class="bxd-cont">
                <div class="row">
                    <div class="col-md-12 font-normal">
                        <table class="usrTabl">
                            <thead>
                                <tr>
                                    <th>State</th>
                                    <th class="text-right">Order value</th>
                                </tr>
                            </thead>
                            <tbody id="stateWise">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div style="float: left; margin-left: 15px; margin-top: 28px;" class="order-rating-title">Customer Order Rating</div>
    <div class="col-md-12">
        @{
            Html.RenderAction("Rendermainpage", "ShopOrderRating");
        }
    </div>
</div>
<!-- Chart code -->
