@*====================================================== Revision History ===================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                15-02-2023        V2.0.39          Pallab              25656: Master module design modification *@
@*2.0                16-04-2024        V2.0.47          Sanchita            0027367: Micro Learning Training content view issue # Live Demo App *@
@*====================================================== Revision History ===================================================*@

@{
    ViewBag.Title = "Micro Learning Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function AddDocGroup() {
        $("#hdnID").val('0');
        $("#DocGroupModal").modal('show')
    }

    function AddDoc(id) {
        window.location.href = "@Url.Action("UploadVideo", "DocumentSharing")" + "?id=" + id;
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })


    function EditClick(ID) {
        $("#hdnID").val(ID);
        $.ajax({
            type: "POST",
            url: "@Url.Action("EditDocumentGroup", "DocumentSharing")",
            data: { id: ID },
            success: function (response) {

                if (response.code == "") {
                    jAlert('No data found');
                }
                else {
                    $("#txtCode").val(response.code)
                    $("#txtName").val(response.name)
                    $("#DocGroupModal").modal('show')
                }
            }
        });
    }

    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    function SaveDocGroup() {
        var id = $("#hdnID").val();
        //if ($("#txtCode").val().trim() == "") {
            $("#txtCode").val(uuidv4());
        //}
        if ($("#txtName").val().trim() == "") {
            jAlert("Enter name to proceed.");
            return false;
        }
        else {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveDocumentGroup", "DocumentSharing")",
                data: { code: $("#txtCode").val(), name: $("#txtName").val(), id: id },
                success: function (response) {
                    if (parseInt(response) > 0) {
                        jAlert('Saved successfully.');
                        $("#DocGroupModal").modal('hide');
                        $("#txtCode").val("")
                        gridList.Refresh();
                    }
                    // Rev 2.0 [ {} added in else if part ]
                    else if (parseInt(response) == -1) {
                        $("#txtCode").val("");
                        jAlert('Code already exists.');
                    }
                }
            });
        }
    }

    function beginUsergridcallback(s, e) {
        e.customArgs["id"] = $("#hdnID").val();
    }
    function AssignUserClick(ID) {
        $("#hdnID").val(ID);
        $("#usermapModal").modal('show');
        gridUserList.Refresh();
        var unselect = [];
       // gridUserList.SelectRowsByKey(unselect)
        $.ajax({
            type: "POST",
            url: "@Url.Action("SetUsers", "DocumentSharing")",
            data: { ID: ID },
            success: function (response) {
               // if (response.length > 0) {

                    gridUserList.SelectRowsByKey(response)
               // }
            }
        });


    }

    function SaveUserDocGroup() {
        var id = $("#hdnID").val();
        gridUserList.GetSelectedFieldValues("user_id", function (str) {
            var selected = str.join(",");
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveDocumentGroupUser", "DocumentSharing")",
                data: { selected: selected, id: id },
                success: function (response) {
                    if (parseInt(response) > 0) {
                        jAlert('Saved successfully.');
                        $("#DocGroupModal").modal('hide');
                        gridList.Refresh();
                    }
                    else if (parseInt(response) == -1)
                        jAlert('Code already exists.')
                }
            });
        });
    }


    function DeleteClick(ID) {
        $("#hdnID").val(ID);

        jConfirm('Delete ?', 'Alert', function (r) {
            if (r == true)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "DocumentSharing")",
                    data: { ID: ID },
                    success: function (response) {
                        jAlert('Deleted successfully.')
                        gridList.Refresh();
                    }
                });
        });



    }

</script>

<style>
    /*Rev 1.0*/

    body, .dxtcLite_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .dxeButtonDisabled_PlasticBlue {
        background: #ababab !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 13px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 7px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 9px;
        right: 24px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select, .h-branch-select-new {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            /*content: url(../../../assests/images/left-arw.png);*/
            position: absolute;
            top: 43px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

        .h-branch-select-new::after {
            content: '<';
            /*content: url(../../../assests/images/left-arw.png);*/
            position: absolute;
            top: 9px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    select:not(.btn):focus {
        border-color: #094e8c;
    }

    select:not(.btn):focus-visible {
        box-shadow: none;
        outline: none;
    }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    select:not(.btn) {
        padding-right: 30px;
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue,
    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo, #FormDate, #toDate, #proj_start_dt {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .modal-content {
        border: none;
        border-radius: 10px;
    }

    .modal-header .modal-title {
        font-size: 14px;
    }

    .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1, #cmbDOJ_B-1, #cmbLeaveEff_B-1, #FormDate_B-1, #toDate_B-1, #proj_start_dt_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img, #cmbDOJ_B-1 #cmbDOJ_B-1Img, #cmbLeaveEff_B-1 #cmbLeaveEff_B-1Img, #FormDate_B-1 #FormDate_B-1Img, #toDate_B-1 #toDate_B-1Img, #proj_start_dt_B-1 #proj_start_dt_B-1Img {
            display: none;
        }

    #FormDate_I, #toDate_I, #proj_start_dt_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        /*z-index: 1;*/
    }

    .pad-md-18 {
        padding-top: 10px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .dxeCalendarSelected_PlasticBlue {
        color: White;
        background-color: #185598;
    }

    .dxeTextBox_PlasticBlue {
        height: 34px;
        border-radius: 4px;
    }

    #cmbDOJ_DDD_PW-1 {
        z-index: 9999 !important;
    }

    #cmbDOJ, #cmbLeaveEff {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    .btn-sm, .btn-xs {
        padding: 7px 10px !important;
    }

    #productAttributePopUp_PWH-1 span, #ASPxPopupControl2_PWH-1 span {
        color: #fff !important;
    }

    #marketsGrid_DXPEForm_tcefnew, .dxgvPopupEditForm_PlasticBlue {
        height: 220px !important;
    }

    .btn {
        height: 34px;
    }

    #proj_start_dt_DDD_PW-1 {
        left: -21px !important;
    }
    /*Rev end 1.0*/

    @@media only screen and (max-width: 768px) {
        /*.backBox
        {
                overflow: hidden;
        }
        .overflow-x-auto
        {
                width: 290px;
        }*/

        .breadCumb > span {
            padding: 9px 10px;
            text-align: center;
        }

        .breadCumb {
            padding: 0 10%;
        }

        #DocGroupModal .modal-dialog {
            width: 96% !important;
        }

        #DocGroupModal .modal-body, #DocGroupModal .modal-footer {
            width: 100% !important;
        }
        /*
        #DesigGrid_DXPEForm_PW-1
        {
            width: 300px !important;
        }*/
    }
</style>

<div class="breadCumb">
    <span>Micro Learning Configuration</span>
</div>
<div class="container">
    <div class="form_main backBox px-3 clearfix">
        <div class="row pt-3">
            <div class="col-md-12">
                <button type="button" id="btnAdd" class="btn btn-success" onclick="AddDocGroup()"> <i class="fa fa-plus"></i> Add</button>
            </div>
        </div>

        <br />
        <div class="scrooler">
            <div id="refreshgrid">
                @{
                    Html.RenderAction("PartialGrid", "DocumentSharing");
                }
            </div>
        </div>
    </div>
</div>


<div id="DocGroupModal" class="modal pmsModal  fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog" style="width: 500px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add/Modify Document Group</h4>
            </div>
            <div class="modal-body" style="width: 476px;">
                <div id="divModalBody">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hide"><label>Code</label></div>
                            <div class="hide">
                                <input type="text" id="txtCode" maxlength="100" class="form-control" />
                            </div>
                            <div><label>Name</label></div>
                            <div>
                                <input type="text" id="txtName" maxlength="100" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="width: 476px;">

                <div>
                    <button type="button" id="btnSave" class="btn btn-success" onclick="SaveDocGroup()">Save</button>
                </div>

            </div>
        </div>

    </div>
    <input type="hidden" id="hdnID" />
</div>


<div id="usermapModal" class="modal pmsModal  fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog" style="width: 750px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Map</h4>
            </div>
            <div class="modal-body" style="width: auto">
                <div id="divModalBody">
                    @{
                        Html.RenderAction("PartialUserGrid", "DocumentSharing", new { id = "0" });
                    }
                </div>
            </div>
            <div class="modal-footer" style="width: auto">

                <div>
                    <button type="button" id="btnSave" class="btn btn-success" onclick="SaveUserDocGroup()">Map User</button>
                </div>

            </div>
        </div>

    </div>
    <input type="hidden" id="hdnID" />
</div>
