                                                                                                                                                                                        `
@model IEnumerable<MyShop.Models.InactiveUsersoutput>

<script type="text/javascript">


    $(function () {

        //$('#tblshoplist tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        //});

        //  var table = $("#tblshoplist").dataTable();

        $("#tblshoplist").dataTable({
            "aaSorting": [],
            "bFilter": true,
            "ordering": false
        });



        //$('#tblshoplist tfoot th').each(function (i) {

        //    var title = $('#tblshoplist thead th').eq($(this).index()).text();
        //    // or just var title = $('#sample_3 thead th').text();
        //    var serach = '<input type="text" placeholder="Search ' + title + '" />';
        //    $(this).html('');
        //    $(serach).appendTo(this).keyup(function () { table.fnFilter($(this).val(), i) })
        //});



    });
</script>


<style>
    #tblshoplist {
        border: 1px solid #ccc;
        border-top: transparent;
    }

        #tblshoplist > thead > tr > th {
            background: #0f87cc;
            border-top: 1px solid #0f87cc;
            color: #fff;
        }

    tfoot {
        display: table-header-group;
    }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
</style>

<div class="x_content">
    <div class="rTable">
        <table id="tblshoplist" class="table table-bordered table-bordered">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>State</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Last activity</th>
                  
                </tr>
            </thead>

            @*<tfoot>
                    <tr>

                        <th>User</th>
                        <th>Designation</th>
                        <th>Login Date</th>
                        <th>Login Time</th>
                        <th>Logout Time</th>
                        <th>Duration</th>
                        <th>Login/Logout Status</th>
                    </tr>
                </tfoot>*@
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.UserName</td>
                            <td>@item.EmployeeName</td>

                            <td>@item.Designation</td>
                            <td>@item.StateName</td>
                            <td>@item.ContactNumber</td>
                            <td>@item.Email</td>
                            <td>@item.Lastactivity</td>

                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</div>
