@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                02-02-2023        2.0.38           Pallab              25576: Report page design modification *@
@*2.0                14-06-2023        2.0.41           Pallab              26337: Attendance Register report parameter design issue fix *@
@*3.0                19/07/2023        V2.0.41          Sanchita            Add Branch parameter in MIS - Attendance Register. Mantis : 26135*@
@*4.0                11/08/2023        V2.0.42          Sanchita            Two check box is required to show the first call time & last call time in Attendance Register Report
                                                                                            Mantis : 26707
    @*5.0                07-11-2023        V2.0.43          Sanchita            0026895: System will prompt for Branch selection if the Branch hierarchy is activated.
    @*6.0                08-11-2023        V2.0.44          Sanchita            26954 : In Attendance Register Report, Including Inactive users check box implementation is required
    @*7.0                01-10-2024        V2.0.49          Pallab              27743 : Attendance Register report data show button multiple time clicked, page stuck and showing no response.
    @*====================================================== Revision History ==========================================================*@

@model System.Data.DataSet

@{
    ViewBag.Title = "AttendanceRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/SearchPopup.js"></script>
@*<link href="~/assests/css/custom/SearchPopup.css" rel="stylesheet" />*@
<link href="~/assests/css/custom/SearchPopup.css" rel="stylesheet" />
<script src="~/assests/pluggins/choosen/choosen.min.js"></script>
<script src="~/Scripts/SearchMultiPopup.js"></script>

<link href="~/assests/pluggins/LightBox/lightbox.css" rel="stylesheet" />
<script src="~/assests/pluggins/LightBox/lightbox.js"></script>

<script>
    var is_pageload = "0";
    $(function () {

        // Rev 3.0
        var lookup = ASPxClientControl.GetControlCollection().GetByName("BranchGridLookup");
        lookup.GetGridView().Refresh();
        var lookup = ASPxClientControl.GetControlCollection().GetByName("BranchGridLookup");
        lookup.GetGridView().Refresh();
        // End of Rev 3.0

        var d = new Date();

        dtFrom.SetValue(d);
        dtTo.SetValue(d);

        $('body').on('click', '#btnshow', function () {

    GetEmpSelectedFieldValuesOndemand($("#hdnEmployeeId").val());



    var flag = true;

    if (dtFrom.GetDate() == null) {
        $('#MandatoryFromDate').attr('style', 'display:block');
        flag = false;
    } else {
        $('#MandatoryFromDate').attr('style', 'display:none');
    }

    if (dtTo.GetDate() == null) {
        $('#MandatoryToDate').attr('style', 'display:block');
        flag = false;
    } else {
        $('#MandatoryToDate').attr('style', 'display:none');
    }

    datefrm = dtFrom.GetText();
    var newdatefrom = datefrm.split("-").reverse().join("-");

    var startdate = new Date(Date.parse(newdatefrom));

    dateto = dtTo.GetText();
    var newdateTo = dateto.split("-").reverse().join("-");

    var endDate = new Date(Date.parse(newdateTo));

    if (endDate < startdate) {
        jAlert('From date should be before/equal To date');

    } else {
        var start = $('#dtFrom_I').val();
        var end = $('#dtTo_I').val();
        start = start.split('-')[1] + '-' + start.split('-')[0] + '-' + start.split('-')[2];
        end = end.split('-')[1] + '-' + end.split('-')[0] + '-' + end.split('-')[2];

        var dayse = Math.round((Date.parse(end) - Date.parse(start)) / (1000 * 60 * 60 * 24));

        if (dayse > 35) {
            jAlert("Searching days must be within 35 days");

            return false;
        }

        if ($("#hdnBranchMandatory").val() == "0") {
            if (BranchId == "" || BranchId == null) {
                jAlert("Please select Branch.");

                return false;
            }
        }

        var data = [];
        data.is_pageload = "0";

        var surl = '@Url.Action("PerformanceGridViewCallback", "HorizontalAttendance")';
        // Rev 7.0
        // Making the AJAX call asynchronous
        $.ajax({
            url: surl,
            data: { model: data },
            type: 'POST',
            success: function (data) {
                if (dayse <= 30 && flag == true) {
                    is_pageload = "1";
                    gridsalesmanView.Refresh(); // Refresh the grid
                }
            },
            complete: function () {
                // Hide the loader after grid data is loaded and AJAX call is complete

            },
            error: function () {
                // Hide the loader in case of an error

            }
        });
    }
});



        $('#ddlSumExport').on('change', function () {
            if ($("#ddlSumExport option:selected").index() > 0) {
                var selectedValue = $(this).val();
                //var desg = $("#drpdesignation").val();
                //var usrtype = $("#ddlusertypes").val();
                $('#ddlSumExport').prop("selectedIndex", 0);
                var url = '@Url.Action("ExportSalesGridView", "HorizontalAttendance", new { type = "_type_" })'
                window.location.href = url.replace("_type_", selectedValue);


            }
        });
    })

    // Rev 3.0
    function BranchStartCallback(s, e) {
        e.customArgs["UserID"] = $("#hdnUserID").val();
    }

    function BranchLookupValChange() {
        BranchGridLookup.GetGridView().Refresh();
    }
    // End of Rev 3.0

    function OnStartCallback(s, e) {
        // Rev 7.0
        document.getElementById("loading-overlay").style.display = "block";
        // Rev end 7.0
        var TotalKMTravelled=0;
        var SecondarySalesValue=0;
        var IdleTimeCount=0;
        var ShowAttendanceSelfie = 0;

        //Mantise work 0025111
        var ShowFullday = 0;
        var ShowLoginLocation = 0;
        var ShowLogoutLocation = 0;
        //End of Mantise work 0025111
        // Rev 4.0
        var ShowFirstCallTime = 0;
        var ShowLastCallTime = 0;
        // End of Rev 4.0
        // Rev 6.0
        var ShowInactiveUser = 0;
        // End of Rev 6.0

        e.customArgs["Fromdate"] = dtFrom.GetText();
        e.customArgs["Todate"] = dtTo.GetText();
        e.customArgs["ProductID"] = ProductId;
        e.customArgs["empcode"] = empId;
        e.customArgs["is_pageload"] = is_pageload;
        e.customArgs["PageName"] = "HorizontalAttendance";
        // alert(e.customArgs["StateId"]);
        if (document.getElementById("chkTotalKMTravelled").checked) {
            TotalKMTravelled = 1;
        }
        if (document.getElementById("chkSecondarySalesValue").checked) {
            SecondarySalesValue = 1;
        }
        if (document.getElementById("chkIdleTimeCount").checked) {
            IdleTimeCount = 1;
        }
        if (document.getElementById("chkShowAttendanceSelfie").checked) {
            ShowAttendanceSelfie = 1;
        }
        //Mantise work 0025111
        if (document.getElementById("chkShowFullDay").checked) {
            ShowFullday = 1;
        }

        if (document.getElementById("chkShowLogIn").checked) {
            ShowLoginLocation = 1;
        }
        if (document.getElementById("chkShowLogOut").checked) {
            ShowLogoutLocation = 1;
        }
        //End of Mantise work 0025111
        // Rev 4.0
        if (document.getElementById("chkShowFirstCallTime").checked) {
            ShowFirstCallTime = 1;
        }
        if (document.getElementById("chkShowLastCallTime").checked) {
            ShowLastCallTime = 1;
        }
        // End of Rev 4.0
        // Rev 6.0
        if (document.getElementById("chkShowInactiveUser").checked) {
            ShowInactiveUser = 1;
        }
        // End of Rev 6.0
        e.customArgs["TotalKMTravelled"] = TotalKMTravelled;
        e.customArgs["SecondarySalesValue"] = SecondarySalesValue;
        e.customArgs["IdleTimeCount"] = IdleTimeCount;
        e.customArgs["ShowAttendanceSelfie"] = ShowAttendanceSelfie;
        //Mantise work 0025111
        e.customArgs["ShowFullday"] = ShowFullday;
        e.customArgs["ShowLoginLocation"] = ShowLoginLocation;
        e.customArgs["ShowLogoutLocation"] = ShowLogoutLocation;
        //End of Mantise work 0025111
        // Rev 3.0
        e.customArgs["BranchId"] = BranchId;
        // End of Rev 3.0
        // Rev 4.0
        e.customArgs["ShowFirstCallTime"] = ShowFirstCallTime;
        e.customArgs["ShowLastCallTime"] = ShowLastCallTime;
        // End of Rev 4.0
        // Rev 6.0
        e.customArgs["ShowInactiveUser"] = ShowInactiveUser;
        // End of Rev 6.0


    }
    // Rev 7.0
    function OnEndCallback() {
        // Hide overlay and remove blur when data finishes loading
        document.getElementById("loading-overlay").style.display = "none";
        /*document.getElementById("grid-container").classList.remove("blur");*/
    }
    // Rev end 7.0

    function DateValidateFrom() {
        if (dtTo.GetDate()) {
            if (dtTo.GetDate() < dtFrom.GetDate()) {
                dtTo.SetValue(dtFrom.GetDate());
            }
        }
    }

    function DateValidateTo() {
        if (dtFrom.GetDate()) {
            if (dtTo.GetDate() < dtFrom.GetDate()) {
                dtTo.SetValue(dtFrom.GetDate());
            }
        }
    }

    function EmpStartCallback(s, e) {
        e.customArgs["StateId"] = "";
        e.customArgs["desgid"] = "";
    }

    var empId = [];
    function EmpSelectionChanged(s, e) {
        EmpGridLookup.gridView.GetSelectedFieldValues("empcode", GetEmpSelectedFieldValuesCallback);
    }
    function GetEmpSelectedFieldValuesCallback(values) {
        try {
            empId = [];
            for (var i = 0; i < values.length; i++) {
                empId.push(values[i]);
            }
        } finally {
            console.log(empId);
        }
    }

    function LookupValChange() {
        EmpGridLookup.GetGridView().Refresh();
        EmpGridLookup.GetGridView().Refresh();
    }

    function ProductStartCallback(s, e) {

    }

    var ProductId = [];
    function ProductSelectionChanged(s, e) {
        ProductGridLookup.gridView.GetSelectedFieldValues("Productcode", GetProductSelectedFieldValuesCallback);
    }
    function GetProductSelectedFieldValuesCallback(values) {
        try {
            ProductId = [];
            for (var i = 0; i < values.length; i++) {
                ProductId.push(values[i]);
            }
        } finally {
            console.log(ProductId);
        }
    }

    function ProductLookupValChange() {
        ProductGridLookup.GetGridView().Refresh()
    }

    // Rev 3.0
    var BranchId = [];
    var Branch_Id = "";
    function BranchSelectionChanged(s, e) {
        BranchGridLookup.gridView.GetSelectedFieldValues("BRANCH_ID", GetSelectedFieldValuesCallbackBranch);
    }
    function GetSelectedFieldValuesCallbackBranch(values) {

        try {
            BranchId = [];
            Branch_Id = "";
            for (var i = 0; i < values.length; i++) {
                BranchId.push(values[i]);
                Branch_Id += values[i] + ',';
            }
        } finally {
            console.log(BranchId);
        }
    }

    function SelectAllGridLookup(s, e) {
        BranchGridLookup.gridView.SelectRows();
        var Hoid = $('#HeadBranch').val();
        BranchId = "";
        BranchGridLookup.SetText("");
        if (Hoid == null || Hoid == "") {
            //Hoid = "0";
            return false;
        }
        else {
            $.ajax({
                type: 'POST',
                url: "/MasterPopulate/GetSelectedChildBranchList",
                data: { "Hoid": Hoid },
                dataType: "json",
                async: false,
                success: function (data) {
                    BranchId = [];
                    Branch_Id = "";
                    $.each(data, function (i, data) {
                        BranchId.push(data.BRANCH_ID);
                        Branch_Id += data.BRANCH_ID + ',';
                    });
                    BranchGridLookup.gridView.SelectRows();
                },
                error: function () {
                }
            });
        }
    }
    function DeSelectAllGridLookup(s, e) {
        BranchGridLookup.gridView.UnselectRows();

        BranchId = [];
        Branch_Id = "";
    }
    // Rev 3.0
    //function BindBranches() {
    //    var Hoid = $('#HeadBranch').val();
    //    BranchId = "";
    //    BranchGridLookup.SetText("");
    //    if (Hoid == null || Hoid == "") {
    //        //Hoid = "0";
    //        return false;
    //    }
    //    else {
    //        $.ajax({
    //            type: 'POST',
    //            url: "/MasterPopulate/GetChildBranchList",
    //            data: { "Hoid": Hoid },
    //            dataType: "json",
    //            async: false,
    //            success: function (data) {
    //            },
    //            error: function () {
    //            }
    //        });
    //        BranchGridLookup.GetGridView().Refresh();
    //    }
    //}
    $(document).on('change', '#HeadBranch', function () {
        var Hoid = $('#HeadBranch').val();
        BranchId = "";
        BranchGridLookup.SetText("");
        if (Hoid == null || Hoid == "") {
            Hoid = "0";
        }
        $.ajax({
            type: 'POST',
            url: "/MasterPopulate/GetChildBranchList",
            data: { "Hoid": Hoid },
            dataType: "json",
            async: false,
            success: function (data) {
                //result = data;
                //BranchGridLookup.GetGridView().Refresh();
            },
            error: function () {
                //BranchGridLookup.GetGridView().Refresh();
            }
        });
        BranchGridLookup.GetGridView().Refresh();

    })
    // End of Rev 3.0
    // End of Rev 3.0
</script>

<style>
    .expTypeImg {
        list-style-type: none;
        padding: 0;
    }

        .expTypeImg > li {
            display: inline-block;
        }

            .expTypeImg > li > div {
                position: relative;
            }

                .expTypeImg > li > div > img {
                }

                .expTypeImg > li > div .imageCap {
                    position: absolute;
                    bottom: 0;
                    z-index: 5;
                    width: 100%;
                    color: #fff;
                    background: #bd9f9f;
                    padding: 5px 10px;
                    text-align: center;
                }

    .mTop10 {
        margin-top: 10px;
    }

    .dxpcLite_PlasticBlue .dxpc-content, .dxdpLite_PlasticBlue .dxpc-content {
        background: #fff;
    }


    .padTabl > tbody > tr > td {
        padding: 3px 10px;
    }

    #tblshoplist > thead > tr > th {
        background: #5F65AD !important;
        border-top: 1px solid #0f87cc;
        color: #fff;
    }

    #tblshoplist tbody > tr > th, #tblshoplist tfoot > tr > th, #tblshoplist thead > tr > td, #tblshoplist tbody > tr > td, #tblshoplist tfoot > tr > td {
        padding: 1px 5px !important;
    }

    .disableHref {
        opacity: 0.3;
    }

    .scrooler {
        width: 100%;
        overflow-x: scroll;
    }

    .w1 {
        width: 107px;
    }

    .date {
        width: 62px;
    }

    .labelTbl > tbody > tr > td {
        padding-right: 20px;
        padding-bottom: 5px;
    }

    #StateGridLookup_ET > tbody > tr > td:first-child, #DesigGridLookup_ET > tbody > tr > td:first-child, #EmpGridLookup_ET > tbody > tr > td:first-child {
        display: none;
    }

    .validclass {
        position: absolute;
        right: 3px;
        top: 32px;
    }

    #gridsalessummaryregister {
        width: 100% !important;
    }

    .myAssignTarget {
        margin-bottom: 0;
    }

        .myAssignTarget > li {
            list-style-type: none;
            display: inline-block;
            font-size: 11px;
            text-align: center;
        }

            .myAssignTarget > li:not(:last-child) {
                margin-right: 15px;
            }

            .myAssignTarget > li.mainCircle {
                border: 1px solid #a2d3d8;
                border-radius: 8px;
                overflow: hidden;
            }

            .myAssignTarget > li .heading {
                padding: 2px 12px;
                background: #6d82c5;
                color: #fff;
            }

            .myAssignTarget > li .Num {
                font-size: 14px;
            }

            .myAssignTarget > li.mainHeadCenter {
                font-size: 12px;
                transform: translateY(-16px);
            }

    #myAssignTargetpopup {
        padding: 0;
    }

        #myAssignTargetpopup > li .heading {
            padding: 6px 12px;
            background: #7f96dc;
            font-weight: 600;
            color: #fff;
        }

        #myAssignTargetpopup li .Num {
            font-size: 14px;
            padding: 5px;
        }

    .linerHd {
        background: #dedede;
        padding: 3px 15px;
        margin-bottom: 5px;
    }

    .popheader {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 8px;
        padding-left: 7px;
    }

    .lightbox {
        z-index: 10000000;
    }

    .lightboxOverlay {
        z-index: 9999999;
    }

    .btn-excel {
        position: absolute;
        right: 6px;
        top: 8px;
    }

    .chkDs {
        padding-top: 5px;
    }

        .chkDs > input[type=checkbox] {
            margin-right: 5px;
        }

    /*Rev 1.0*/

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            content: '<';
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 5px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 10px;
        right: 24px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 8px;
            right: -3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .whclass.selectH {
        padding-right: 30px;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .pmsModal .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .pmsModal .modal-content {
        border: none;
        border-radius: 10px;
    }

    .pmsModal .modal-header .modal-title {
        font-size: 14px;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    /*.w150 {
        width: 190px;
    }*/

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img {
            display: none;
        }

    #dtFrom_I, #dtTo_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        z-index: 1;
    }

    .pad-md-18 {
        padding-top: 24px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    /*Rev end 1.0*/

    .pdt-18 {
        padding-top: 10px;
    }
</style>

@*Rev 3.0*@
<style>
    #BranchGridLookup_CC {
        width: 100%;
    }

    .pdt-32 {
        padding-top: 27px !important;
    }

    .col-md-3 {
        margin-bottom: 10px;
    }

    .dashboardHighlightWrap {
        overflow: visible !important;
    }

    /*Rev 7.0*/
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        display: none; /* Initially hidden */
    }

    .flex-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .dxgvLoadingPanel_PlasticBlue {
        display: none !important;
    }

    .flex-loader img {
        width: 120px;
    }

    .flex-loader h4 {
        font-size: 22px;
        color: #000000;
    }

    .whclass.selectH {
        position: relative;
        z-index: 1;
        background: transparent;
        appearance: none;
    }

    /*Rev end 7.0*/
</style>
@*End of Rev 3.0*@

<script>
    $(document).ready(function () {
        $('#EmployeeModel').on('shown.bs.modal', function () {
            $('#txtEmployeeSearch').focus();
        })
    })
    var ProdArr = new Array();
    $(document).ready(function () {
        var ProdObj = new Object();
        ProdObj.Name = "EmployeeSource";
        ProdObj.ArraySource = ProdArr;
        arrMultiPopup.push(ProdObj);
    })

    function EmployeeButnClick(s, e) {
        $('#EmployeeModel').modal('show');
    }

    function Employee_KeyDown(s, e) {
        if (e.htmlEvent.key == "Enter") {
            $('#EmployeeModel').modal('show');
        }
    }

    function Employeekeydown(e) {
        var OtherDetails = {}

        if ($.trim($("#txtEmployeeSearch").val()) == "" || $.trim($("#txtEmployeeSearch").val()) == null) {
            return false;
        }
        OtherDetails.SearchKey = $("#txtEmployeeSearch").val();
        OtherDetails.ClassID = "";

        if (e.code == "Enter" || e.code == "NumpadEnter") {

            var HeaderCaption = [];
            HeaderCaption.push("Employee Name");
            HeaderCaption.push("Employee Code");


            if ($("#txtEmployeeSearch").val() != "") {
                callonServerM("../../../Models/ShopAddress.asmx/GetEmployeeList", OtherDetails, "EmployeeTable", HeaderCaption, "dPropertyIndex", "SetSelectedValues", "EmployeeSource");
            }
        }
        else if (e.code == "ArrowDown") {
            if ($("input[dPropertyIndex=0]"))
                $("input[dPropertyIndex=0]").focus();
        }
    }

    function SetfocusOnseach(indexName) {
        if (indexName == "dPropertyIndex")
            $('#txtEmployeeSearch').focus();
        else
            $('#txtEmployeeSearch').focus();
    }

    function SetSelectedValues(Id, Name, ArrName) {
        if (ArrName == 'EmployeeSource') {
            var key = Id;
            if (key != null && key != '') {
                $('#EmployeeModel').modal('hide');
                EmployeeTxt.SetText(Name);
                $('#hdnEmployeeId').val(key);
            }
            else {
                EmployeeTxt.SetText('');
                $('#hdnEmployeeId').val('');
            }
        }
    }

    function GetEmpSelectedFieldValuesOndemand(values) {
        try {
            empId = [];
            var eids = values.split(',');
            for (var i = 0; i < eids.length; i++) {
                empId.push(eids[i]);
            }
        } finally {
            console.log(empId);
        }
    }
</script>

<script>



</script>


<div class="breadCumb">
    <span>Attendance Register</span>
</div>
@*Rev 7.0*@
<div class="overlay" id="loading-overlay">
    <div class="flex-loader">
        <img src="/assests/images/new-loader.gif" />
        <h4>Data is loading, Please Wait</h4>
    </div>

</div>
@*Rev end 7.0*@

<div class="container">
    <div class="backBox mt-5 p-3">
        <div class="row">
            <div class="col-md-12">
                @*Rev 2.0: change all parameter format(table structure to div structure)*@
                <div class="row">
                    <div class="col-md-3 for-cust-icon">
                        <label>From Date</label>
                        <div>

                            @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Name = "dtFrom";
                            settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                            settings.Properties.EditFormatString = "dd-MM-yyyy";
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.Date = DateTime.Now;
                            settings.Properties.EditFormat = EditFormat.Custom;
                            settings.Properties.ShowOutOfRangeWarning = false;
                            settings.Properties.UseMaskBehavior = true;
                            settings.Properties.ClientSideEvents.DateChanged = "DateValidateFrom";
                            //settings.Properties.ClientSideEvents.Init = "SetDefaultDate";

                        }
                    ).GetHtml()
                            @*Rev 1.0*@
                            <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                            @*Rev end 1.0*@
                            <span id="MandatoryFromDate" style="display: none" class="validclass">
                                <img id="img_MandatoryFromDate" class="dxEditors_edtError_PlasticBlue" src="/DXR.axd?r=1_36-tyKfc" title="Mandatory">
                            </span>
                        </div>
                    </div>

                    <div class="col-md-3 for-cust-icon">
                        <label>To Date</label>
                        <div>

                            @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Name = "dtTo";
                            settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                            settings.Properties.EditFormatString = "dd-MM-yyyy";
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.Date = DateTime.Now;
                            settings.Properties.EditFormat = EditFormat.Custom;
                            settings.Properties.ShowOutOfRangeWarning = false;
                            settings.Properties.UseMaskBehavior = true;
                            settings.Properties.ClientSideEvents.DateChanged = "DateValidateTo";
                            //settings.Properties.ClientSideEvents.Init = "SetDefaultDate";

                        }
                    ).GetHtml()
                            @*Rev 1.0*@
                            <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                            @*Rev end 1.0*@
                            <span id="MandatoryToDate" style="display: none" class="validclass">
                                <img id="img_MandatoryToDate" class="dxEditors_edtError_PlasticBlue" src="/DXR.axd?r=1_36-tyKfc" title="Mandatory">
                            </span>
                        </div>
                    </div>

                    <div class="col-md-3" id="empIntro">
                        <label>Employee(s)</label>
                        <div>
                            @*@Html.Action("GetEmpList", "MasterPopulate")*@
                            @Html.DevExpress().ButtonEdit(
                            settings =>
                            {
                                settings.Name = "EmployeeTxt";
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                //settings.Text = Model.AssignedTo;
                                settings.ReadOnly = true;
                                settings.Properties.Buttons.Add("...");
                                settings.Properties.ClientSideEvents.ButtonClick = "function(s,e){EmployeeButnClick(s,e);}";
                                settings.Properties.ClientSideEvents.KeyDown = "function(s,e){Employee_KeyDown(s,e);}";

                            }).GetHtml()
                        </div>
                    </div>

                    <div class="col-md-3 hidden" id="empIntro">
                        <label>Product(s)</label>
                        <div>
                            @Html.Action("GetProductList", "MasterPopulate")
                        </div>
                    </div>

                </div>
                @*Rev 3.0*@
                <div class="row">
                    <div class="col-md-3 " id="empIntro">
                        <label>Head Branch : </label>
                        <div class="h-branch-select">
                            @*Rev 3.0*@
                            @*<select id="HeadBranch" name="HeadBranch" onchange="BindBranches()" data-placeholder="Click or Type Here..." class="whclass selectH">
                                    @foreach (System.Data.DataRow dr in Model.Tables[3].Rows)
                                    {
                                        <option value=@dr["BRANCH_ID"]>@dr["CODE"]</option>
                                    }
                                </select>*@

                            @Html.DropDownList("HeadBranch", new SelectList(ViewBag.HeadBranch, "BRANCH_ID", "CODE"), new { @id = "HeadBranch", @onchange = "BindBranches()", @class = "whclass selectH" })
                            @*End of Rev 3.0*@
                        </div>
                    </div>

                    <div class="col-md-3 " id="empIntro">
                        <label>Branch : </label>
                        <div>
                            @Html.Action("GetChildBranchList", "MasterPopulate", new { Hoid = @ViewBag.h_id })
                        </div>
                    </div>

                    <div class="col-md-3 pdt-32" id="empIntro">
                        <div class="chkDs">
                            @*Rev 1.0*@
                            @*<input type="checkbox" id="chkTotalKMTravelled" name="vehicle1" value="Bike">*@
                            <input class="styled-checkbox" type="checkbox" id="chkTotalKMTravelled" name="vehicle1" value="Bike">
                            @*Rev end 1.0*@
                            <label for="vehicle1"> Total KM's Travelled</label><br>

                        </div>
                    </div>

                    <div class="col-md-3 pdt-32">
                        <div class="chkDs">
                            @*Rev 1.0*@
                            @*<input type="checkbox" id="chkSecondarySalesValue" name="vehicle2" value="Car">*@
                            <input class="styled-checkbox" type="checkbox" id="chkSecondarySalesValue" name="vehicle2" value="Car">
                            @*Rev end 1.0*@
                            <label for="vehicle2"> Secondary Sales Value</label>
                        </div>
                    </div>
                </div>
                @*End of Rev 3.0*@
                <div class="row">



                    <div class="col-md-3">
                        <div class="chkDs">
                            @*Rev 1.0*@
                            @*<input type="checkbox" id="chkIdleTimeCount" name="vehicle3" value="Boat">*@
                            <input class="styled-checkbox" type="checkbox" id="chkIdleTimeCount" name="vehicle3" value="Boat">
                            @*Rev end 1.0*@
                            <label for="vehicle2"> Idle Time Count</label><br>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="chkDs">
                            @*Rev 1.0*@
                            @*<input type="checkbox" id="chkShowAttendanceSelfie" name="vehicle4" value="Boat">*@
                            <input class="styled-checkbox" type="checkbox" id="chkShowAttendanceSelfie" name="vehicle4" value="Boat">
                            @*Rev end 1.0*@
                            <label for="vehicle2"> Show Attendance Selfie</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="chkDs">
                            @*Rev 1.0*@
                            @*<input type="checkbox" id="chkShowFullDay" name="vehicle5" value="Boat">*@
                            <input class="styled-checkbox" type="checkbox" id="chkShowFullDay" name="vehicle5" value="Boat">
                            @*Rev end 1.0*@
                            <label for="vehicle3"> Show Full Day</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="chkDs">
                            @*Rev 1.0*@
                            @*<input type="checkbox" id="chkShowLogIn" name="vehicle6" value="Boat">*@
                            <input class="styled-checkbox" type="checkbox" id="chkShowLogIn" name="vehicle6" value="Boat">
                            @*Rev end 1.0*@
                            <label for="vehicle6"> Show Login Location</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="chkDs">
                            @*Rev 1.0*@
                            @*<input type="checkbox" id="chkShowLogOut" name="vehicle7" value="Boat">*@
                            <input class="styled-checkbox" type="checkbox" id="chkShowLogOut" name="vehicle7" value="Boat">
                            @*Rev end 1.0*@
                            <label for="vehicle7"> Show Logout Location</label>
                        </div>
                    </div>

                    @*Rev 4.0*@
                    @*</div>
                        <div class="row">*@
                    <div class="col-md-3">
                        <div class="chkDs">
                            <input class="styled-checkbox" type="checkbox" id="chkShowFirstCallTime" name="ShowFirstCallTime" value="Boat">
                            <label for="ShowFirstCallTime"> First Call Time</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="chkDs">
                            <input class="styled-checkbox" type="checkbox" id="chkShowLastCallTime" name="ShowLastCallTime" value="Boat">
                            <label for="ShowLastCallTime"> Last Call Time</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="chkDs">
                            @*Rev 6.0*@
                            <input class="styled-checkbox" type="checkbox" id="chkShowInactiveUser" name="ShowInactiveUser" value="Boat">
                            <label for="ShowInactiveUser"> Show Inactive User(s)</label>
                            @*End of Rev 6.0*@
                        </div>
                    </div>
                    @*End of Rev 4.0*@
                </div>
                <div class="row">
                    <div class="col-md-3 pdt-18">
                        <button type="button" id="btnshow" class="btn btn-success btnwidth">Show</button>
                        <select name="ddlSumExport" class="btn btn-sm btn-primary" id="ddlSumExport">
                            <option value="0">Export to</option>
                            @*<option value="1">PDF</option>*@
                            <option value="2">XLSX</option>
                            @*<option value="3">XLS</option>
                                <option value="4">RTF</option>
                                <option value="5">CSV</option>*@

                        </select>
                    </div>


                </div>
                @*Rev end 2.0*@



            </div>
            @*Rev 5.0*@
            <input type="hidden" id="hdnBranchMandatory" value="@ViewBag.BranchMandatory" />
            @*End of Rev 5.0*@
        </div>
        <div style="clear: both;"><br /></div>
        <div id="refreshgridperformancewisemonth">
            @Html.Partial("PerformanceGridViewCallback", Model)
        </div>
    </div>
</div>



@*<h2>StatewisePerformanceofSalesman</h2>*@

@*@Html.Partial("PerformanceGridView", Model)*@

<!--Employee Modal -->
<div class="modal fade pmsModal w50" id="EmployeeModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Search</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" onkeydown="Employeekeydown(event)" id="txtEmployeeSearch" width="100%" placeholder="Search By Employee Name" />
                <div id="EmployeeTable">
                    <table border='1' width="100%">

                        <tr class="HeaderStyle" style="font-size:small">
                            <th>Select</th>
                            <th class="hide">id</th>
                            <th>Employee Name</th>
                            <th>Employee Code</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnOkformultiselection btn-default btn btn-danger" onclick="DeSelectAll('EmployeeSource')">Deselect All</button>
                <button type="button" class="btnOkformultiselection btn-default  btn btn-success" data-dismiss="modal" onclick="OKPopup('EmployeeSource')">OK</button>
                @*<button type="button" class="btnOkformultiselection btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>
<asp:HiddenField ID="hdnEmployeeId" runat="server" />
<!--Employee Modal -->