@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                17-01-2023        2.0.38           Pallab              25576: Report page design modification *@
@*====================================================== Revision History ==========================================================*@

@model Models.ActivityInput
@{
    ViewBag.Title = "Day Wise Visit List";

}



<script src="~/Scripts/chosen/chosen.jquery.min.js"></script>
<link href="~/Content/media.css" rel="stylesheet" />

<link href="~/Scripts/chosen/chosen.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {


        $("#drpuser").chosen({
            width: "100%"
        });

        if ('@Model.selectedusrid' != '') {

            $("#drpuser").val('@Model.selectedusrid');

            if ($("#drpuser").val() != '') {
                var surl = '@Url.Action("GetActivityList", "Activity")';
                var usr = $("#drpuser").val();
                $.ajax({
                    url: surl,
                    async: false,
                    datatype: 'json',
                    data: {
                        selectedusrid: usr,
                        Fromdate: $('#txtfromDate').val(),
                        Todate: $('#txttoDate').val()

                    },
                    type: 'POST',

                    success: function (data) {
                        if (data == 'nodata') {
                            alert('No dat to be displayed', "Alert!");
                        }
                        else {


                            $('#refreshgrid').html(data);


                            // $('#refreshgrid').html(data);
                        }
                    },
                    error: function (


                        ) {
                        alert('No dat to be displayed', "Alert!");
                    },


                });


            }


            else {

                $('#refreshgrid').html('');
                $.jAlert({
                    'title': 'Alert!',
                    'content': 'Select User to show',
                    'theme': 'dark_blue'
                });

            }

        }


        $('#txtfromDate').daterangepicker({

            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MM-YYYY'
            }

        });

        $('#txttoDate').daterangepicker({

            singleDatePicker: true,
            showDropdowns: true,
            mask: true,
            locale: {
                format: 'DD-MM-YYYY'

            }

        });



        $('body').on('click', '#btnshow', function () {

            if ($("#drpuser").val() != '') {
                var surl = '@Url.Action("GetActivityList", "Activity")';
                var usr = $("#drpuser").val();
                $.ajax({
                    url: surl,
                    async: false,
                    datatype: 'json',
                    data: {
                        selectedusrid: usr,
                        Fromdate: $('#txtfromDate').val(),
                        Todate: $('#txttoDate').val()

                    },
                    type: 'POST',

                    success: function (data) {
                        if (data == 'nodata') {
                            alert('No dat to be displayed', "Alert!");
                        }
                        else {


                            $('#refreshgrid').html(data);


                            // $('#refreshgrid').html(data);
                        }
                    },
                    error: function (


                        ) {
                        alert('No dat to be displayed', "Alert!");
                    },


                });


            }


            else {

                $('#refreshgrid').html('');
                $.jAlert({
                    'title': 'Alert!',
                    'content': 'Select User to show',
                    'theme': 'dark_blue'
                });
            }
        })



        $('#ddlAppIds').on('change', function () {
            if ($("#ddlAppIds option:selected").index() > 0) {
                var selectedValue = $(this).val();
                $('#ddlAppIds').prop("selectedIndex", 0);
                ///   $('#reportLink').prop('href', '/Attendance/ExportDesignation?type=' + selectedValue);
                //window.location.href = "/JobDetailsSetup/ExportDesignation?type=" + selectedValue;
                var url = '@Url.Action("ExportActivity", "Activity", new { type = "_type_" })'
                window.location.href = url.replace("_type_", selectedValue);

                ///  $('#type').val(selectedValue);
                ///  $('#frmExportGrid').submit();

                if ($("#drpuser").val() != '') {
                    var surl = '@Url.Action("GetActivityList", "Activity")';
                    var usr = $("#drpuser").val();
                    $.ajax({
                        url: surl,
                        async: false,
                        datatype: 'json',
                        data: {
                            selectedusrid: usr,
                            Fromdate: $('#txtfromDate').val(),
                            Todate: $('#txttoDate').val()

                        },
                        type: 'POST',

                        success: function (data) {
                            if (data == 'nodata') {
                                alert('No dat to be displayed', "Alert!");
                            }
                            else {


                                $('#refreshgrid').html(data);


                                // $('#refreshgrid').html(data);
                            }
                        },
                        error: function (


                            ) {
                            alert('No dat to be displayed', "Alert!");
                        },


                    });


                }


                else {

                    $('#refreshgrid').html('');
                    $.jAlert({
                        'title': 'Alert!',
                        'content': 'Select User to show',
                        'theme': 'dark_blue'
                    });
                }
            }
        });


    });



</script>

<style>
    .padTabl > tbody > tr > td {
        padding: 3px 10px;
    }

    table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
        opacity: 0.8 !important;
        color: #fff !important;
    }

    #tblactivitylist > thead > tr > th {
        background: #5F65AD !important;
        border-top: 1px solid #0f87cc;
        color: #fff;
    }

    #tblactivitylist tbody > tr > th, #tblactivitylist tfoot > tr > th, #tblactivitylist thead > tr > td, #tblactivitylist tbody > tr > td, #tblactivitylist tfoot > tr > td {
        padding: 1px 5px !important;
    }



    .scrooler {
        width: 100%;
        overflow-x: scroll;
    }

    /*Rev 1.0*/

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            content: '<';
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 5px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 8px;
        right: 8px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select {
        position: relative;
        /*z-index: 1;
        background: transparent;*/
    }
        .date-select .form-control {
            position: relative;
            z-index: 1;
            background: transparent;
        }

    #txtDate {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    .h-branch-select {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 12px;
            right: 8px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    #ddltypes {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

        #ddltypes:focus-visible {
            outline: none;
        }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
    }

    #dtFrom, #dtTo {
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/


    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                background: #d7d7d7;
                margin-top: 2px;
                border-radius: 2px;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .dxeButtonDisabled_PlasticBlue {
        background: #a1a1a1 !important;
    }

    #popup_message {
        padding-left: 0;
        text-align: center;
    }

    /*.w150 {
        width: 180px;
    }*/

    .pmsModal .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .pmsModal .modal-content {
        border: none;
        border-radius: 10px;
    }

    .pmsModal .modal-header .modal-title {
        font-size: 14px;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    #dtFrom_B-1, #dtTo_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img {
            display: none;
        }

    #dtFrom_I, #dtTo_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        z-index: 1;
    }

    .eqpadtbl > tbody > tr > td {
        padding-right: 15px;
    }

    #abckTbl > thead > tr > th {
        background: #094e8c !important;
        border-top: 1px solid #094e8c !important;
    }
    .fff > thead > tr > th {
        background: #094e8c;
    }
    /*Rev end 1.0*/

    @@media only screen and (max-width: 768px) {
        .breadCumb > span {
            padding: 9px 15px;
            text-align: center;
        }

        .breadCumb {
            padding: 0 21%;
        }

        .col-md-3 {
            margin-bottom: 10px !important;
        }

        #refreshgridsalessummary {
            overflow-x: auto;
        }

        .tblspace > tbody > tr > td {
            width: 100% !important;
            padding-right: 0 !important;
            margin-bottom: 10px;
        }

        .tblspace.smblock {
            width: 100%;
        }

        /*.calendar-icon {
            right: 4px !important;
        }*/

        /*.h-branch-select::after {
            right: -3px;
        }

        .eqpadtbl {
            width: 94%;*/
        }
    }
</style>

<div class="breadCumb">
    <span>Day Wise Visit List</span>
</div>
<div class="container">
    <div class="form_main backBox p-3">

        @using (Html.BeginForm("GetActivityList", "Activity", FormMethod.Post, new { @id = "fromsalesman" }))
        {

            <div class="row mt-2 mb-3">
                <div class="col-md-2">
                    <label>User List</label>
                    <div>
                        <select id="drpuser" name="ddRoles" data-placeholder="Click or Type Here..." class="whclass">
                            @foreach (var item in Model.userlsit)
                            {
                                if (Model.selectedusrid == item.UserID)
                                {
                                    <option value="@item.UserID" selected="selected">@item.username</option>
                                }
                                else
                                {
                                    <option value="@item.UserID">@item.username</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>From Date </label>
                    @*Rev 1.0: 'date-select' class add and calendar icon add*@
                    <div class="date-select">
                        @Html.TextBoxFor(m => m.Fromdate, new { @class = "form-control", @id = "txtfromDate" })
                        <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                        @*Rev end 1.0*@
                    </div>
                </div>
                <div class="col-md-2">
                    <label>To Date</label>
                    @*Rev 1.0: 'date-select' class add and calendar icon add*@
                    <div class="date-select">
                        @Html.TextBoxFor(m => m.Todate, new { @class = "form-control", @id = "txttoDate", @radonly = true })
                        <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                        @*Rev end 1.0*@
                    </div>

                </div>
                <div class="col-md-4" style="padding-top:22px">
                    <button type="button" id="btnshow" class="btn btn-success btnwidth">Show</button>
                    <select name="ddlAppIds" class="btn btn-sm btn-primary" id="ddlAppIds">
                        <option value="0">Export to</option>
                        <option value="2">XLSX</option>
                    </select>
                </div>
            </div>
            @*<table class="pull-left">

                <tr>
                    <td class="w1"><h5>User List: *** </h5></td>

                    <td style="width:200px;">*@

            @*@Html.DropDownListFor(m => m.selectedusrid, new SelectList(Model.userlsit, "UserID", "username", Model.selectedusrid), "-Select-", new { @id = "drpuser", @class = "whclass" })*@




            @*</td>




                        <td class="w1"><h5>: </h5></td>

                        <td>



                        </td>

                        <td class="w1"><h5> : </h5></td>

                        <td>



                        </td>


                        <td></td>

                    </tr>

                    <tr>


                    </tr>
                </table>*@

        }

        <br />


        <div id="refreshgrid">

        </div>


    </div>
</div>

