@model IEnumerable<MyShop.Models.SystemsettingsModel>

<link href="~/Content/media.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />


<script type="text/javascript">

    @*$(document).ready(function () {
        var url = '@Url.Action("Index", "Systemsettings")';
        $('#systemsettingslist').DataTable({
            ajax: {
                "type": "POST",
                "url": url,
            },
            columns: [
                { data: 'Description' },
                { data: 'CONTROL_TYPE' },
                { data: 'VALUE' },

            ],
        });
    });*@

    $(function () {
        //call datetable
        var table = $('#systemsettingslist').DataTable({
            //scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
        });



        //$('.input-group.date').datepicker({ format: "dd.mm.yyyy" });

        //popup date field
        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());


        //popup time field
        var firstOpen = true;
        var time;

        $('#timePicker').datetimepicker({
            useCurrent: false,
            format: "hh:mm A"
        }).on('dp.show', function () {
            if (firstOpen) {
                time = moment().startOf('day');
                firstOpen = false;
            } else {
                time = "01:00 PM"
            }

            $(this).data('DateTimePicker').date(time);
        });
    });

    //popup edit field show/hide

    function ActionBtn(controltype, description, value, editkey) {

        $("#settingsModal").modal('show');

        $("#popup-edit .form-group:gt(1)").hide();

        $("#Variable_description").html(description);

        $("#Variable_value").html(value);

        // Rev Sanchita
        $("#hdnControlType").val(controltype);
        $("#hdnSettingKey").val(editkey);
        // End of Rev Sanchita


        if (controltype == "NUMBERBOX")
        {
            $("#numberinput").show();
        }
        else if(controltype == "TEXTBOX")
        {
            $("#textbox").show();
        }
        else if(controltype == "YESNO")
        {
            $("#yesno").show();
        }
            // Rev sanchita
        else if (controltype == "BIT") {
            $("#bit").show();
        }
            // End of Rev Sanchita
        else if(controltype == "DATE")
        {
            $("#datep").show();
        }
        else if(controltype == "TIME")
        {
            $("#timep").show();
        }


    }

    function controlEditSave() {
        var data= {
                ControlType: $("#hdnControlType").val(),
                Key : $("#hdnSettingKey").val(),
                txtValue: $("#txtValue").val(),
                selValue: $("#selValue").val(),
                selBitValue: $("#selBitValue").val(),
                numValue: $("#numValue").val(),
                dtValue: $("#dtValue").val(),
                tmValue: $("#tmValue").val()
        }

        $.ajax({
            type: "POST",
            url: "/Systemsettings/Addsystemsettings",
            data: "{data:" + JSON.stringify(data) + "}",
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response.response_msg == "Success") {

                    jAlert("Saved Successfully", "Alert", function () {
                        $("#settingsModal").modal('hide');
                       var url = '@Url.Action("Index", "Systemsettings")'
                       window.location.href = url;
                       
                    });
                }
                else {
                    jAlert(response.response_msg);
                }
            },
            error: function (response) {
                jAlert("Please try again later");
            }
        });
    }

</script>

<style>

    .d-visible
    {
        display: block;
    }
    #tblshoplist {
        border: 1px solid #ccc;
        border-top: transparent;
        background: #fff;
    }

        #tblshoplist > thead > tr > th {
            background: #0f87cc;
            border-top: 1px solid #0f87cc;
            color: #fff;
        }

    tfoot {
        display: table-header-group;
    }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    .modal-dialog {
        padding-top:  50px;
        width: 500px;
    }
    .modal-header {
        min-height: 16.428571429px;
        padding: 8px 15px;
        border-bottom: 1px solid #e5e5e5;
        background: #0d5fa9;
    }
    .close {
        font-size: 25px;
        color: #fff;
        opacity: .5;
        font-weight: 300;
    }

        .close:hover, .close:focus {
            color: #fff;
            opacity: 1;
        }
        
     .d-block {
            display: block;
        }

    .form-group label {
        font-weight: 500;
    }
    .form-group select {
        height: 34px;
    }
    .modal-content {
        border-radius: 12px;
    }
    .modal-header {
        border-radius: 12px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
        background-color: #5cb85c;
        background-image:none;
        color: #fff;
    }
        .datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover {
            background-color: #5cb85c;
            color: #fff;
        }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 10px 0;
    }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background-color: #094e8c;
        border-color: #094e8c;
    }
</style>



<div class="breadCumb">
    <span>System Settings</span>
</div>
<div class="container mt-4">
    <div class="panel-heading">
        <div class="panel-title ">
            <div class="clearfix">
                <span class="sp_span"></span>

            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="form_main backBox p-3">
        @*<div>
            <select name="ddlAppIds" class="btn btn-sm btn-primary" id="ddlAppIds">
                <option value="0">Export to</option>
                <option value="2">XLSX</option>
            </select>
        </div>*@
        <div class="rTable">
            <table id="systemsettingslist" class="table table-bordered table-bordered fff" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:60%">Description</th>
                        <th style="width:25%">Value</th>
                        <th style="width:15%">Actions</th>
                    </tr>
                </thead>


                <tbody>
                    @*<tr>
                        <td>Description</td>
                        <td>Module Name</td>
                        <td class="text-center">
                            <a href="" onclick="" title="More Info" class="" data-toggle="modal" data-target="#settingsModal">
                                <img src="../../../assests/images/info.png">
                            </a>
                        </td>
                    </tr>*@

                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Description</td>
                                <td>@item.VALUE</td>
                                @*<td>@item.CONTROL_TYPE</td>*@
                                <td class="text-center">
                                    <a href="" onclick="ActionBtn('@item.CONTROL_TYPE', '@item.Description', '@item.VALUE', '@item.Key')" title="More Info" class="" data-toggle="modal">
                                        <img src="../../../assests/images/info.png">
                                    </a>
                                </td>
                                

                            </tr>
                        }
                    }
                    
                </tbody>

            </table>

            <!-- Modal -->
            <div class="modal fade" id="settingsModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modify System Settings</h4>
                        </div>
                        <div class="modal-body">
                            <form id="popup-edit">
                                <div class="form-group">
                                    <label>Variable Description:</label>
                                    <p id="Variable_description"></p>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Current Value:</label>
                                    @*<input type="text" class="form-control" id="" placeholder="">*@
                                    <p id="Variable_value"></p>
                                </div>
                                <div class="form-group" id="textbox" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <input type="text" class="form-control" id="txtValue">
                                </div>
                                <div class="form-group" id="yesno" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <select class="form-control" id="selValue">
                                        <option>Yes</option>
                                        <option>No</option> 
                                    </select>
                                </div>
                                @*Rev Sanchita*@
                                <div class="form-group" id="bit" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <select class="form-control" id="selBitValue">
                                        <option>0</option>
                                        <option>1</option>
                                    </select>
                                </div>
                                @*End of Rev Sanchita*@
                                <div class="form-group" id="numberinput" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <input type="number" class="form-control" id="numValue" placeholder="0.00" step='0.01' value='0'>
                                </div>

                                <div class="form-group" id="datep" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <div id="datepicker" class="input-group date" data-date-format="yyyy-mm-dd" >
                                        <input class="form-control" type="text" id="dtValue" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="form-group" id="timep" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <div class="input-group date" id="timePicker">
                                        <input type="text" class="form-control timePicker" id="tmValue">
                                        <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                                <div class="form-group" id="checkboxs" style="display:none">
                                    <label for="pwd" class="d-block">Value:</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" id="chkValue1">Option 1
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" id="chkValue2">Option 2
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" id="chkValue3">Option 3
                                    </label>
                                </div>

                                <button type="button" onclick="controlEditSave()" class="btn btn-success">Submit</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
@*Rev Sanchita*@
<input type="hidden" id="hdnControlType" />
<input type="hidden" id="hdnSettingKey" />
@*End of Rev Sanchita*@