@*====================================================== Revision History ===================================================*@
@*Rev Number   DATE              VERSION    DEVELOPER       CHANGES*@
@* 1.0         17-02-2023        V2.0.39    Pallab          Settings/Options module design modification *@
@* 2.0         30-06-2023        V2.0.41    Sanchita        Time format should be changed to 24 hours instead of 12 hours format in the
                                                            System Settings, Intime and Intime. Refer: 26466                      *@
@* 3.0         03-04-2024        V2.0.46    Sanchita        FSM - SystemSettings - Login Time not loading in edit mode. refer:  *@
@* 4.0         13-05-2024        V2.0.46    Sanchita        System setting page was not proper as per the design. refer: 27442 *@
@*====================================================== Revision History ===================================================*@

@model IEnumerable<MyShop.Models.SystemsettingsModel>

<link href="~/Content/media.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />


<script type="text/javascript">

    @*$(document).ready(function () {
        var url = '@Url.Action("Index", "Systemsettings")';
        $('#systemsettingslist').DataTable({
            ajax: {
                "type": "POST",
                "url": url,
            },
            columns: [
                { data: 'Description' },
                { data: 'CONTROL_TYPE' },
                { data: 'VALUE' },

            ],
        });
    });*@

    $(function () {
        //call datetable
        var table = $('#systemsettingslist').DataTable({
            //scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
        });



        //$('.input-group.date').datepicker({ format: "dd.mm.yyyy" });

        //popup date field
        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());


        //popup time field
        var firstOpen = true;
        var time;

        $('#timePicker').datetimepicker({
            useCurrent: false,
            // Rev 2.0
            //format: "hh:mm A"
            format: "HH:mm:ss"
            // End of Rev 2.0
        }).on('dp.show', function () {
            if (firstOpen) {
                time = moment().startOf('day');
                firstOpen = false;
            } else {
                // Rev 2.0
                //time = "01:00 PM"
                time = "01:00:00"
                // End of Rev 2.0
            }

            $(this).data('DateTimePicker').date(time);
        });
    });

    //popup edit field show/hide

    function ActionBtn(controltype, description, value, editkey) {

        $("#settingsModal").modal('show');

        $("#popup-edit .form-group:gt(1)").hide();

        $("#Variable_description").html(description);

        $("#Variable_value").html(value);

        // Rev 3.0
        $("#hdnControlType").val(controltype);
        $("#hdnSettingKey").val(editkey);
        $("#Variable_Key").html(editkey);
        // End of Rev 3.0


        if (controltype == "NUMBERBOX")
        {
            $("#numberinput").show();
            // Rev 3.0
            $("#numValue").val(value)
            // End of Rev 3.0
        }
        else if(controltype == "TEXTBOX")
        {
            $("#textbox").show();
            // Rev 3.0
            $("#txtValue").val(value)
            // End of Rev 3.0
        }
        else if(controltype == "YESNO")
        {
            $("#yesno").show();
            // Rev 3.0
            if (value==1 || value=="Yes")
                $("#selValue").val("Yes")
            else
                $("#selValue").val("No")
            // End of Rev 3.0
        }
            // Rev 3.0
        else if (controltype == "BIT") {
            $("#bit").show();
            // Rev 3.0
            $("#selBitValue").val(value)
            // End of Rev 3.0
        }
            // End of Rev 3.0
        else if(controltype == "DATE")
        {
            $("#datep").show();
            // Rev 3.0
            $("#dtValue").val(value)
            // End of Rev 3.0
        }
        else if(controltype == "TIME")
        {
            $("#timep").show();
            // Rev 3.0
            $("#tmValue").val(value)
            // End of Rev 3.0
        }


    }

    function controlEditSave() {
        var data= {
                ControlType: $("#hdnControlType").val(),
                Key : $("#hdnSettingKey").val(),
                txtValue: $("#txtValue").val(),
                selValue: $("#selValue").val(),
                selBitValue: $("#selBitValue").val(),
                numValue: $("#numValue").val(),
                dtValue: $("#dtValue").val(),
                tmValue: $("#tmValue").val()
        }

        $.ajax({
            type: "POST",
            url: "/Systemsettings/Addsystemsettings",
            data: "{data:" + JSON.stringify(data) + "}",
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response.response_msg == "Success") {

                    jAlert("Saved Successfully", "Alert", function () {
                        $("#settingsModal").modal('hide');
                       var url = '@Url.Action("Index", "Systemsettings")'
                       window.location.href = url;

                    });
                }
                else {
                    jAlert(response.response_msg);
                }
            },
            error: function (response) {
                jAlert("Please try again later");
            }
        });
    }

</script>

<style>

    .d-visible {
        display: block;
    }

    #tblshoplist {
        border: 1px solid #ccc;
        border-top: transparent;
        background: #fff;
    }

        #tblshoplist > thead > tr > th {
            background: #0f87cc;
            border-top: 1px solid #0f87cc;
            color: #fff;
        }

    tfoot {
        display: table-header-group;
    }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

    .modal-dialog {
        padding-top: 50px;
        width: 500px;
    }

    .modal-header {
        min-height: 16.428571429px;
        padding: 8px 15px;
        border-bottom: 1px solid #e5e5e5;
        background: #0d5fa9;
    }

    .close {
        font-size: 25px;
        color: #fff;
        opacity: .5;
        font-weight: 300;
    }

        .close:hover, .close:focus {
            color: #fff;
            opacity: 1;
        }

    .d-block {
        display: block;
    }

    .form-group label {
        font-weight: 500;
    }

    .form-group select {
        height: 34px;
    }

    .modal-content {
        border-radius: 12px;
    }

    .modal-header {
        border-radius: 12px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
        background-color: #5cb85c;
        background-image: none;
        color: #fff;
    }

        .datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover {
            background-color: #5cb85c;
            color: #fff;
        }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 10px 0;
    }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background-color: #094e8c;
        border-color: #094e8c;
    }

    /*Rev 1.0*/

    body, .dxtcLite_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .dxeButtonDisabled_PlasticBlue {
        background: #ababab !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 13px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 7px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 9px;
        right: 24px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select, .h-branch-select-new {
        position: relative;
    }

        .h-branch-select::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 33px;
            right: -2px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 17px;
            z-index: 0;
        }

        .h-branch-select-new::after {
            content: '<';
            /*content: url(../../../assests/images/left-arw.png);*/
            position: absolute;
            top: 9px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    select:not(.btn):focus {
        border-color: #094e8c;
    }

    select:not(.btn):focus-visible {
        box-shadow: none;
        outline: none;
    }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    select:not(.btn) {
        padding-right: 30px;
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue,
    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo, #FormDate, #toDate, #proj_start_dt {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .modal-content {
        border: none;
        border-radius: 10px;
    }

    .modal-header .modal-title {
        font-size: 14px;
    }

    .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1, #cmbDOJ_B-1, #cmbLeaveEff_B-1, #FormDate_B-1, #toDate_B-1, #proj_start_dt_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img, #cmbDOJ_B-1 #cmbDOJ_B-1Img, #cmbLeaveEff_B-1 #cmbLeaveEff_B-1Img, #FormDate_B-1 #FormDate_B-1Img, #toDate_B-1 #toDate_B-1Img, #proj_start_dt_B-1 #proj_start_dt_B-1Img {
            display: none;
        }

    #FormDate_I, #toDate_I, #proj_start_dt_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        /*z-index: 1;*/
    }

    .pad-md-18 {
        padding-top: 10px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .dxeCalendarSelected_PlasticBlue {
        color: White;
        background-color: #185598;
    }

    .dxeTextBox_PlasticBlue {
        height: 34px;
        border-radius: 4px;
    }

    #cmbDOJ_DDD_PW-1 {
        z-index: 9999 !important;
    }

    #cmbDOJ, #cmbLeaveEff {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    .btn-sm, .btn-xs {
        padding: 7px 10px !important;
    }

    #productAttributePopUp_PWH-1 span, #ASPxPopupControl2_PWH-1 span {
        color: #fff !important;
    }

    #marketsGrid_DXPEForm_tcefnew, .dxgvPopupEditForm_PlasticBlue {
        height: 220px !important;
    }

    .btn {
        height: 34px;
    }

    .dxpcLite_PlasticBlue .dxpc-header, .dxdpLite_PlasticBlue .dxpc-header {
        padding: 6px 4px 6px 10px;
        background: #094e8c;
    }

    #pcModalMode_PW-1 {
        border-radius: 12px;
        overflow: hidden;
    }

    .cke_bottom {
        background: #094e8c;
    }

    .fff > thead > tr > th {
        background: #094e8c;
    }

    /*Rev end 1.0*/
    @@media only screen and (max-width: 768px) {

        .breadCumb {
            padding: 0 22%;
        }

            .breadCumb > span {
                padding: 9px 18px;
            }

        #settingsModal .modal-dialog {
            width: 100% !important;
        }
    }
</style>



<div class="breadCumb">
    <span>System Settings</span>
</div>
<div class="container mt-4">
    <div class="panel-heading">
        <div class="panel-title ">
            <div class="clearfix">
                <span class="sp_span"></span>

            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="form_main backBox p-3">
        @*<div>
                <select name="ddlAppIds" class="btn btn-sm btn-primary" id="ddlAppIds">
                    <option value="0">Export to</option>
                    <option value="2">XLSX</option>
                </select>
            </div>*@
        <div class="rTable">
            <table id="systemsettingslist" class="table table-bordered table-bordered fff" style="width:100%">
                <thead>
                    <tr>
                        @*Rev 4.0 [width % changed. Description from 60% to 40%, Value from 25% to 35% and "word-break: break-all" added] *@
                        @*Rev 3.0*@
                        <th style="width:15%">Key</th>
                        @*End of Rev 3.0*@
                        <th style="width:40%">Description</th>
                        <th style="width:35%; word-break: break-all;">Value</th>
                        <th style="width:10%">Action(s)</th>
                    </tr>
                </thead>


                <tbody>
                    @*<tr>
                            <td>Description</td>
                            <td>Module Name</td>
                            <td class="text-center">
                                <a href="" onclick="" title="More Info" class="" data-toggle="modal" data-target="#settingsModal">
                                    <img src="../../../assests/images/info.png">
                                </a>
                            </td>
                        </tr>*@

                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                @*Rev 3.0*@
                                <td>@item.Key</td>
                                @*End of Rev 3.0*@
                                <td>@item.Description</td>
                                @*Rev 4.0 [style ="word-break: break-all" added] *@
                                <td style="word-break: break-all;">@item.VALUE</td>
                                @*<td>@item.CONTROL_TYPE</td>*@
                                <td class="text-center">
                                    <a href="" onclick="ActionBtn('@item.CONTROL_TYPE', '@item.Description', '@item.VALUE', '@item.Key')" title="Edit" class="" data-toggle="modal">
                                        <img src="../../../assests/images/Edit.png">
                                    </a>
                                </td>


                            </tr>
                        }
                    }

                </tbody>

            </table>

            <!-- Modal -->
            <div class="modal fade" id="settingsModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modify System Settings</h4>
                        </div>
                        <div class="modal-body">
                            <form id="popup-edit">
                                @*Rev 3.0*@
                                <div class="form-group">
                                    <label>Key:</label>
                                    <p id="Variable_Key"></p>
                                </div>
                                @*End of Rev 3.0*@
                                <div class="form-group">
                                    <label>Variable Description:</label>
                                    <p id="Variable_description"></p>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Current Value:</label>
                                    @*<input type="text" class="form-control" id="" placeholder="">*@
                                    <p id="Variable_value"></p>
                                </div>
                                <div class="form-group" id="textbox" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <input type="text" class="form-control" id="txtValue">
                                </div>
                                <div class="form-group" id="yesno" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <select class="form-control" id="selValue">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                                @*Rev 3.0*@
                                <div class="form-group h-branch-select" id="bit" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <select class="form-control" id="selBitValue">
                                        <option>0</option>
                                        <option>1</option>
                                    </select>
                                </div>
                                @*End of Rev 3.0*@
                                <div class="form-group" id="numberinput" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <input type="number" class="form-control" id="numValue" placeholder="0.00" step='0.01' value='0'>
                                </div>

                                <div class="form-group" id="datep" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <div id="datepicker" class="input-group date" data-date-format="yyyy-mm-dd">
                                        <input class="form-control" type="text" id="dtValue" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="form-group" id="timep" style="display:none">
                                    <label for="pwd">Value:</label>
                                    <div class="input-group date" id="timePicker">
                                        <input type="text" class="form-control timePicker" id="tmValue">
                                        <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                                <div class="form-group" id="checkboxs" style="display:none">
                                    <label for="pwd" class="d-block">Value:</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" id="chkValue1">Option 1
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" id="chkValue2">Option 2
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" id="chkValue3">Option 3
                                    </label>
                                </div>

                                <button type="button" onclick="controlEditSave()" class="btn btn-success">Submit</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
@*Rev 3.0*@
<input type="hidden" id="hdnControlType" />
<input type="hidden" id="hdnSettingKey" />
@*End of Rev 3.0*@