@model IEnumerable<EntityLayer.MenuHelperELS.MenuListModel>
<style>
    .sideNavigation > ul > li.showinTop .submenu-fl {
        top: auto !important;
        bottom: 100% !important;
    }

        .sideNavigation > ul > li.showinTop .submenu-fl .submenu-fl.stage3 {
            top: 0 !important;
            bottom: auto !important;
        }
</style>
<script type="text/javascript">

    //document.addEventListener("contextmenu", function (e) {
    //    var url = location.href;
    //    //var url = location.href.toLowerCase();
    //    //if (url.indexOf("Reports") > -1)
    //    //{ }
    //    //else{
    //    jAlert('Currently Right click not allowed.');
    //    e.preventDefault();
    //   // }
    //}, false);
    $(document).ready(function () {

        /*$(".sideNavigation>ul>li:nth-child(6)").nextAll().addClass('showinTop');*/
        $(".sideNavigation>ul>li:last-child").addClass('showinTop');
    });

</script>




<ul>
    <li>
        <a id="DashboardId" href="/OMS/management/ProjectMainPage.aspx">
            <span class="lnr lnr-dice"></span>
            <span class="flText">Dashboard</span>
        </a>
        @*<a id="DashboardId" href="/OMS/management/ProjectMainPage.aspx" ><i class="fa fa-tachometer" data-toggle="tooltip" title="Dashboard"></i><span class="navfltext">Dashboard</span></a>*@
    </li>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            string rootMenuLink = "#";
            string rootMenuClass = "";

            if (!string.IsNullOrWhiteSpace(item.Link))
            {
                rootMenuLink = "/" + item.Menu_Prefix + item.Link;
            }

            if (!string.IsNullOrWhiteSpace(item.IconClass))
            {
                rootMenuClass = "<i class=\"" + item.IconClass + "\" title=\"" + item.Name.Trim() + "\"></i>";
            }


            <li>
                <a id="@("Main"+item.Id)" href="@Html.Raw(rootMenuLink)">@Html.Raw(rootMenuClass)<span class="flText">@(item.Name.Trim())</span>@((item.Lavel1Menu != null && item.Lavel1Menu.Count() > 0) ? Html.Raw("") : Html.Raw(""))</a>

                @if (item.Lavel1Menu != null && item.Lavel1Menu.Count() > 0)
                {
                    <ul class="submenu-fl stage2 firstSub">

                        @foreach (var lvl1 in item.Lavel1Menu)
                        {
                            string lv1MenuLink = "";
                            string lv1MenuClass = "";

                            if (!string.IsNullOrWhiteSpace(lvl1.Link))
                            {
                                lv1MenuLink = "/" + lvl1.Menu_Prefix + lvl1.Link;
                            }

                            if (!string.IsNullOrWhiteSpace(lvl1.IconClass))
                            {
                                lv1MenuClass = "<i class=\"" + lvl1.IconClass + "\" data-toggle=\"tooltip\" title=\"" + lvl1.Name.Trim() + "\"></i>";
                            }

                            @*@Html.Raw(lv1MenuClass);*@


                            <li>
                                @if (lvl1.Lavel2Menus != null && lvl1.Lavel2Menus.Count() > 0)
                                {
                                    <a class=" active" @((!string.IsNullOrWhiteSpace(lv1MenuLink)) ? Html.Raw("href=\"" + lv1MenuLink + "\"") : Html.Raw("")) data-toggle="dropdown">@Html.Raw(lv1MenuClass)@(lvl1.Name)<i class="fa fa-angle-right dpvsl"></i></a>
                                    <ul class="submenu-fl stage3">


                                        @foreach (var lvl2 in lvl1.Lavel2Menus)
                                        {
                                            string lv2MenuLink = "#";
                                            string lv2MenuClass = "";

                                            if (!string.IsNullOrWhiteSpace(lvl2.Link))
                                            {
                                                lv2MenuLink = "/" + lvl2.Menu_Prefix + lvl2.Link;
                                            }

                                            if (!string.IsNullOrWhiteSpace(lvl2.IconClass))
                                            {
                                                lv2MenuClass = "<i class=\"" + lvl2.IconClass + "\" data-toggle=\"tooltip\" title=\"" + lvl2.Name.Trim() + "\"></i>";

                                            }
                                            <li><a href="@Html.Raw(lv2MenuLink)">@Html.Raw(lv2MenuClass)@lvl2.Name.Trim()</a></li>
                                        }


                                    </ul>
                                }
                                else
                                {
                                    <a @((!string.IsNullOrWhiteSpace(lv1MenuLink)) ? Html.Raw("href=\"" + lv1MenuLink + "\"") : Html.Raw(""))>@Html.Raw(lv1MenuClass)@lvl1.Name</a>
                                }
                            </li>

                        }

                    </ul>
                }
            </li>
        }
    }
    else
    {
        <script type="text/javascript">window.location = '/oms/AlertMessage.aspx';</script>
    }

    @*<li>
            <a id="Company" href="/OMS/management/frm_selectCompFinYrSett.aspx"><i class="fa fa-tachometer" data-toggle="tooltip" title="Change Company"></i><span class="navfltext">Change Company</span></a>
        </li>*@
</ul>


