<div class="leftLogowrap transit">

    @*Images*@
    <img src="@(ViewData["biglogo"])" class="img-responsive bigLogo" align="middle" />
    <img src="@(ViewData["minilogo"])" class="img-responsive miniLogo" align="middle" />

</div>
<div class="rightNav">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a href="#" class="btn navbar-minimalize"><i class="fa fa-bars"></i></a>
            <span class="text">
            </span>

        </div>
        <ul class="nav navbar-top-links navbar-right user-dropdown-custom">
            <li>

                <div class="aaadv" style="margin-right: 10px; max-width: 450px; height: 50px; display: block;">
                    <table>
                        <tr>

                            <td>
                                <div class="cmpName">
                                    <label>@HttpContext.Current.Session["LastCompany"]</label>
                                </div>
                                <div class="cmpYear">
                                    FY :
                                    <label>@HttpContext.Current.Session["LastFinYear"]</label>
                                    <span style="margin-left: 15px; margin-right: 15px;">|</span>
                                    <label>Base Currency :@HttpContext.Current.Session["LocalCurrency"].ToString().Split('~')[1].Trim() [@HttpContext.Current.Session["LocalCurrency"].ToString().Split('~')[2].Trim()]</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            <li class="dropdown usr">
                <a class="dropdown-toggle user" data-toggle="dropdown" href="#" aria-expanded="true" style="padding: 9px 15px 6px 0px;">
                    <div class="avtarHolder" style="margin-right: 24px; margin-top: 3px; border-radius: 0 !important;">
                        <img src="/assests/images/profile1.png" />
                    </div>
                    <span class="label hidden-xs">
                        Welcome,
                        <label>@Session["username"].ToString().Trim()</label>
                        <i class="fa fa-caret-down"></i>
                    </span>
                </a>
                <ul class="dropdown-menu userAccsess">
                    <li>
                        <ul class="submenu">
                            @*<li>
                                    <a href="/OMS/Management/Master/view-version-features.aspx" target="_blank">
                                        <img src="/assests/images/icon_idea.gif" class="iconSubMenu">
                                        <span>What's New</span>
                                    </a>
                                </li>*@
                            <li>
                                <a href="/OMS/Management/ToolsUtilities/frmchangepassword.aspx">
                                    <img src="/assests/images/change.png" class="iconSubMenu">
                                    <span>Change Password</span>
                                </a>
                            </li>
                            <li class="noBod">
                                <a href="/OMS/SignOff.aspx">
                                    <img src="/assests/images/logout.png" class="iconSubMenu">
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
