@*====================================================== Revision History ===================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                15-02-2023        V2.0.39          Pallab              Settings/Options module design modification *@
@*====================================================== Revision History ===================================================*@

@model MyShop.Models.FormulaApply

@{
    ViewBag.Title = "Rating configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .dxgvControl_PlasticBlue td.dxgvBatchEditModifiedCell_PlasticBlue {
        background: #fff !important;
    }

    #grid_DXStatus a.dxbButton_PlasticBlue.dxbButtonSys {
        display: none;
    }

    .tabTotal {
        border: none;
    }

        .tabTotal .tabHead {
            background: transparent !important;
        }

        .tabTotal .panel-body {
            border: 1px solid #ccc;
            border-top: 3px solid #3D5294;
        }

        .tabTotal .tabHead > ul > li > a {
            height: 27px;
            padding: 5px 10px 4px 10px;
            border-radius: 0;
            color: #333 !important;
        }

        .tabTotal .tabHead > ul > li > a {
            border: 1px solid #d8d8d8;
            border-bottom: 1px solid #002D96 !important;
            background-color: #f9f9f9 !important;
        }

            .tabTotal .tabHead > ul > li > a:hover {
                border: 1px solid #d8d8d8 !important;
                border-bottom: 1px solid #002D96 !important;
                background-color: #f1efef !important;
            }

        .tabTotal .tabHead > ul > li.active > a,
        .tabTotal .tabHead > ul > li.active > a:hover {
            border-top: 1px solid #002D96 !important;
            border-right: 1px solid #002D96 !important;
            border-bottom: 1px none #002D96 !important;
            border-left: 1px solid #002D96 !important;
            color: #fff !important;
            background-color: #45599B !important;
            -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
            -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
            box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
        }

    .dynamicPopupTbl {
        border: 1px solid #ccc;
    }

        .dynamicPopupTbl > tbody > tr > td {
            overflow: hidden;
            border-bottom: 1px solid #d9d9d9;
            border-right: 1px solid #d9d9d9;
            /* border-top-width: 0; */
            border-left-width: 0;
            padding: 4px 6px 5px;
            font: 12px Tahoma, Geneva, sans-serif;
        }

        .dynamicPopupTbl > tbody > tr > th {
            font: 12px Tahoma, Geneva, sans-serif;
            padding: 7px 6px 7px 6px;
            border-right: 1px solid #2a2067;
            border-top: 1px solid #2a2067;
            border-bottom: 1px solid #2a2067;
        }

            .dynamicPopupTbl > tbody > tr > th:first-child {
                border-left: 1px solid #2a2067;
            }

        .dynamicPopupTbl > tbody > tr > td {
            cursor: pointer;
        }

            .dynamicPopupTbl > tbody > tr > td input {
                border: none !important;
                cursor: pointer;
                background: transparent !important;
                height: 14px;
                margin-bottom: 0;
                font: 12px Tahoma, Geneva, sans-serif;
            }

    #DetailsTable {
        padding: 0 15px;
    }

    .HeaderStyle.newcol {
        background-color: #45599b;
    }

    .dynamicPopupTbl > tbody > tr > th {
        border-right: 1px solid #4f42a0;
    }

    .focusrow {
        background-color: #3CA5DF;
        color: #ffffff;
    }

        .focusrow > td input {
            color: white;
        }

    .HeaderStyle {
        background-color: #180771d9;
        color: #f5f5f5;
        height: 23px;
        font-size: 15px;
    }

    .validclass {
        position: absolute;
        right: -1px;
        top: 27px;
    }

    .dxeOutOfRWarnRight_PlasticBlue {
        margin-left: -82px !important;
    }

    #grid_DXStatus {
        display: none;
    }

    /*Rev 1.0*/

    body, .dxtcLite_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .dxeButtonDisabled_PlasticBlue {
        background: #ababab !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 13px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 7px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 9px;
        right: 24px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select, .h-branch-select-new {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            /*content: url(../../../assests/images/left-arw.png);*/
            position: absolute;
            top: 33px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

        .h-branch-select-new::after {
            content: '<';
            /*content: url(../../../assests/images/left-arw.png);*/
            position: absolute;
            top: 9px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    select:not(.btn):focus {
        border-color: #094e8c;
    }

    select:not(.btn):focus-visible {
        box-shadow: none;
        outline: none;
    }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    select:not(.btn) {
        padding-right: 30px;
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue,
    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo, #FormDate, #toDate, #proj_start_dt {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .modal-content {
        border: none;
        border-radius: 10px;
    }

    .modal-header .modal-title {
        font-size: 14px;
    }

    .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1, #cmbDOJ_B-1, #cmbLeaveEff_B-1, #FormDate_B-1, #toDate_B-1, #proj_start_dt_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img, #cmbDOJ_B-1 #cmbDOJ_B-1Img, #cmbLeaveEff_B-1 #cmbLeaveEff_B-1Img, #FormDate_B-1 #FormDate_B-1Img, #toDate_B-1 #toDate_B-1Img, #proj_start_dt_B-1 #proj_start_dt_B-1Img {
            display: none;
        }

    #FormDate_I, #toDate_I, #proj_start_dt_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        /*z-index: 1;*/
    }

    .pad-md-18 {
        padding-top: 10px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .dxeCalendarSelected_PlasticBlue {
        color: White;
        background-color: #185598;
    }

    .dxeTextBox_PlasticBlue {
        height: 34px;
        border-radius: 4px;
    }

    #cmbDOJ_DDD_PW-1 {
        z-index: 9999 !important;
    }

    #cmbDOJ, #cmbLeaveEff {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    .btn-sm, .btn-xs {
        padding: 7px 10px !important;
    }

    #productAttributePopUp_PWH-1 span, #ASPxPopupControl2_PWH-1 span {
        color: #fff !important;
    }

    #marketsGrid_DXPEForm_tcefnew, .dxgvPopupEditForm_PlasticBlue {
        height: 220px !important;
    }

    .btn {
        height: 34px;
    }

    /*Rev end 1.0*/
</style>
<script>
    var globalRowIndex;

    $(document).ready(function () {
        if (getUrlParameter('EditFlag') == "I") {
            btn_save_new.SetVisible(false);
        }
    });

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    function gridAdjustAmtValue(s, e) {
        if (parseFloat(grid.GetEditor("high").GetValue()) < parseFloat(grid.GetEditor("low").GetValue())) {
            grid.batchEditApi.StartEdit(globalRowIndex, 3);
            // jAlert("High Value can not be less than low value.", "Alert");

        }
    }

    function gridAdjustAmtValueforlow(s, e) {
        if (parseFloat(grid.GetEditor("low").GetValue()) > parseFloat(grid.GetEditor("high").GetValue())) {
            grid.batchEditApi.StartEdit(globalRowIndex, 3);
            jAlert("Low Value can not be greater than high value.", "Alert");
        }
    }

    function datevalidate() {
        // appcbl_to_dt.SetMinDate(appcbl_frm_dt.GetDate());
    }

    function datevalidateTo() {
        // appcbl_frm_dt.SetMaxDate(appcbl_to_dt.GetDate());
    }
    var TblFormulaCode;
    function OnStartCallback(s, e) {
        //alert(1)
        e.customArgs["TblFormulaCode"] = TblFormulaCode;
    }

    function save_new() {
        if (validateForm()) {
            if (GridValidate()) {
                save("N");

            }

        }
    }

    function save_exit() {
        if (validateForm()) {
            if (GridValidate()) {
                save("E");

            }

        }
    }


    function validateForm() {

        var x = true;
        var tbl_nm = $("#txt_tbl").val().trim();
        var shrt_nm = $('#txt_shrt_nm').val().trim();

        if (tbl_nm == "" || tbl_nm == null) {
            $("#Mandatorytable").show();
            x = false;
        }
        else {
            $("#Mandatorytable").hide();
        }
        if (shrt_nm == "" || shrt_nm == null) {
            $("#Mandatoryshrt_nm").show();
            x = false;
        }
        else {
            $("#Mandatoryshrt_nm").hide();
        }


        if (x == false) {
            return false;
        }
        else {
            return true;
        }
    }

    function save(actionType) {
        var _formulaheader = {
            table: $("#txt_tbl").val(),
            short_nm: $('#txt_shrt_nm').val(),
            month: $("#month").val(),
            year: $("#year").val(),
            appl_for: $("#header_appl_for").val(),

            tableFormulaCode: $('#hdn_id').val(),
            TableBreakUpId: $('#hdn_tblbrkupid').val()
        }



        var formulaItems = [];
        for (var i = 0; i < 1000; i++) {
            var formula_dtls = {};
            if (grid.GetRow(i)) {
                if (grid.GetRow(i).style.display != "none") {
                    grid.batchEditApi.StartEdit(i, 2);
                    formula_dtls["low"] = grid.GetEditor("low").GetValue();
                    formula_dtls["high"] = grid.GetEditor("high").GetValue();
                    formula_dtls["value"] = grid.GetEditor("value").GetValue();
                    formulaItems.push(formula_dtls);
                }
            }
        }

        for (i = -1; i > -1000; i--) {
            if (grid.GetRow(i)) {
                if (grid.GetRow(i).style.display != "none") {
                    grid.batchEditApi.StartEdit(i, 2);
                    var formula_dtls = {};
                    formula_dtls["low"] = grid.GetEditor("low").GetValue();
                    formula_dtls["high"] = grid.GetEditor("high").GetValue();
                    formula_dtls["value"] = grid.GetEditor("value").GetValue();
                    formulaItems.push(formula_dtls);
                }
            }
        }

        var apply = {
            header: _formulaheader,
            dtls: formulaItems
        }

        $.ajax({
            type: "POST",
            url: "/EntityRating/Apply",
            data: "{apply:" + JSON.stringify(apply) + "}",
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response.response_msg == "Success") {

                    jAlert("Saved Successfully", "Alert", function () {
                        if (actionType == "N") {
                            if ($('#hdn_id').val() == '' || $('#hdn_id').val() == null) {
                                $('#hdn_id').val(response.header.tableFormulaCode);
                            }
                            $('#hdn_tblbrkupid').val('');
                            $("#txt_tbl").attr("disabled", "disabled");
                            $("#txt_shrt_nm").attr("disabled", "disabled");


                            TblFormulaCode = $('#hdn_id').val();
                            for (var i = 0; i < 1000; i++) {

                                if (grid.GetRow(i)) {
                                    if (grid.GetRow(i).style.display != "none") {
                                        grid.DeleteRow(i);
                                    }
                                }
                            }

                            for (i = -1; i > -1000; i--) {
                                if (grid.GetRow(i)) {
                                    if (grid.GetRow(i).style.display != "none") {
                                        grid.DeleteRow(i);
                                    }
                                }
                            }

                            AddNewRowWithSl();
                            gvreferpaging.Refresh();
                        }
                        else {
                            var url = '/mySHOP/EntityRating/Index';
                            window.location.href = url;
                        }
                    });
                }
                else {
                    jAlert(response.response_msg);
                }
            },
            error: function (response) {
                jAlert("Please try again later");
            }
        });

    }

    $(document).ready(function () {

        var code = "";
        var month='@Model.header.month';
        var year = '@Model.header.year';
        var appl_for = '@Model.header.appl_for';


        if (month != "") {
            $("#txt_tbl").attr("disabled", "disabled");
            $("#txt_shrt_nm").attr("disabled", "disabled");

            $("#year").val(year)
            $("#month").val(month)
            $("#appl_for").val(appl_for)




    }


        //AddNewRowWithSl();
        //setTimeout(function () { $("#txt_tbl").focus() }, 450);
        setTimeout(function () { AddNewRowWithSl(); }, 200);
    setTimeout(function () { $("#txt_tbl").focus() }, 800);
    });

    function AddNewRowWithSl() {

        grid.AddNewRow();
        index = globalRowIndex;
        resuffleSerial();

        setTimeout(function () {
            grid.batchEditApi.EndEdit();
            grid.batchEditApi.StartEdit(index, 1);
        }, 200);
    }

    function GridValidate() {
        var x = true;

        for (var i = 0; i < 1000; i++) {

            if (grid.GetRow(i)) {
                if (grid.GetRow(i).style.display != "none") {
                    grid.batchEditApi.StartEdit(i, 2);
                    if (parseFloat(grid.GetEditor("high").GetValue()) < parseFloat(grid.GetEditor("low").GetValue())) {
                        if (x) {
                            jAlert("High Value can not be less than low value.", "Alert");
                            x = false;
                        }
                    }
                }
            }
        }

        for (i = -1; i > -1000; i--) {
            if (grid.GetRow(i)) {
                if (grid.GetRow(i).style.display != "none") {
                    grid.batchEditApi.StartEdit(i, 2);
                    if (parseFloat(grid.GetEditor("high").GetValue()) < parseFloat(grid.GetEditor("low").GetValue())) {
                        if (x) {
                            jAlert("High Value can not be less than low value.", "Alert");
                            x = false;
                        }
                    }
                }
            }
        }
        if (x == false) {
            return false;
        }
        else {
            return true;
        }
    }

    function resuffleSerial() {
        var sl = 1;
        for (var i = -1; i > -500; i--) {
            if (grid.GetRow(i)) {
                grid.batchEditApi.StartEdit(i, 1);
                //grid.GetEditor('Sl').SetText(sl);
                if (grid.GetEditor('low').GetText() == "") {
                    grid.GetEditor('low').SetText(0);
                    grid.GetEditor('high').SetText(0);
                    grid.GetEditor('value').SetText(0);
                }
                grid.batchEditApi.StartEdit(i, 1);
                sl = sl + 1;
            }
        }
    }

    function key_value(s, e) {
        if (e.htmlEvent.key == "Enter" || e.code == "NumpadEnter") {
            AddNewRowWithSl();
            index = globalRowIndex;


            setTimeout(function () {
                grid.batchEditApi.EndEdit();
                grid.batchEditApi.StartEdit(index, 1);
            }, 200);
        }
    }

    function BatchStartEditing(s, e) {
        globalRowIndex = e.visibleIndex;
    }

    function grid_CustomButtonClick(s, e) {
        if (e.buttonID == "Delete") {
            var noofvisiblerows = grid.GetVisibleRowsOnPage();

            if (noofvisiblerows != 1) {
                grid.DeleteRow(e.visibleIndex);
                resuffleSerial();
            }
        }
        e.processOnServer = false;
    }
</script>
<div class="breadCumb">
    <span> Add</span>
    <div id="ApprovalCross" class="crossBtnN "><a href="/mySHOP/EntityRating/Index"><i class="fa fa-times"></i></a></div>
</div>
<div class="container">
    <div class="form_main backBox px-3 py-3">
        <div class="clearfix">
            <div class="row clearfix mb-3">
                <div class="col-md-2">
                    <label>Rating Name</label>
                    <div>
                        <input type="text" id="txt_tbl" class="form-control" value="@Model.header.table" />
                        <span id="Mandatorytable" style="display: none" class="validclass">
                            <img id="imgMandatoryName" class="dxEditors_edtError_PlasticBlue" src="/DXR.axd?r=1_36-tyKfc" title="Mandatory">
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Short Name</label>
                    <div>
                        <input type="text" id="txt_shrt_nm" class="form-control" value="@Model.header.short_nm" />
                        <span id="Mandatoryshrt_nm" style="display: none" class="validclass">
                            <img id="imgMandatoryName" class="dxEditors_edtError_PlasticBlue" src="/DXR.axd?r=1_36-tyKfc" title="Mandatory">
                        </span>
                    </div>
                    <input type="hidden" name="hdn_id" id="hdn_id" value="@Model.header.tableFormulaCode" />
                    <input type="hidden" name="hdn_tblbrkupid" id="hdn_tblbrkupid" value="@Model.header.TableBreakUpId" />
                </div>
                @*Rev 1.0*@
                @*<div class="col-md-2">*@
                <div class="col-md-2 h-branch-select">
                    @*Rev end 1.0*@
                    <label>Month</label>
                    <div>
                        <select id='month'>
                            \
                            <option selected value='1'>Janaury</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>


                        <span id="Mandatoryfrm_dt" style="display: none" class="validclass">
                            <img id="imgMandatoryName" class="dxEditors_edtError_PlasticBlue" src="/DXR.axd?r=1_36-tyKfc" title="Mandatory">
                        </span>
                    </div>
                </div>
                @*Rev 1.0*@
                @*<div class="col-md-2">*@
                <div class="col-md-2 h-branch-select">
                    @*Rev end 1.0*@
                    <label>Year</label>
                    <div>
                        <select id='year'>

                            <option selected value='2020'>2020</option>
                            <option value='2021'>2021</option>
                            <option value='2022'>2022</option>
                            <option value='2023'>2023</option>
                            <option value='2024'>2024</option>
                            <option value='2025'>2025</option>
                            <option value='2026'>2026</option>
                            <option value='2027'>2027</option>
                            <option value='2028'>2028</option>
                            <option value='2029'>2029</option>

                        </select>
                        <span id="Mandatoryto_dt" style="display: none" class="validclass">
                            <img id="imgMandatoryName" class="dxEditors_edtError_PlasticBlue" src="/DXR.axd?r=1_36-tyKfc" title="Mandatory">
                        </span>
                    </div>
                </div>


                @*Rev 1.0*@
                @*<div class="col-md-2">*@
                <div class="col-md-2 h-branch-select">
                    @*Rev end 1.0*@
                    <label>Applicable For</label>
                    <div>

                        @Html.DropDownListFor(model => model.header.appl_for, new SelectList(Model.header.Shop_Type, "shop_typeId", "Name"))

                    </div>

                    <span id="MandatoryApplFor" style="display: none" class="validclass">
                        <img id="imgMandatoryName" class="dxEditors_edtError_PlasticBlue" src="/DXR.axd?r=1_36-tyKfc" title="Mandatory">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div style="clear: both;"></div>
                    <div id="DetailsTable">
                        @Html.DevExpress().GridView(
                settings =>
                {
                    settings.Name = "grid";
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    settings.SettingsEditing.Mode = GridViewEditingMode.Batch;
                    settings.SettingsEditing.NewItemRowPosition = GridViewNewItemRowPosition.Bottom;
                    settings.SettingsEditing.BatchEditSettings.ShowConfirmOnLosingChanges = false;
                    settings.ClientSideEvents.BatchEditStartEditing = "BatchStartEditing";
                    settings.SettingsBehavior.AllowSort = false;
                    settings.KeyFieldName = "ID";
                    settings.SettingsEditing.BatchEditSettings.EditMode = GridViewBatchEditMode.Row;
                    settings.ClientSideEvents.CustomButtonClick = "grid_CustomButtonClick";

                    var del = new GridViewCommandColumnCustomButton();
                    del.Text = " ";
                    del.Image.Url = "/assests/images/crs.png";
                    del.ID = "Delete";

                    settings.CommandColumn.CustomButtons.Add(del);
                    settings.CommandColumn.Caption = "Action";
                    settings.CommandColumn.Visible = true;
                    settings.CommandColumn.Width = System.Web.UI.WebControls.Unit.Percentage(5);
                    settings.CommandColumn.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                    settings.CommandColumn.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                    var low = settings.Columns.Add("txt_low", MVCxGridViewColumnType.ButtonEdit);
                    low.Caption = "Low";
                    low.FieldName = "low";
                    var l_low = (ButtonEditProperties)low.PropertiesEdit;
                    l_low.MaskSettings.Mask = "<0..999999999>.<00..99>";
                    l_low.MaskSettings.AllowMouseWheel = false;
                    l_low.DisplayFormatString = "0.00";
                    l_low.ValidationSettings.RequiredField.IsRequired = false;
                    l_low.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;

                    var high = settings.Columns.Add("txt_high", MVCxGridViewColumnType.ButtonEdit);
                    high.Caption = "High";
                    high.FieldName = "high";
                    var h_high = (ButtonEditProperties)high.PropertiesEdit;
                    h_high.MaskSettings.Mask = "<0..999999999>.<00..99>";
                    h_high.MaskSettings.AllowMouseWheel = false;
                    h_high.DisplayFormatString = "0.00";
                    h_high.ValidationSettings.RequiredField.IsRequired = false;
                    h_high.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                    h_high.ClientSideEvents.LostFocus = "gridAdjustAmtValue";

                    var Vvalue = settings.Columns.Add("txt_val", MVCxGridViewColumnType.ButtonEdit);
                    Vvalue.Caption = "Value";
                    Vvalue.FieldName = "value";
                    var v_value = (ButtonEditProperties)Vvalue.PropertiesEdit;
                    v_value.MaxLength = 50;
                    //v_value.MaskSettings.Mask = "<0..999999999>.<00..99>";
                    //v_value.MaskSettings.AllowMouseWheel = false;
                    //v_value.DisplayFormatString = "0.00";
                    v_value.ValidationSettings.RequiredField.IsRequired = false;
                    v_value.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;

                    settings.CellEditorInitialize = (s, e) =>
                    {
                        if (e.Column.Caption == "Value")
                        {
                            e.Editor.SetClientSideEventHandler("KeyDown", "key_value");
                        }
                        e.Editor.Enabled = true;
                        e.Editor.ReadOnly = false;

                    };
                }
                         ).Bind(Model.dtls).GetHtml()
                    </div>
                    <div style="clear: both;"></div>
                    <div class="col-md-12" style="padding-top: 10px;">
                        @Html.DevExpress().Button(
                        settings =>
                        {
                            settings.Name = "btn_save_new";
                            settings.Text = "Save & New";
                            settings.RenderMode = ButtonRenderMode.Button;
                            settings.ControlStyle.CssClass = "btn btn-primary";
                            settings.UseSubmitBehavior = false;
                            settings.ClientSideEvents.Click = "save_new";
                            settings.ClientVisible = false;
                        }
                        ).GetHtml()

                        @Html.DevExpress().Button(
                        settings =>
                        {
                            settings.Name = "btn_save_Exit";
                            settings.Text = "Save & Exit";
                            settings.RenderMode = ButtonRenderMode.Button;
                            settings.ControlStyle.CssClass = "btn btn-primary";
                            settings.UseSubmitBehavior = false;
                            settings.ClientSideEvents.Click = "save_exit";
                        }
                        ).GetHtml()
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="form_main">




</div>


