@model Models.Shopslists
@{
    ViewBag.Title = "Add Counters (PP/DD)";
}

<script>

    $(function () {
        $('body').on('click', '#btnshow', function () {
            var surl = '@Url.Action("ShopSubmit", "PPDD")';
            $.ajax({
                url: surl,
                async: false,
                data: {
                    address: $("#txtaddress").val(),
                    shop_name: $("#txtshpname").val(),
                    Shoptype: $("#drpshoptypesr").val(),
                    pin_code: $("#txtpincode").val(),
                    owner_name: $("#txtowner").val(),
                    owner_contact_no: $("#txtcontact").val(),
                    owner_email: $("#txtEmail").val(),
                    shop_Auto: $("#hdnshpid").val(),
                    dobstr: $("#txtDOB").val(),
                    date_aniversarystr: $("#txtAnniversary").val(),
                    Assign_To: $("#drpassignto").val()
                },
                type: 'POST',

                success: function (data) {
                    // alert(data);
                    if (data == true) {
                        // alert(data);
                        $("#myModal").modal('hide');
                        jAlert('Shop Added Successfully');

                        gridPPDDList.Refresh();

                        $("#txtaddress").val(''),
                         $("#txtshpname").val(''),
                         $("#drpshoptypesr").val(''),
                         $("#txtpincode").val(''),
                        $("#txtowner").val(''),
                         $("#txtcontact").val(''),
                         $("#txtEmail").val(''),

                        $("#drpassignto").val('')

                    }
                    else {

                        jAlert('Duplicate Contact Number');

                    }


                },
                error: function () {

                },


            });


        });


        $('#ddlAppIds').on('change', function () {
            if ($("#ddlAppIds option:selected").index() > 0) {
                var selectedValue = $(this).val();
                $('#ddlAppIds').prop("selectedIndex", 0);
                var url = '@Url.Action("ExportPPDDlist", "PPDD", new { type = "_type_" })'
                window.location.href = url.replace("_type_", selectedValue);

            }
        });


    });


</script>

<style>
    select:not(.btn) {
        height: 34px;
    }

    label
    {
        margin-top: 5px;
    }
</style>



    <div class="breadCumb">
        <span>Add PP DD  </span>
    </div>

<div class="container">
    <div class="backBox mt-3 p-3 ">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Type :</label><span class="red">*</span>
                        <div>

                            @Html.DropDownListFor(m => m.type, new SelectList(Model.shptypes, "ID", "Name", Model.Shoptype), new { @id = "drpshoptypesr", @class = "whclass form-control" })

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>PP/DD Name:</label><span class="red">*</span>
                        <div>

                            @Html.TextBoxFor(m => m.shop_name, new { @class = "form-control", @id = "txtshpname" })

                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-12">
                        <label>Address :</label><span class="red">*</span>
                        <div>

                            @Html.TextAreaFor(m => m.address, new { @class = "form-control", @id = "txtaddress" })

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label>Pin Code : </label><span class="red">*</span>
                        <div>

                            @Html.TextBoxFor(m => m.pin_code, new { @class = "form-control", @id = "txtpincode" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Owner :</label><span class="red">*</span>
                        <div id="divtravel">

                            @Html.TextBoxFor(m => m.owner_name, new { @class = "form-control", @id = "txtowner" })

                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Owner Contact :</label><span class="red">*</span>
                        <div id="divfuelType">

                            @Html.TextBoxFor(m => m.owner_contact_no, new { @class = "form-control", @id = "txtcontact" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Owner Email :</label>
                        <div>

                            @Html.TextBoxFor(m => m.owner_email, new { @class = "form-control", @id = "txtEmail" })


                        </div>
                    </div>
                    <div class="col-md-8">
                        <label>Assign to Supervisor</label><span class="red">*</span>
                        <div>

                            @Html.DropDownListFor(m => m.Assign_To, new SelectList(Model.userslist, "UserID", "username", Model.userslist), "", new { @id = "drpassignto", @class = "whclass form-control" })

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mTop5">
            <div class="col-md-12 pad-md-18 mt-5 mb-4">


                <button type="button" id="btnshow" class="btn btn-success mr-2" tabindex=12>Add</button>


                <select name="ddlAppIds" class="btn btn-sm btn-primary" id="ddlAppIds" tabindex=15>
                    <option value="0">Export to</option>
                    <option value="1">PDF</option>
                    <option value="2">XLSX</option>
                    <option value="3">XLS</option>
                    <option value="4">RTF</option>
                    <option value="5">CSV</option>

                </select>
            </div>
        </div>
        <input type="hidden" id="hdTCid_id" />
        <input type="hidden" id="hdnuser_state" />
        <input type="hidden" id="hdnuser_shop" />
    </div>
</div>
<div class="container">
    <div class="backBox mt-3 p-3 ">
        <div id="refreshgridsalessummary">

            @{
                Html.RenderAction("_PartialPPDDList", "PPDD");
            }

        </div>
    </div>
</div>