@*====================================================== Revision History ===================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                17-02-2023        V2.0.39          Pallab              Settings/Options module design modification *@
@*====================================================== Revision History ===================================================*@

@{
    ViewBag.Title = "Time Sheet Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>*@
<link href="~/assests/css/custom/jquery.confirm.css" rel="stylesheet" />
<script src="~/assests/js/jquery.confirm.min.js"></script>

<script>


    $(document).ready(function () {
        var employeeUrl = '@Url.Action("GetUserData", "DashboardMenu")'
        $.ajax({
            type: "POST",
            url: employeeUrl,
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                //console.log(msg);
                if (msg.length > 0) {
                    var obj = "<option value='0'>Select</option>";
                    for (i = 0; i < msg.length; i++) {
                        obj += "<option value='" + msg[i].USER_ID + "'>" + msg[i].NAME + "</option>"
                    }
                    obj += "";
                    //console.log(obj)
                    $("#userID").html(obj);
                }
            }
        });


    })



    function OnMoreInfoClick(id) {


        $.confirm({
            title: 'Approve/Reject',
            content: 'Please Approve or reject.',
            autoClose: 'Cancel|10000',
            buttons: {

                approve: {
                    text: 'Approve',
                    btnClass: 'btn-success',
                    keys: ['enter', 'shift'],
                    action: function () {
                        approvrreject(id, "APPROVETIMESHEET");
                    }
                },
                reject: {
                    text: 'Reject',
                    btnClass: 'btn-danger',
                    keys: ['enter', 'shift'],
                    action: function () {
                        approvrreject(id, "REJECTTIMESHEET");
                    }
                },
                Cancel: {
                    text: 'Cancel',
                    btnClass: 'btn',
                    keys: ['enter', 'shift'],
                    action: function () {
                        // massapprovrreject( "REJECTTIMESHEET");
                    }
                }
            }
        });
    }

    function approvrreject(id, status) {
        var surl = '@Url.Action("ApproveReject", "TimeSheet")';
        $.ajax({
            url: surl,
            //async: false,
            data: {
                timesheet_id: id,
                status: status
            },
            type: 'POST',

            success: function (data) {
                jAlert(data);
                gridTimeSheet.Refresh()
                gridTimeSheet.Refresh()


            },
            error: function () {

            },


        });

    }

    function TimeGridBeginCallback(s, e) {
        e.customArgs["isMassDeleteClicked"] = true;
        e.customArgs["fromdate"] = dtFrom.GetText();
        e.customArgs["todate"] = dtTo.GetText();
        e.customArgs["userid"] = $("#userID").val();



    }
    var selectallclick = false;
    function onSelectAllCheckBoxCheckedChanged(s, e) {
        selectallclick = true;
        gridTimeSheet.PerformCallback({ isMassDeleteClicked: s.GetChecked(), fromdate: dtFrom.GetText() });
    }

    function RefreshGrid() {
        gridTimeSheet.Refresh();
        gridTimeSheet.Refresh();
    }

    function ShowCheckBox() {
        $.confirm({
            title: 'Approve/Reject',
            content: 'Please Approve or reject.',
            autoClose: 'Cancel|10000',
            buttons: {

                approve: {
                    text: 'Approve',
                    btnClass: 'btn-success',
                    keys: ['enter', 'shift'],
                    action: function () {
                        massapprovrreject("APPROVETIMESHEET");
                    }
                },
                reject: {
                    text: 'Reject',
                    btnClass: 'btn-danger',
                    keys: ['enter', 'shift'],
                    action: function () {
                        massapprovrreject("REJECTTIMESHEET");
                    }
                },
                Cancel: {
                    text: 'Cancel',
                    btnClass: 'btn',
                    keys: ['enter', 'shift'],
                    action: function () {
                        // massapprovrreject( "REJECTTIMESHEET");
                    }
                }
            }
        });
    }


    function massapprovrreject(status) {
        var strTimeSheet = "";

        gridTimeSheet.GetSelectedFieldValues("id", function (str) {
            strTimeSheet = str.join(",");


            if (str == "") {
                jAlert(' Please select atleast one entry to proceed.', 'Alert');
            }
            else {
                var surl = '@Url.Action("MassApproveReject", "TimeSheet")';
                $.ajax({
                    url: surl,
                    //async: false,
                    data: {
                        timesheet_id: strTimeSheet,
                        status: status
                    },
                    type: 'POST',

                    success: function (data) {
                        jAlert(data);
                        gridTimeSheet.Refresh()
                        gridTimeSheet.Refresh()


                    },
                    error: function () {

                    }


                });
            }
        });
    }

</script>

<style>
    /*Rev 1.0*/

    body, .dxtcLite_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .dxeButtonDisabled_PlasticBlue {
        background: #ababab !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 13px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 7px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 9px;
        right: 24px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select, .h-branch-select-new {
        position: relative;
    }

        .h-branch-select::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 34px;
            right: 18px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 17px;
            z-index: 0;
        }

        .h-branch-select-new::after {
            content: '<';
            /*content: url(../../../assests/images/left-arw.png);*/
            position: absolute;
            top: 9px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    select:not(.btn):focus {
        border-color: #094e8c;
    }

    select:not(.btn):focus-visible {
        box-shadow: none;
        outline: none;
    }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    select:not(.btn) {
        padding-right: 30px;
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue,
    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo, #FormDate, #toDate, #proj_start_dt {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .modal-content {
        border: none;
        border-radius: 10px;
    }

    .modal-header .modal-title {
        font-size: 14px;
    }

    .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1, #cmbDOJ_B-1, #cmbLeaveEff_B-1, #FormDate_B-1, #toDate_B-1, #proj_start_dt_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img, #cmbDOJ_B-1 #cmbDOJ_B-1Img, #cmbLeaveEff_B-1 #cmbLeaveEff_B-1Img, #FormDate_B-1 #FormDate_B-1Img, #toDate_B-1 #toDate_B-1Img, #proj_start_dt_B-1 #proj_start_dt_B-1Img {
            display: none;
        }

    #FormDate_I, #toDate_I, #proj_start_dt_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        /*z-index: 1;*/
    }

    .pad-md-18 {
        padding-top: 10px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .dxeCalendarSelected_PlasticBlue {
        color: White;
        background-color: #185598;
    }

    .dxeTextBox_PlasticBlue {
        height: 34px;
        border-radius: 4px;
    }

    #cmbDOJ_DDD_PW-1 {
        z-index: 9999 !important;
    }

    #cmbDOJ, #cmbLeaveEff {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    .btn-sm, .btn-xs {
        padding: 7px 10px !important;
    }

    #productAttributePopUp_PWH-1 span, #ASPxPopupControl2_PWH-1 span {
        color: #fff !important;
    }

    #marketsGrid_DXPEForm_tcefnew, .dxgvPopupEditForm_PlasticBlue {
        height: 220px !important;
    }

    .btn {
        height: 34px;
    }

    .dxpcLite_PlasticBlue .dxpc-header, .dxdpLite_PlasticBlue .dxpc-header {
        padding: 6px 4px 6px 10px;
        background: #094e8c;
    }

    #pcModalMode_PW-1 {
        border-radius: 12px;
        overflow: hidden;
    }

    .cke_bottom {
        background: #094e8c;
    }

    .fff > thead > tr > th {
        background: #094e8c;
    }

    .sltemp
    {
        padding: 0;
    }

    /*Rev end 1.0*/

    @@media only screen and (max-width: 768px) {

        .breadCumb {
            padding: 0 10%;
        }

        .breadCumb > span {
                padding: 9px 20px;
        }

        .w-100-mobile .btn
        {
            margin-bottom: 10px;
        }

        
    }
</style>

<div class="breadCumb">
    <span>Time Sheet Approval/Rejection</span>
</div>
<div class="container">
    <div class="backBox p-3 mt-5">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <table class="eqpadtbl  mb-3">
                            <tr>
                                @*Rev 1.0*@
                                @*<td class="w150">*@
                                <td class="w150 for-cust-icon">
                                    @*Rev end 1.0*@
                                    <label>From Date</label>
                                    <div>
                                        @Html.DevExpress().DateEdit(
                                deSettings =>
                                {
                                    deSettings.Name = "dtFrom";
                                    deSettings.Date = DateTime.Now;
                                    deSettings.Properties.UseMaskBehavior = true;
                                    deSettings.Properties.EditFormat = EditFormat.Custom;
                                    deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                    deSettings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                    deSettings.Properties.EditFormatString = "dd-MM-yyyy";
                                }).GetHtml()
                                        @*Rev 1.0*@
                                        <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                                        @*Rev end 1.0*@
                                    </div>
                                </td>
                                @*Rev 1.0*@
                                @*<td class="w150">*@
                                <td class="w150 for-cust-icon">
                                    @*Rev end 1.0*@
                                    <label>To Date</label>
                                    <div>
                                        @Html.DevExpress().DateEdit(
                                deSettings =>
                                {
                                    deSettings.Name = "dtTo";
                                    deSettings.Date = DateTime.Now;
                                    deSettings.Properties.UseMaskBehavior = true;
                                    deSettings.Properties.EditFormat = EditFormat.Custom;
                                    deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                    deSettings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                    deSettings.Properties.EditFormatString = "dd-MM-yyyy";
                                }).GetHtml()
                                        @*Rev 1.0*@
                                        <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                                        @*Rev end 1.0*@
                                    </div>
                                </td>
                                <td class=" h-branch-select">
                                    <label>Employee</label>
                                    <div class="sltemp">
                                        <select id="userID">
                                            <option></option>
                                        </select>
                                    </div>
                                </td>
                                <td style="padding-top: 22px; width: 360px;" class="w-100-mobile">
                                    <label></label>
                                    <button type="button" id="btnshow" class="btn btn-success btnwidth" onclick="RefreshGrid();" tabindex=4>Show</button>
                                    <button type="button" id="btnMassApprove" class="btn btn-warning btnwidth" onclick="ShowCheckBox();" tabindex=4>Mass Approve/Reject</button>

                                    <select name="ddlAppIds" class="btn btn-sm btn-primary" id="ddlAppIds">
                                        <option value="0">Export to</option>
                                        <option value="1">PDF</option>
                                        <option value="2">XLSX</option>
                                        <option value="3">XLS</option>
                                        <option value="2">RTF</option>
                                        <option value="2">CSV</option>

                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="overflow-x-auto">
                            @{
                                Html.RenderAction("_PartialSheetApprovalGrid", "TimeSheet", new { isMassDeleteClicked = false, fromdate = "", todate = "", userid = "" });
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
