@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                20-01-2023        V2.0.38           Pallab              25576: Report page design modification *@
@*2.0                03-02-2023        V2.0.38           PRITI               0025604: Enhancement Required in the Order Summary Report *@
@*3.0                30-06-2023        V2.0.41           Sanchita            Employee filtration is not working in Order summary Report.Refer: 26260    *@
@*4.0                19-07-2023        V2.0.42           Priti               0026135: Branch Parameter is required for various FSM reports
    @*5.0                19-07-2023        V2.0.41           Pallab              All action button should be under one column, cross icon add in "Select Design" popup in order summary
                                                                                            Refer: 26596 *@
@*6.0                29-04-2024        V2.0.46           Priti               0027411: Please make the Product List field non editable of the Order Summary page.
@*7.0                29/05/2024        V2.0.47          Sanchita            0027405: Colum Chooser Option needs to add for the following Modules*@
@*====================================================== Revision History ==========================================================*@

@model Models.Reportorderregisterinput
@{
    ViewBag.Title = "Order Summary ";
}
<script type="text/javascript" src="~/Scripts/globalize.js"></script>
<script src="~/Scripts/cultures/globalize.cultures.js"></script>
<script src="~/Scripts/chosen/chosen.jquery.min.js"></script>
<link href="~/Scripts/chosen/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/SearchPopup.js"></script>
@*<link href="~/assests/css/custom/SearchPopup.css" rel="stylesheet" />*@
<link href="~/assests/css/custom/SearchPopup.css" rel="stylesheet" />
<script src="~/assests/pluggins/choosen/choosen.min.js"></script>
<script src="~/Scripts/SearchMultiPopup.js"></script>

<script>
    var Is_PageLoad = "0";
    //Rev 1.0
    function fetchProductDetails() {
        var surl = '@Url.Action("getMrpDiscount", "OrderSummary")';
        var Product_Id = $("#idproduct").val();
        if (Product_Id != null) {
            $.ajax({
                url: surl,
                async: false,
                data: {
                    Product_Id: Product_Id,
                },
                type: 'POST',
                success: function (data) {

                    $("#txtprod_MRP").val(data.sProduct_MRP);
                    $("#txtprod_discount").val(data.sProducts_Discount);

                },
                error: function () {

                },
            });
        }
    }
     //Rev 1.0 End

    $(function () {

        $("#btnEdit").attr('style', 'display:none;');
        var d = new Date();


        dtFrom.SetValue(d);
        dtTo.SetValue(d);

        var lookup = ASPxClientControl.GetControlCollection().GetByName("StateGridLookup");
        lookup.GetGridView().Refresh();
        var lookup = ASPxClientControl.GetControlCollection().GetByName("StateGridLookup");
        lookup.GetGridView().Refresh();

        //  $("#refreshgridstatusreportregister").hide();

        $("#drpuser").chosen({
            width: "100%"
        })
        $("#drpstate").chosen({
            width: "100%"
        })
        $("#drpshop").chosen({
            width: "100%"
        })

        $('#txtfromDate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD-MM-YYYY'
            }
        });

        $('#txttoDate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            mask: true,
            locale: {
                format: 'DD-MM-YYYY'
            }
        });

        $('body').on('click', '#btnshow', function () {
            // Rev 3.0
            GetEmpSelectedFieldValuesOndemand($("#hdnEmployeeId").val());
            // End of Rev 3.0
            var flag = true;
            datefrm = dtFrom.GetText();
            var newdatefrom = datefrm.split("-").reverse().join("-");
            var startdate = new Date(Date.parse(newdatefrom));
            dateto = dtTo.GetText();
            var newdateTo = dateto.split("-").reverse().join("-");
            var endDate = new Date(Date.parse(newdateTo));

            if ($("#hdnStateMandatory").val() == "True") {
                if (StateId == "") {
                    jAlert("Please select State.");
                    flag = false;
                    return;
                }
            }

            if (endDate < startdate) {
                jAlert('From date should be before/equal To date');
            }
            else {
                var start = $('#dtFrom_I').val();
                var end = $('#dtTo_I').val();
                start = start.split('-')[1] + '-' + start.split('-')[0] + '-' + start.split('-')[2];
                end = end.split('-')[1] + '-' + end.split('-')[0] + '-' + end.split('-')[2];

                var dayse = Math.round((Date.parse(end) - Date.parse(start)) / (1000 * 60 * 60 * 24));
                if (flag) {
                    if (dayse <= 30) {
                        gridorderrsummary.Refresh();
                    }
                    else {
                        jAlert("Searching days must be within One month.");
                    }
                }
            }
        });

        $('body').on('click', '#btnclear', function () {
            Clearall();
        });

        $('body').on('click', '#btnEdit', function () {
            var flag = false;

            if ($("#idproduct").val() == "") {
                alert(flag);

            }
            else if ($("#txtprod_qty").val() == "" || parseInt($("#txtprod_qty").val()) == 0) {
                alert(flag);

            }

            else if ($("#txtprod_rate").val() == "" || parseInt($("#txtprod_rate").val()) == 0) {
                alert(flag);
            }

            else {
                flag = true;
                var surl = '@Url.Action("UpdateOrderProduct", "OrderSummary")';
                $.ajax({
                    url: surl,
                    async: false,
                    data: {
                        Order_ID: $("#hdnorder").val(),
                        Order_ProdId: $("#hdnproductorderid").val(),
                        Product_Id: $("#idproduct").val(),
                        Product_Qty: $("#txtprod_qty").val(),
                        Product_Rate: $("#txtprod_rate").val(),

                       /* REV 2.0*/
                        Product_MRP: $("#txtprod_MRP").val(),
                        Product_Discount: $("#txtprod_discount").val()
                      /*  REV 2.0 END*/
                    },
                    type: 'POST',
                    success: function (data) {
                        jAlert('Updated Successfully');
                        gridProductlist.Refresh();
                        gridorderrsummary.Refresh();
                    },
                    error: function () {

                    },
                });

            }


        });

        $('#ddlAppIds').on('change', function () {
            if ($("#ddlAppIds option:selected").index() > 0) {
                var selectedValue = $(this).val();
                $('#ddlAppIds').prop("selectedIndex", 0);
                var url = '@Url.Action("ExporOrdrSummaryList", "OrderSummary", new { type = "_type_" })'
                window.location.href = url.replace("_type_", selectedValue);

            }
        });


    });

    var StateId = [];
    function StateSelectionChanged(s, e) {
        StateGridLookup.gridView.GetSelectedFieldValues("ID", GetSelectedFieldValuesCallback);
    }
    function GetSelectedFieldValuesCallback(values) {

        try {
            StateId = [];
            for (var i = 0; i < values.length; i++) {
                StateId.push(values[i]);
            }
        } finally {
            console.log(StateId);
        }


    }

    var ShopId = [];
    function ShopSelectionChanged(s, e) {
        ShopGridLookup.gridView.GetSelectedFieldValues("ID", GetShopSelectedFieldValuesCallback);
    }
    function GetShopSelectedFieldValuesCallback(values) {
        try {
            ShopId = [];
            for (var i = 0; i < values.length; i++) {
                ShopId.push(values[i]);
            }
        } finally {
            console.log(ShopId);
        }
    }

    var empId = [];
    function EmpSelectionChanged(s, e) {
        EmpGridLookup.gridView.GetSelectedFieldValues("empcode", GetEmpSelectedFieldValuesCallback);
    }
    function GetEmpSelectedFieldValuesCallback(values) {
        try {
            empId = [];
            for (var i = 0; i < values.length; i++) {
                empId.push(values[i]);
            }
        } finally {
            console.log(empId);
        }
    }

    function OnStartCallback(s, e) {

        e.customArgs["Fromdate"] = dtFrom.GetText();
        e.customArgs["Todate"] = dtTo.GetText();
        //e.customArgs["selectedusrid"] = empId
        e.customArgs["empcode"] = empId;
        e.customArgs["StateId"] = StateId;
        e.customArgs["shopId"] = ShopId;
        //Rev Debashis
        if ($('#IsPaitentDetails').prop('checked')) {
            e.customArgs["IsPaitentDetails"] = 1;
        }
        else {
            e.customArgs["IsPaitentDetails"] = 0;
        }
        //End of Rev Debashis

        //REV 4.0
        e.customArgs["BranchId"] = BranchId;
        //REV 4.0 END
    }


    function LookupValChange() {
        EmpGridLookup.GetGridView().Refresh()
    }

    function EmpStartCallback(s, e) {
        e.customArgs["StateId"] = StateId;
        // e.customArgs["desgid"] = desigId;
        e.customArgs["userId"] = $("#hdnUserID").val();
    }

    function LookupShopValChange() {
        ShopGridLookup.GetGridView().Refresh()
    }

    function ShopStartCallback(s, e) {
        e.customArgs["StateId"] = StateId;
        //e.customArgs["desgid"] = desigId;
    }

    function OnStartCallbackshop(s, e) {
        //   gridgpsstatus.Refresh();

        e.customArgs["Fromdate"] = dtFrom.GetText();
        // e.customArgs["Fromdate"] = $('#txtfromDate').val();
        e.customArgs["Todate"] = $('#txttoDate').val();
        e.customArgs["selectedusrid"] = $("#hdnuser_id").val();
        e.customArgs["StateId"] = $("#hdnuser_state").val();
        e.customArgs["shopId"] = $("#hdnuser_shop").val();
        //Rev Debashis
        if ($('#IsPaitentDetails').prop('checked')) {
            e.customArgs["IsPaitentDetails"] = 1;
        }
        else {
            e.customArgs["IsPaitentDetails"] = 0;
        }
        //End of Rev Debashis
    }


    function isNumber(txt, evt) {

        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode == 46) {
            //Check if the text already contains the . character
            if (txt.value.indexOf('.') === -1) {
                return true;
            } else {
                return false;
            }
        } else {
            if (charCode > 31
                 && (charCode < 48 || charCode > 57))
                return false;
        }
        return true;
    }


    //Mantis Issue 24944
    function PrintOrder(orderid) {
        var $select = $('#ddl_design');
        $select.empty();
        $select.append("<option value='0'>--Select Design--</option>");
        //$('#DesignModel').show()
        $("#DesignModel").modal('show')
        $("#Order_Id").val(orderid)
        var surl = '@Url.Action("PrintSalesOrder", "OrderSummary")';
        $.ajax({
            url: surl,
            async: false,
            data: {
                OrderId: orderid,
            },
            type: 'POST',
            success: function (data) {
                //data.reportValue

                $.each(data, function (i, data) {
                    //alert(data.reportValue)
                    $('<option>', {
                        value: data.reportValue
                    }).append(data.name).appendTo($select);
                });

            },
            error: function () {

            },
        });
    }
    //End of Mantis Issue 24944



    function OpenProductWindow(orderid) {

        $("#hdnorder").val(orderid);
        $("#myModal").modal('show');
        Clearall();
        gridProductlist.Refresh();
    }


    function OnStartCallbackProduct(s, e) {
        e.customArgs["OrderId"] = $("#hdnorder").val();
    }

    function DeleteOrder(Id) {
        $.jAlert({
            'type': 'confirm',
            'confirmQuestion': 'Do you want to delete the Order?',
            'onConfirm': function (e, btn) {
                var surl = '@Url.Action("DeleteOrder", "OrderSummary")';
                $.ajax({
                    url: surl,
                    async: false,
                    data: {
                        OrderId: Id,
                    },
                    type: 'POST',
                    success: function (data) {
                        jAlert('Deleted Successfully');
                        gridorderrsummary.Refresh();
                    },
                    error: function () {

                    },
                });
            },
            'onDeny': function (e, btn) {
                return false;
            }
        });
    }

    function DeleteProduct(ProdID, OrderID) {
        $.jAlert({
            'type': 'confirm',
            'confirmQuestion': 'Do you want to delete the Product?',
            'onConfirm': function (e, btn) {
                var surl = '@Url.Action("DeleteProduct", "OrderSummary")';
                $.ajax({
                    url: surl,
                    async: false,
                    data: {
                        OrderId: OrderID,
                        ProdID: ProdID
                    },
                    type: 'POST',
                    success: function (data) {
                        jAlert('Deleted Successfully');
                        gridProductlist.Refresh();
                    },
                    error: function () {
                    },
                });
            },
            'onDeny': function (e, btn) {
                return false;
            }
        });
    }

    function EditProduct(ProdID, OrderID) {

        var surl = '@Url.Action("EditOrderProducts", "OrderSummary")';
        $.ajax({
            async: false,
            url: surl,
            data: {
                OrderId: OrderID,
                ProdID: ProdID
            },
            type: 'POST',

            success: function (data) {
                $("#idproduct").val(data.Product_Id);
                $("#txtprod_qty").val(data.Product_Qty);
                $("#txtprod_rate").val(data.Product_Rate);
                $("#txtprod_price").val(data.Product_Price);

                /* REV 2.0*/
                $("#txtprod_MRP").val(data.Product_MRP);
                $("#txtprod_discount").val(data.Product_Discount);
                /* REV 2.0 END*/
                $("#hdnorder").val(data.Order_ID);
                $("#hdnproductorderid").val(data.Order_ProdId);

                $("#btnEdit").attr('style', 'display:inline-block;');
                /* REV 6.0*/
                $("#idproduct").prop("disabled", true);
                /* REV 6.0 End*/
            },
            error: function () {
                alert('No dat to be displayed', "Alert!");
            },


        });
        // Mantis Issue 25478
        //empgradeGridLookup.SetEnabled(false);
        // End of Mantis Issue 25478
        StateGridLookup.SetEnabled(false);
    }
    function calculation() {

        if ($("#txtprod_rate").val() == "") {
            $("#txtprod_rate").val(0);


        }
        if ($("#txtprod_qty").val() == "") {
            $("#txtprod_qty").val(0);


        }

        $("#txtprod_price").val(parseInt($("#txtprod_qty").val()) * parseInt($("#txtprod_rate").val()));


    }

    function Clearall() {

        $("#btnEdit").attr('style', 'display:none;');
        $("#txtprod_rate").val(0);
        $("#txtprod_qty").val(0);
        $("#txtprod_price").val(0);
        $("#hdnproductorderid").val(0);

       /* REV 2.0*/
        $("#txtprod_MRP").val(0);
        $("#txtprod_discount").val(0);
       /* REV 2.0 END*/
    }

    function StateStartCallback(s, e) {
        e.customArgs["UserID"] = $("#hdnUserID").val();
    }

    function EmpStateLookupValChange() {
        StateGridLookup.GetGridView().Refresh();
        StateGridLookup.GetGridView().Refresh();
    }

</script>
<style>
    /* REV 4.0*/
    #BranchGridLookup_CC {
        width: 100%;
    }

    .h-branch-select {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 34px;
            right: 17px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }
    /* REV 4.0 END*/
    .padTabl > tbody > tr > td {
        padding: 3px 10px;
    }

    #tblshoplist > thead > tr > th {
        background: #5F65AD !important;
        border-top: 1px solid #0f87cc;
        color: #fff;
    }

    #tblshoplist tbody > tr > th, #tblshoplist tfoot > tr > th, #tblshoplist thead > tr > td, #tblshoplist tbody > tr > td, #tblshoplist tfoot > tr > td {
        padding: 1px 5px !important;
    }



    .scrooler {
        width: 100%;
        overflow-x: scroll;
    }

    .w1 {
        width: 107px;
    }

    .date {
        width: 62px;
    }

    .labelTbl > tbody > tr > td {
        padding-right: 20px;
        padding-bottom: 5px;
    }

    #StateGridLookup_ET > tbody > tr > td:first-child, #ShopGridLookup_ET > tbody > tr > td:first-child, #EmpGridLookup_ET > tbody > tr > td:first-child {
        display: none;
    }
    /*Rev Pallab*/
    /*.pmsModal .modal-header {
        background: #298ecc !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
    }

    .pmsModal .modal-content {
        border: none;
    }

    .pmsModal .modal-header .modal-title {
        font-size: 14px;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #txtEmployeeSearch {
        margin-bottom: 12px;
    }*/
    /*Rev End Pallab*/

    /*Rev 1.0*/

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            content: '<';
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 5px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 8px;
        right: 20px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select {
        position: relative;
    }



    .whclass.selectH {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

        .whclass.selectH:focus-visible {
            outline: none;
        }

        .whclass.selectH:focus {
            border: 1px solid #164f93;
        }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/


    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .pmsModal .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .pmsModal .modal-content {
        border: none;
        border-radius: 10px;
    }

    .pmsModal .modal-header .modal-title {
        font-size: 14px;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 150px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }
    /*Rev end 1.0*/

    .cust-margin-top {
        margin-top: 26px !important;
    }

    .w200-mob {
        width: 200px !important;
    }

    .ja_default > div {
        border-radius: 10px;
        overflow: hidden;
    }

    .ja_noTitle .ja_close_round {
        right: 0;
        top: 0;
        background: transparent;
        line-height: 21px;
        font-size: 24px;
        color: #000;
        border-radius: 40px;
    }

        .ja_noTitle .ja_close_round:hover {
            color: #fff;
        }

    .ja_noTitle .ja_body {
        text-align: center;
        font-size: 18px;
    }

    .ja_btn_wrap.optBack {
        margin-top: 15px;
        padding: 10px 0px;
    }

    .ja_btn, .ja_btn:link, .ja_btn:visited, .ja_btn:active {
        font-size: 15px;
    }

    .ja_default {
        background: transparent;
    }

    #popup_message {
        padding-left: 0;
        text-align: center;
        font-size: 15px;
    }

    #refreshgridstatusreportregister #gridorderrsummary {
        width: 99% !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('#EmployeeModel').on('shown.bs.modal', function () {
            $('#txtEmployeeSearch').focus();
        })

    })
    var ProdArr = new Array();
    $(document).ready(function () {
        var ProdObj = new Object();
        ProdObj.Name = "EmployeeSource";
        ProdObj.ArraySource = ProdArr;
        arrMultiPopup.push(ProdObj);
    })

    function EmployeeButnClick(s, e) {
        $('#EmployeeModel').modal('show');
    }

    function Employee_KeyDown(s, e) {
        if (e.htmlEvent.key == "Enter") {
            $('#EmployeeModel').modal('show');
        }
    }

    function Employeekeydown(e) {
        var OtherDetails = {}

        if ($.trim($("#txtEmployeeSearch").val()) == "" || $.trim($("#txtEmployeeSearch").val()) == null) {
            return false;
        }
        OtherDetails.SearchKey = $("#txtEmployeeSearch").val();
        OtherDetails.ClassID = "";

        if (e.code == "Enter" || e.code == "NumpadEnter") {

            var HeaderCaption = [];
            HeaderCaption.push("Employee Name");
            HeaderCaption.push("Employee Code");


            if ($("#txtEmployeeSearch").val() != "") {
                callonServerM("../../../Models/ShopAddress.asmx/GetEmployeeList", OtherDetails, "EmployeeTable", HeaderCaption, "dPropertyIndex", "SetSelectedValues", "EmployeeSource");
            }
        }
        else if (e.code == "ArrowDown") {
            if ($("input[dPropertyIndex=0]"))
                $("input[dPropertyIndex=0]").focus();
        }
    }

    function SetfocusOnseach(indexName) {
        if (indexName == "dPropertyIndex")
            $('#txtEmployeeSearch').focus();
        else
            $('#txtEmployeeSearch').focus();
    }

    function SetSelectedValues(Id, Name, ArrName) {
        if (ArrName == 'EmployeeSource') {
            var key = Id;
            if (key != null && key != '') {
                $('#EmployeeModel').modal('hide');
                EmployeeTxt.SetText(Name);
                $('#hdnEmployeeId').val(key);
            }
            else {
                EmployeeTxt.SetText('');
                $('#hdnEmployeeId').val('');
            }
        }
    }

    function GetEmpSelectedFieldValuesOndemand(values) {
        try {
            empId = [];
            var eids = values.split(',');
            for (var i = 0; i < eids.length; i++) {
                empId.push(eids[i]);
            }
        } finally {
            console.log(empId);
        }
    }
    //Mantis Issue 24944
    $(document).ready(function () {
        $("#DesignModel").modal('hide')
    })
    // Mantis Issue 25360
    //function OKPopup() {
    function PrintOKPopup() {
        // End of Mantis Issue 25360
        var reportName = $("#ddl_design").val();
        var module = 'OrderSummary';
        var orderid = $("#Order_Id").val()
        if (reportName == '0') {
            jAlert("Please select Design.");
        }
        else {
            window.open("/Reports/REPXReports/RepxDocumentViewer.aspx?Previewrpt=" + reportName + '&modulename=' + module + '&id=' + orderid, '_blank')
        }

    }
    //End of Mantis Issue 24944
</script>
<script>
    //Rev 4.0
    var BranchId = [];
    var Branch_Id = "";
    function BindBranches() {
        var Hoid = $('#HeadBranch').val();
        BranchId = "";
        BranchGridLookup.SetText("");
        if (Hoid == null || Hoid == "") {
            return false;
        }
        else {
            $.ajax({
                type: 'POST',
                url: "/MasterPopulate/GetChildBranchList",
                data: { "Hoid": Hoid },
                dataType: "json",
                async: false,
                success: function (data) {
                },
                error: function () {
                }
            });
            BranchGridLookup.GetGridView().Refresh();
        }
    }
    function BranchSelectionChanged(s, e) {
        BranchGridLookup.gridView.GetSelectedFieldValues("BRANCH_ID", GetSelectedFieldValuesCallbackBranch);
    }
    function GetSelectedFieldValuesCallbackBranch(values) {
        try {
            BranchId = [];
            Branch_Id = "";
            for (var i = 0; i < values.length; i++) {
                BranchId.push(values[i]);
                Branch_Id += values[i] + ',';
            }
        } finally {
            console.log(BranchId);
        }
    }
    function SelectAllGridLookup(s, e) {
        BranchGridLookup.gridView.SelectRows();
        var Hoid = $('#HeadBranch').val();
        BranchId = "";
        BranchGridLookup.SetText("");
        if (Hoid == null || Hoid == "") {
            return false;
        }
        else {
            $.ajax({
                type: 'POST',
                url: "/MasterPopulate/GetSelectedChildBranchList",
                data: { "Hoid": Hoid },
                dataType: "json",
                async: false,
                success: function (data) {
                    BranchId = [];
                    Branch_Id = "";
                    $.each(data, function (i, data) {
                        BranchId.push(data.BRANCH_ID);
                        Branch_Id += data.BRANCH_ID + ',';
                    });
                    BranchGridLookup.gridView.SelectRows();
                },
                error: function () {
                }
            });
        }
    }
    function DeSelectAllGridLookup(s, e) {
        BranchGridLookup.gridView.UnselectRows();
        $('#hdnEmployeeAEId').val('')
        $('#hdnEmployeeWDId').val('')
        $('#hdnEmployeeDSId').val('')
        EmployeeTxt.SetText('')
        EmployeeWDTxt.SetText('')
        EmployeeDSTxt.SetText('')
        BranchId = [];
        Branch_Id = "";
    }
    function BranchStartCallback(s, e) {
        e.customArgs["UserID"] = $("#hdnUserID").val();
    }
    function BranchLookupValChange() {
        BranchGridLookup.GetGridView().Refresh();
    }
    //Rev 4.0 End
</script>

@* Rev 7.0 *@
<script>
    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    var visibleColumn = [];
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
        visibleColumn = [];

        for (var i = 0; i <= gridorderrsummary.GetColumnsCount() ; i++) {
            if (gridorderrsummary.GetColumn(i) != null) {
                if (gridorderrsummary.GetColumn(i).visible == false) {
                    console.log(gridorderrsummary.GetColumn(i).fieldName);
                    visibleColumn.push(gridorderrsummary.GetColumn(i).fieldName);
                }
            }
        }

        addPageRetention(visibleColumn);
    }

    function UpdateCustomizationWindowVisibility() {
        if (gridorderrsummary.IsCustomizationWindowVisible())
            gridorderrsummary.HideCustomizationWindow();
        else
            gridorderrsummary.ShowCustomizationWindow();
        UpdateButtonText();
    }

    function UpdateButtonText() {
        var text = gridorderrsummary.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        btShowColumnChooser.SetText(text);
    }

    function addPageRetention(visibleColumn) {
        $.ajax({
            url: "@Url.Action("PageRetention", "OrderSummary")",
            async: false,
            data: { Columns: visibleColumn },
            type: 'POST',
            success: function (data) {
                gridorderrsummary.Refresh();
            },
            error: function () {
            },
        });

    }

</script>

@* End of Rev 7.0 *@

<link href="~/Content/media.css" rel="stylesheet" />
<div class="breadCumb">
    <span>Order Summary </span>
</div>
<div class="container">
    <div class="form_main backBox p-3 clearfix">
        <div class="clearfix">
            <div class="col-md-12">
                <div class="row">
                    <table class="eqpadtbl mb-4">
                        <tr>
                            @*REV 4.0*@
                            <td class="h-branch-select" style="width:175px;">
                                <label>Head Branch : </label>
                                <select id="HeadBranch" name="HeadBranch" onchange="BindBranches()" data-placeholder="Click or Type Here..." class="whclass selectH">
                                    @foreach (var item in Model.modelbranch)
                                    {
                                        <option value="@item.BRANCH_ID">@item.CODE</option>
                                    }
                                </select>
                            </td>
                            <td class="w150 w200-mob">
                                <label>Branch </label>
                                <div>
                                    @Html.Action("GetChildBranchList", "MasterPopulate", new { Hoid = @ViewBag.h_id })
                                </div>
                            </td>
                            @*REV 4.0 END*@
                            <td class="w150">
                                <label>State</label>
                                <div>
                                    @Html.Action("GetEmployeeWiseStateList", "MasterPopulate", new { UserID = @Session["userid"].ToString() })

                                </div>
                            </td>
                            <td class="w150">
                                <label>Shop List</label>
                                <div>
                                    @Html.Action("GetShopList", "MasterPopulate")
                                </div>
                            </td>
                            <td class="w150">
                                <label>Employee</label>
                                <div>
                                    @Html.DevExpress().ButtonEdit(
                                    settings =>
                                    {
                                        settings.Name = "EmployeeTxt";
                                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                        //settings.Text = Model.AssignedTo;
                                        settings.ReadOnly = true;
                                        settings.Properties.Buttons.Add("...");
                                        settings.Properties.ClientSideEvents.ButtonClick = "function(s,e){EmployeeButnClick(s,e);}";
                                        settings.Properties.ClientSideEvents.KeyDown = "function(s,e){Employee_KeyDown(s,e);}";

                                    }).GetHtml()
                                    @*@Html.Action("GetEmpList", "MasterPopulate", new { userId = @Session["userid"].ToString() })*@
                                </div>
                            </td>
                            <td class="w150">
                                <label>From Date</label>
                                <div>

                                    @Html.DevExpress().DateEditFor(x => x.Fromdate,
                                deSettings =>
                                {
                                    deSettings.Name = "dtFrom";
                                    deSettings.Date = DateTime.Now;
                                    deSettings.Properties.UseMaskBehavior = true;
                                    deSettings.Properties.EditFormat = EditFormat.Custom;
                                    deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                    deSettings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                    deSettings.Properties.EditFormatString = "dd-MM-yyyy";
                                }).GetHtml()

                                </div>
                            </td>
                            <td class="w150">
                                <label>To Date</label>
                                <div>
                                    @Html.DevExpress().DateEditFor(x => x.Todate,
                                deSettings =>
                                {
                                    deSettings.Name = "dtTo";
                                    deSettings.Date = DateTime.Now;
                                    deSettings.Properties.UseMaskBehavior = true;
                                    deSettings.Properties.EditFormat = EditFormat.Custom;
                                    deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                    deSettings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                    deSettings.Properties.EditFormatString = "dd-MM-yyyy";
                                }).GetHtml()
                                </div>
                            </td>

                        </tr>
                        <tr>
                            @*Rev Debashis*@
                            <td class="w10 inputSpacer" style="padding-top: 21px; width: 150px;">
                                @*Rev 1.0*@
                                @*<input type="checkbox" id="IsPaitentDetails" name="IsPaitentDetails" value="0" style="margin-right:5px"><span class="w100">Paitent Details</span>*@
                                <input class="styled-checkbox" type="checkbox" id="IsPaitentDetails" name="IsPaitentDetails" value="0" style="margin-right:5px">
                                <label for="">Paitent Details</label>
                                @*Rev end 1.0*@
                            </td>
                            @*End of Rev Debashis*@
                            <td style="padding-top: 22px;width:180px;">
                                <label></label>
                                <button type="button" id="btnshow" class="btn btn-success btnwidth" tabindex=4>Show</button>
                                <select name="ddlAppIds" class="btn btn-sm btn-primary" id="ddlAppIds">
                                    <option value="0">Export to</option>
                                    <option value="1">PDF</option>
                                    <option value="2">XLSX</option>
                                    <option value="3">XLS</option>
                                    <option value="2">RTF</option>
                                    <option value="2">CSV</option>

                                </select>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>



            <div class="form_main ">

                <div class="clear"></div>
                @*Rev 7.0*@
                <div class="options">
                    <div class="options-item">
                        @Html.DevExpress().Button(settings =>
                    {
                        settings.Name = "btShowColumnChooser";
                        settings.Text = "Show Column Chooser";
                        settings.ClientSideEvents.Click = "function (s, e) { onShowChooserClick(s,e); }";
                        // settings.Theme = "MaterialCompactOrange";
                    }).GetHtml()
                    </div>
                </div>
                @*End of Rev 7.0*@
                <div id="refreshgrid">
                </div>

                <div id="refreshgridstatusreportregister">
                    @{
                        //REV 4.0
                        //Html.RenderAction("PartialOrderSummary", "OrderSummary", new { Fromdate = Model.Fromdate, Todate = Model.Todate, empcode = Model.empcode, StateId = Model.StateId, shopId = Model.shopId });
                        Html.RenderAction("PartialOrderSummary", "OrderSummary", new { Fromdate = Model.Fromdate, Todate = Model.Todate, empcode = Model.empcode, StateId = Model.StateId, shopId = Model.shopId, BranchId = Model.BranchId });
                        //REV 4.0 END
                    }
                </div>
                @*Mantis Issue 24944*@
                <input type="hidden" id="Order_Id" />
                @*End of Mantis Issue 24944*@
                <input type="hidden" id="hdnuser_id" />
                <input type="hidden" id="hdnuser_state" />
                <input type="hidden" id="hdnuser_shop" />
                <input type="hidden" id="hdnUserID" value="@Session["userid"].ToString()" />
                <input type="hidden" id="hdnStateMandatory" value="@ViewBag.StateMandatory" />

                <div id="myModal" class="modal fade" data-backdrop="static" role="dialog">
                    <div class="modal-dialog modal-lg" style="width: 1045px">


                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Product List</h4>
                            </div>
                            <div class="modal-body">
                                <div id="divModalBody" style="padding-left:20px;">
                                    <div>
                                        @{
                                            Html.RenderAction("PartialOrderProductDetails", "OrderSummary");
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <input id="hdnorder" type="hidden" />
            <input id="hdnproductorderid" type="hidden" />

        </div>
    </div>
</div>
<!--Employee Modal -->
<div class="modal fade pmsModal w50" id="EmployeeModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Search</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" onkeydown="Employeekeydown(event)" id="txtEmployeeSearch" width="100%" placeholder="Search By Employee Name" />
                <div id="EmployeeTable">
                    <table border='1' width="100%">

                        <tr class="HeaderStyle" style="font-size:small">
                            <th>Select</th>
                            <th class="hide">id</th>
                            <th>Employee Name</th>
                            <th>Employee Code</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnOkformultiselection btn-default btn btn-danger" onclick="DeSelectAll('EmployeeSource')">Deselect All</button>
                <button type="button" class="btnOkformultiselection btn-default  btn btn-success" data-dismiss="modal" onclick="OKPopup('EmployeeSource')">OK</button>
                @*<button type="button" class="btnOkformultiselection btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>
<asp:HiddenField ID="hdnEmployeeId" runat="server" />
<!--Employee Modal -->
@*Mantis Issue 24944*@
<div class="modal fade pmsModal w50" id="DesignModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*Rev 5.0*@
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @*Rev end 5.0*@
                <h4 class="modal-title">Select Design</h4>
            </div>
            <div class="modal-body">
                @*<input type="text" class="form-control" onkeydown="Employeekeydown(event)" id="txtEmployeeSearch" width="100%" placeholder="Search By Employee Name" />*@
                <div id="DesignTable">
                    <label class="required">Select Design:</label>
                    <select class="form-control" @*onchange="PresentAddressCheck()"*@ id="ddl_design">
                        <option value="0">--Select Design--</option>
                    </select>

                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btnOkformultiselection btn-default btn btn-danger" onclick="DeSelectAll('EmployeeSource')">Deselect All</button>*@
                @*Mantis Issue 25360*@
                @*<button type="button" class="btnOkformultiselection btn-default  btn btn-success" data-dismiss="modal" onclick="OKPopup()">OK</button>*@
                <button type="button" class="btnOkformultiselection btn-default  btn btn-success" data-dismiss="modal" onclick="PrintOKPopup()">OK</button>
                @*End of Mantis Issue 25360*@
                @*<button type="button" class="btnOkformultiselection btn-default" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>
@*End of Mantis Issue 24944*@
