@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                27-01-2023        2.0.38           Pallab              25576: Report page design modification *@
@*2.0                23-01-2024        2.0.45           Sanchita            27202: Changes in Travel Allowance Report*@
@*====================================================== Revision History ==========================================================*@

@using MyShop.Models;
@model ReimbursementAllowanceReportViewModel
@{
    ViewBag.Title = "Travel Allowance Report ";
}

<link href="~/Scripts/pluggins/multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/pluggins/multiselect/bootstrap-multiselect.js"></script>
<style>
    .multiselect-container.dropdown-menu {
        right: 0 !important;
        left: auto;
    }

    .iminentSpan .multiselect-container.dropdown-menu {
        right: auto !important;
        left: 0;
    }

    .multiselect-container > li > a {
        padding: 2px 0;
    }

        .multiselect-container > li > a input[type="checkbox"] {
            transform: translateY(3px);
        }

    .multiselect-container > li.active > a {
        background: transparent !important;
        color: #333;
    }

        .multiselect-container > li > a:hover,
        .multiselect-container > li.active > a:hover, .multiselect-container li > a:focus,
        .multiselect-container .li.active a:focus {
            background: #f3f3f3 !important;
            color: #333 !important;
            padding: 2px 0;
        }

    .multiselect-item.multiselect-filter {
        padding-bottom: 6px;
        border-bottom: 1px solid #ccc;
    }

        .multiselect-item.multiselect-filter .form-control.multiselect-search {
            height: 32px;
        }

        .multiselect-item.multiselect-filter .input-group-addon {
            background: #41a8f1;
            color: #fff;
            border-color: #41a8f1;
        }



    .input-group-btn .multiselect-clear-filter {
        background: #f98181;
        color: #fffefe;
        /* box-shadow: none; */
        text-shadow: none;
        border-color: #f96a6a;
        /*Rev Pallab*/
        /*padding: 5px 10px 4px 10px;*/
        padding: 6px 10px 6px 10px;
        /*Rev End Pallab*/
    }

    .multiselect.dropdown-toggle {
        background: #fff;
        border-radius: 0;
    }

    .iminentSpan > span {
        display: block;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 33px;
        padding: 0;
        font-size: 12px !important;
        box-shadow: none;
        text-align: left;
        padding-left: 15px;
    }

        .iminentSpan button.multiselect.dropdown-toggle .caret {
            float: right;
            margin: 7px;
        }

    .clickerstyle {
        margin: 10px 0;
        margin-bottom: 10px;
    }

    #var2 {
        margin-left: 30px;
    }

    #var3 {
        margin-left: 60px;
    }

    #var4 {
        margin-left: 90px;
    }

    #var5 {
        margin-left: 120px;
    }

    #var5 {
        margin-left: 150px;
    }

    .arrowline {
        position: relative;
    }

        .arrowline:before {
            content: '';
            position: absolute;
            top: -10px;
            left: -30px;
            width: 3px;
            height: 62%;
            background: #415698;
        }

        .arrowline:after {
            content: '';
            position: absolute;
            top: calc(62% - 10px);
            left: -30px;
            width: 30px;
            height: 3px;
            background: #415698;
        }

    .btn-excel {
        margin-top: 23px;
    }

    .pdTop24 {
        /*Rev 1.0*/
        /*padding-top: 24px;*/
        padding-top: 35px;
        /*Rev end 1.0*/
    }

    .btn-excel {
        float: right;
        margin-right: 1px;
        margin-top: -4px;
    }

    .btnshortcls {
        padding: 9px 15px !important;
    }

    span.multiselect-native-select button.multiselect {
        border: 1px solid #c9c9c9 !important;
        border-radius: 5px !important;
    }

    label {
        /*margin-top: 5px;*/
        margin-top: 10px;
    }

    /*Rev 1.0*/

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            content: '<';
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 5px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 8px;
        right: 20px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 43px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .whclass.selectH {
        padding-right: 30px;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtfrom, #dtto {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .pmsModal .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .pmsModal .modal-content {
        border: none;
        border-radius: 10px;
    }

    .pmsModal .modal-header .modal-title {
        font-size: 14px;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtfrom_B-1, #dtto_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtfrom_B-1 #dtfrom_B-1Img,
        #dtto_B-1 #dtto_B-1Img {
            display: none;
        }

    #dtfrom_I, #dtto_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        z-index: 1;
    }

    .pad-md-18 {
        padding-top: 24px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    /*Rev end 1.0*/

    .iminentSpan .multiselect-container.dropdown-menu {
        max-height: 320px !important;
    }
</style>

<script>

    function checkFuelType() {
        var ddlModeOfTravel = $('#ddlModeOfTravel').val();
        if (jQuery.inArray("2", ddlModeOfTravel) !== -1) {
            $('.clsFuelType').show();
        }
        else {
            $('.clsFuelType').hide();
        }
    }

    $(function () {

        $('.clsModeofTravel').show();
        // Rev 2.0
        //$('.clsFuelType').show();
        $('.clsFuelType').hide();
        // End of Rev 2.0
        $('.clsSeacrhbtndiv').removeClass('btnshortcls');

        $("#ddlModeOfTravel").change(function () {
            var ddlModeOfTravel = $('#ddlModeOfTravel').val();
            if (jQuery.inArray("2", ddlModeOfTravel) !== -1) {
                $('.clsFuelType').show();

            }
            else {
                $('.clsFuelType').hide();

            }
        });

        $("#ddlExpenseType").change(function () {
            var ddlExpenseType = $('#ddlExpenseType').val();
            if (jQuery.inArray("1", ddlExpenseType) !== -1) {
                $('.clsModeofTravel').show();
                $('.clsFuelType').show();
                $('.clsSeacrhbtndiv').removeClass('btnshortcls');
                checkFuelType();
            }
            else {
                $('.clsModeofTravel').hide();
                $('.clsFuelType').hide();
                $('.clsSeacrhbtndiv').addClass('btnshortcls');
                //checkFuelType();
            }
        });

        $('.multiselect').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%',
            maxHeight: 200,

            onDropdownHide: function (event) {

            }
        }).multiselect('selectAll', false).multiselect('updateButtonText');

        // Rev 2.0
        $('.multiselect1').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%',
            maxHeight: 200,

            onDropdownHide: function (event) {

            }
        })//.multiselect('selectAll', false).multiselect('updateButtonText');
        // End of Rev 2.0

        //stateids = $('.multiselect').val();
    });

    function getReimbursementAllowanceReport() {
        var ddlState = $('#ddlState').val();
        if (ddlState == null || ddlState == "") {
            jAlert("Please select state!");
        }
        else {
            gridAllowanceReportList.Refresh();
            gridAllowanceReportList.Refresh();
        }
    }

    function OnStartCallback(s, e) {

        var ddlState = $('#ddlState').val();
        var ddlExpenseType = $('#ddlExpenseType').val();

        var ddlVisitLocation = $('#ddlVisitLocation').val();
        var ddlEmployeeGrade = $('#ddlEmployeeGrade').val();
        var ddlModeOfTravel = $('#ddlModeOfTravel').val();
        var ddlFuelType = $('#ddlFuelType').val();

        if (ddlState != "" && ddlState != null) {
            ddlState = ddlState.join(",");
        }
        else {
            ddlState = "";
        }
        if (ddlExpenseType != "" && ddlExpenseType != null) {
            ddlExpenseType = ddlExpenseType.join(",");
        }
        else {
            ddlExpenseType = "";
        }
        if (ddlVisitLocation != "" && ddlVisitLocation != null) {
            ddlVisitLocation = ddlVisitLocation.join(",");
        }
        else {
            ddlVisitLocation = "";
        }
        if (ddlEmployeeGrade != "" && ddlEmployeeGrade != null) {
            ddlEmployeeGrade = ddlEmployeeGrade.join(",");
        }
        else {
            ddlEmployeeGrade = "";
        }
        if (ddlModeOfTravel != "" && ddlModeOfTravel != null) {
            ddlModeOfTravel = ddlModeOfTravel.join(",");
        }
        else {
            ddlModeOfTravel = "";
        }
        if (ddlFuelType != "" && ddlFuelType != null) {
            ddlFuelType = ddlFuelType.join(",");
        }
        else {
            ddlFuelType = "";
        }


        if (jQuery.inArray("2", ddlModeOfTravel) == -1) {
            ddlFuelType = "";

        }

        if (jQuery.inArray("1", ddlExpenseType) == -1) {
            ddlFuelType = "";
            ddlModeOfTravel = "";

        }

        e.customArgs["stateid"] = ddlState;
        e.customArgs["expensetype"] = ddlExpenseType;
        e.customArgs["visitlocation"] = ddlVisitLocation;
        e.customArgs["employeegrade"] = ddlEmployeeGrade;

        e.customArgs["modeoftravel"] = ddlModeOfTravel;
        e.customArgs["fueltype"] = ddlFuelType;
        // e.customArgs["EmpCodeList"] = EmployeesCounterTargetList.join("|"); //EmployeesCounterTargetList

    }

    function gridReimbursementAllowanceReportexport() {
        var url = '@Url.Action("ExportReimbursementAllowanceReportList", "ReimbursementAllowanceReport", new { type = "_type_" })'
        window.location.href = url.replace("_type_", 3);
    }

</script>


<div class="breadCumb">
    <span>Travel Allowance </span>
</div>


<div class="container">
    <div class="backBox mt-5 p-3">
        <div class="row ">
            @*Rev 1.0*@
            @*<div class="col-lg-3">*@
            <div class="col-lg-3 h-branch-select">
                @*Rev end 1.0*@
                <label><b> State</b></label>
                <div class="iminentSpan">
                    @Html.DropDownList("ddlState", new SelectList(Model.StateList, "Value", "Text"), new { @id = "ddlState", @class = "form-control multiselect ", @multiple = "multiple" })
                </div>
            </div>
            @*Rev 1.0*@
            @*<div class="col-lg-3">*@
            <div class="col-lg-3 h-branch-select">
                @*Rev end 1.0*@
                <label><b> Expense Type</b></label>
                <div class="iminentSpan">
                    @Html.DropDownList("ddlExpenseType", new SelectList(Model.ExpenseTypeList, "Value", "Text"), new { @id = "ddlExpenseType", @class = "form-control multiselect", @multiple = "multiple" })
                </div>
            </div>
            @*Rev 1.0*@
            @*<div class="col-lg-3">*@
            <div class="col-lg-3 h-branch-select">
                @*Rev end 1.0*@
                <label><b> Travel Location</b></label>
                <div class="iminentSpan">
                    @Html.DropDownList("ddlState", new SelectList(Model.VisitLocationList, "Value", "Text"), new { @id = "ddlVisitLocation", @class = "form-control multiselect ", @multiple = "multiple" })
                </div>
            </div>

            @*Rev 1.0*@
            @*<div class="col-lg-3">*@
            <div class="col-lg-3 h-branch-select">
                @*Rev end 1.0*@
                <label><b> Employee Grade</b></label>
                <div class="iminentSpan">
                    @Html.DropDownList("ddlEmployeeGrade", new SelectList(Model.EmployeeGradeList, "Value", "Text"), new { @id = "ddlEmployeeGrade", @class = "form-control multiselect ", @multiple = "multiple" })
                </div>
            </div>
            @*Rev 1.0*@
            @*<div class="col-lg-3 lblmTop8 clsModeofTravel">*@
            <div class="col-lg-3 lblmTop8 clsModeofTravel h-branch-select">
                @*Rev end 1.0*@
                @*Rev 2.0 [ changed class from "multiselect" to "multiselect1" ] *@
                <label><b> Mode of Travel</b></label>
                <div class="iminentSpan">
                    @Html.DropDownList("ddlModeOfTravel", new SelectList(Model.ModeOfTravelList, "Value", "Text"), new { @id = "ddlModeOfTravel", @class = "form-control multiselect1 ", @multiple = "multiple" })
                </div>
            </div>
            @*Rev 1.0*@
            @*<div class="col-lg-3 lblmTop8 clsFuelType">*@
            <div class="col-lg-3 lblmTop8 clsFuelType h-branch-select">
                @*Rev end 1.0*@
                @*Rev 2.0 [ changed class from "multiselect" to "multiselect1" ] *@
                <label><b> Fuel Type</b></label>
                <div class="iminentSpan">
                    @Html.DropDownList("ddlFuelType", new SelectList(Model.FuelTypeList, "Value", "Text"), new { @id = "ddlFuelType", @class = "form-control multiselect1 ", @multiple = "multiple" })
                </div>
            </div>

            <div class="col-md-3 pdTop24 lblmTop8 clsSeacrhbtndiv">

                <button type="button" onclick="getReimbursementAllowanceReport();" class="btn btn-success">Search</button>
            </div>
        </div>


        <div class="clear"></div>
        <div id="refreshgrid" class="relative">
            <span class="btn-excel" style="cursor:pointer">
                <span class="icn"><img src="/assests/images/excel.png" style="width: 24px;" title="" onclick="gridReimbursementAllowanceReportexport()" /></span>
            </span>

            @{
                Html.RenderAction("GetReimbursementAllowanceReport", "ReimbursementAllowanceReport", new { stateid = "", expensetype = "", visitlocation = "", employeegrade = "", modeoftravel = "", fueltype = "" });
            }
        </div>
    </div>
</div>



