@{
    ViewBag.Title = "Monthly Report Shop Visit Duration List";
}

<h2>Materials</h2>

<script type='text/javascript' src='http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js'></script>

<script type="text/javascript">


    $(function () {


        var month = parseInt($("#ui-datepicker-div .ui-datepicker-month :selected").val()) + 1;
        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();

        $("#divLoader").show();

        var surl = '@Url.Action("GetmaterialDetails", "MArketingMaterial")';

        $.ajax({

            url: surl,
            async: true,

            data: {

                Month: month,
                Year: year

            },

            type: 'POST',

            success: function (data) {

                if (data == 'nodata') {


                }
                else {

                    $('#refreshgrid').html(data);

                }
                $("#divLoader").hide();
            },
            error: function () {
                $.jAlert({
                    'title': 'Alert!',
                    'content': 'No data to be displayed',
                    'theme': 'dark_blue'
                });
                $("#divLoader").hide();
            },
        });



        $('body').on('click', '.close', function () {

         
            $("#myModal").modal('hide');

        });




            $('body').on('click', '#btnshow', function ()
            {
                var month = parseInt($("#ui-datepicker-div .ui-datepicker-month :selected").val()) + 1;
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();

                $("#divLoader").show();

                var surl = '@Url.Action("GetmaterialDetails", "MArketingMaterial")';

                $.ajax({

                    url: surl,
                    async: true,

                    data: {

                        Month: month,
                        Year: year

                    },

                    type: 'POST',

                    success: function (data) {

                        if (data == 'nodata')
                        {


                        }
                        else {

                            $('#refreshgrid').html(data);

                        }
                        $("#divLoader").hide();
                    },
                    error: function () {
                        $.jAlert({
                            'title': 'Alert!',
                            'content': 'No data to be displayed',
                            'theme': 'dark_blue'
                        });
                        $("#divLoader").hide();
                    },
                });

            });


            $('#ddlAppIds').on('change', function () {
                if ($("#ddlAppIds option:selected").index() > 0) {
                    var selectedValue = $(this).val();
                    $('#ddlAppIds').prop("selectedIndex", 0);
                    var url = '@Url.Action("Exportmateriallist", "MArketingMaterial", new { type = "_type_" })'
                    window.location.href = url.replace("_type_", selectedValue);

                    var month = $("#tdmonth").val();
                    var year = $("#tdyear").val();

                    var surl = '@Url.Action("GetmaterialDetails", "MArketingMaterial")';
                    $.ajax({
                        url: surl,
                        async: true,
                        data: {

                            Month: month,
                            Year: year
                        },
                        type: 'POST',

                        success: function (data) {

                            // alert(data);
                            if (data == 'nodata') {
                                //  alert('No dat to be displayed', "Alert!");
                            }
                            else {
                                $('#refreshgrid').html(data);

                            }
                            $("#divLoader").hide();
                        },
                        error: function () {
                            $.jAlert({
                                'title': 'Alert!',
                                'content': 'No data to be displayed',
                                'theme': 'dark_blue'
                            });

                        },

                    });
                };

            });

        });


    function OpenmaterialImage(shop_Id)
    {

        var surl = '@Url.Action("GetmaterialImages", "MArketingMaterial")';
        $.ajax({
            url: surl,
            async: true,
            data: {

                shopId: shop_Id

            },

            type: 'POST',

            success: function (data) {

                // alert(data);
                if (data == 'nodata') {
                    //  alert('No dat to be displayed', "Alert!");
                }
                else {

                    $("#myModal").modal('show');
                    $('#refreshgridmaterialimage').html(data);
                }

                $("#divLoader").hide();
            },
            error: function () {
                $.jAlert({
                    'title': 'Alert!',
                    'content': 'No data to be displayed',
                    'theme': 'dark_blue'
                });
            },
        });

    }

    
</script>


<style>
    .padTabl > tbody > tr > td {
        padding: 3px 10px;
    }


    #tblshoplist > thead > tr > th {
        background: #5F65AD !important;
        border-top: 1px solid #0f87cc;
        color: #fff;
    }

    #tblshoplist tbody > tr > th, #tblshoplist tfoot > tr > th, #tblshoplist thead > tr > td, #tblshoplist tbody > tr > td, #tblshoplist tfoot > tr > td {
        padding: 1px 5px !important;
    }



    .ui-datepicker-calendar {
        display: none;
    }
</style>



<div class="form_main">


    <table class="pull-left">

        <tr>


            <button type="button" id="btnshow" class="btn btn-success btnwidth">Show</button>
            <select name="ddlAppIds" class="btn btn-sm btn-primary" id="ddlAppIds">
                <option value="0">Export to</option>
                <option value="2">XLSX</option>
            </select>


        </tr>

    </table>

    <br />

    <div id="refreshgrid">

    </div>


</div>



<div id="divLoader" style="margin:0 auto;color:black;text-align:center;display:none;">
    <table id="imgLoader" border="0" style="position: absolute; left: 446.5px; top: 127px; z-index: 30000;border:none;background-color:transparent;">
        <tbody>
            <tr>
                <td>

                    <img src='~/Commonfolder/Processing.gif' style="border: none; background-color: transparent;">

                </td>
            </tr>
        </tbody>
    </table>
</div>

@*<img id="imageSlide" alt="" src="" />*@
<style>
    #refreshgridmaterialimage {
        height:450px;
        overflow-y:auto;
    }
    button.close {
        color: #fff;
        opacity:0.8;
    }
</style>
<div id="myModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog" style="width:700px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Material Images</h4>
            </div>
            <div class="modal-body">
                <div id="divModalBody" style="padding-left:20px;">
                    <div id="refreshgridmaterialimage">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
