@*====================================================== Revision History ===================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                16-02-2023        V2.0.39          Pallab              Settings/Options module design modification *@
@*====================================================== Revision History ===================================================*@

@model MyShop.Models.CustomSMSClass
@{
    ViewBag.Title = "Custom SMS";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<script src="~/Scripts/multiselect.min.js"></script>

<script>
    $(function () {
        $('#multiselect').multiselect();

    });

    function ddsstatechange(e) {

        var objmultiselectto = [];


        $("#multiselect_to option").each(function () {
            //seletedUser = seletedUser + $(this).val() + "|";
            var objitem = {};
            objitem.seletedUser = $(this).val();
            objmultiselectto.push(objitem);
        });

        var designationid = $("#ddsupervisor").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetUserList", "CustomSMS")",
            data: { designationid: designationid, notificationId: $("#hdnnotid").val(), stateid: $("#ddstate").val() },
            success: function (response) {
                var SubList = [];
                i = 0;
                $("#multiselect_to option").each(function () {
                    if ($(this).val()) {
                        SubList[i++] = $(this).val();
                    }
                });
                var html = "";
                for (var i = 0; i < response.length; i++) {
                    if (jQuery.inArray(response[i].UserID, SubList) == -1) {

                        var objcheck = $.grep(objmultiselectto, function (e) { return e.seletedUser == response[i].UserID });
                        if (objcheck.length == 0)
                            html = html + "<option value=" + response[i].UserID + ">" + response[i].username + "</option>";
                    }
                }
                $('#multiselect').html(html);
            }
        });
    }

    function ddsupervisorchange(e) {

        var objmultiselectto = [];


        $("#multiselect_to option").each(function () {
            //seletedUser = seletedUser + $(this).val() + "|";
            var objitem = {};
            objitem.seletedUser = $(this).val();
            objmultiselectto.push(objitem);
        });



        var designationid = $(e).val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetUserList", "CustomSMS")",
            data: { designationid: designationid, notificationId: $("#hdnnotid").val(), stateid: $("#ddstate").val() },
            success: function (response) {
                var SubList = [];
                i = 0;
                $("#multiselect_to option").each(function () {
                    if ($(this).val()) {
                        SubList[i++] = $(this).val();
                    }
                });
                var html = "";
                for (var i = 0; i < response.length; i++) {
                    if (jQuery.inArray(response[i].UserID, SubList) == -1) {

                        var objcheck = $.grep(objmultiselectto, function (e) { return e.seletedUser == response[i].UserID });
                        if (objcheck.length == 0)
                            html = html + "<option value=" + response[i].UserID + ">" + response[i].username + "</option>";
                    }
                }
                $('#multiselect').html(html);
            }
        });


    }

    function SendMessage() {

        var message = txtMsgText.GetText();

        var seletedUser = "";
        $("#multiselect_to option").each(function () {
            seletedUser = seletedUser + $(this).val() + ",";
        });


        var mobile = seletedUser;

        mobile = mobile.replace(/,\s*$/, "");

        var url = '@Url.Action("","")';

        $.ajax({
            type: "POST",
            url: "@Url.Action("SendSMS", "CustomSMS")",
            data: { Mobiles: mobile, messagetext: message },
            success: function (response) {
                if (response == "200") {
                    jAlert('Message sent successfully.');
                }
                else {
                    jAlert('Please try again later.');
                }
            }
        });



        // window.location.href = url;
    }



    function SendPushnotification() {

        var message = txtMsgText.GetText();

        var seletedUser = "";
        $("#multiselect_to option").each(function () {
            seletedUser = seletedUser + $(this).val() + ",";
        });


        var mobile = seletedUser;

        mobile = mobile.replace(/,\s*$/, "");

        var url = '@Url.Action("","")';

        $.ajax({
            type: "POST",
            url: "@Url.Action("SendNotification", "CustomSMS")",
            data: { Mobiles: mobile, messagetext: message },
        success: function (response) {
            if (response == "200") {
                jAlert('Notification sent successfully.');
            }
            else {
                jAlert('Please try again later.');
            }
        }
        });






    // window.location.href = url;
    }

    function SendPushnotificationClearData()
    {
        var message = txtMsgText.GetText();

        var seletedUser = "";
        $("#multiselect_to option").each(function () {
            seletedUser = seletedUser + $(this).val() + ",";
        });


        var mobile = seletedUser;

        mobile = mobile.replace(/,\s*$/, "");

        var url = '@Url.Action("","")';

        $.ajax({
            type: "POST",
            url: "@Url.Action("SendNotificationClearData", "CustomSMS")",
            data: { Mobiles: mobile, messagetext: message },
        success: function (response) {
            if (response == "200") {
                jAlert('Notification sent successfully.');
            }
            else {
                jAlert('Please try again later.');
            }
        }
    });
    }





    function SendScheme() {

        var message = txtMsgText.GetText();
        var StateID = $("#ddstate").val();

        $.ajax({
            type: "POST",
            url: "@Url.Action("SendSMSToShop", "CustomSMS")",
            data: { StateID: StateID, messagetext: message },
            success: function (response) {
            if (response == "200") {
                jAlert('SMS sent successfully.');
            }
            else {
                jAlert('Please try again later.');
            }
        }
    });
}

    function cancelSendMessage() {

        window.location.href = "/OMS/Management/projectmainpage.aspx";
    }
</script>

<style>
    .mainWraper .dxpc-contentWrapper {
        background-color: #fff;
    }

    .mainWraper select[multiple], select[size] {
        height: auto !important;
    }

    .pad28 {
        padding-top: 26px;
    }

    .nopad {
        padding: 0 !important;
    }

    .full {
        width: 100%;
    }

    .min3 {
        min-height: 150px;
    }

    .mBot10 {
        margin-bottom: 10px !important;
    }

    .padTop40 {
        padding-top: 25px;
    }

    .slm0 input {
        margin: 0 !important;
    }

    .SenEv > button {
        width: 10%;
    }

    .SenEv > input {
        width: 76%;
    }

    .input-group > input {
        height: auto !important;
    }

    .input-group > .input-group-addon {
        padding: 3px 10px;
    }

    .filterCont {
        background: #fffdfd;
        padding-bottom: 12px;
        margin-top: 4px;
    }

    .filterHd {
        font-size: 15px;
        margin-bottom: 0;
    }

    /*Rev 1.0*/

    body, .dxtcLite_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .dxeButtonDisabled_PlasticBlue {
        background: #ababab !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 13px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 7px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 9px;
        right: 24px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select, .h-branch-select-new {
        position: relative;
    }

        .h-branch-select::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 33px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 17px;
            z-index: 0;
        }

        .h-branch-select-new::after {
            content: '<';
            /*content: url(../../../assests/images/left-arw.png);*/
            position: absolute;
            top: 9px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    select:not(.btn):focus {
        border-color: #094e8c;
    }

    select:not(.btn):focus-visible {
        box-shadow: none;
        outline: none;
    }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    select:not(.btn) {
        padding-right: 30px;
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue,
    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo, #FormDate, #toDate, #proj_start_dt {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .modal-content {
        border: none;
        border-radius: 10px;
    }

    .modal-header .modal-title {
        font-size: 14px;
    }

    .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1, #cmbDOJ_B-1, #cmbLeaveEff_B-1, #FormDate_B-1, #toDate_B-1, #proj_start_dt_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img, #cmbDOJ_B-1 #cmbDOJ_B-1Img, #cmbLeaveEff_B-1 #cmbLeaveEff_B-1Img, #FormDate_B-1 #FormDate_B-1Img, #toDate_B-1 #toDate_B-1Img, #proj_start_dt_B-1 #proj_start_dt_B-1Img {
            display: none;
        }

    #FormDate_I, #toDate_I, #proj_start_dt_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        /*z-index: 1;*/
    }

    .pad-md-18 {
        padding-top: 10px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .dxeCalendarSelected_PlasticBlue {
        color: White;
        background-color: #185598;
    }

    .dxeTextBox_PlasticBlue {
        height: 34px;
        border-radius: 4px;
    }

    #cmbDOJ_DDD_PW-1 {
        z-index: 9999 !important;
    }

    #cmbDOJ, #cmbLeaveEff {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    .btn-sm, .btn-xs {
        padding: 7px 10px !important;
    }

    #productAttributePopUp_PWH-1 span, #ASPxPopupControl2_PWH-1 span {
        color: #fff !important;
    }

    #marketsGrid_DXPEForm_tcefnew, .dxgvPopupEditForm_PlasticBlue {
        height: 220px !important;
    }

    .btn {
        height: 34px;
    }

    .dxpcLite_PlasticBlue .dxpc-header, .dxdpLite_PlasticBlue .dxpc-header {
        padding: 6px 4px 6px 10px;
        background: #094e8c;
    }

    #pcModalMode_PW-1 {
        border-radius: 12px;
        overflow: hidden;
    }

    /*Rev end 1.0*/

    @@media only screen and (max-width: 768px) {

        .breadCumb {
            padding: 0 16%;
        }

            .breadCumb > span {
                padding: 9px 15px;
            }

        #pcModalMode_PW-1 {
            width: 100% !important;
        }

        .d-flex-mobile
        {
            display: flex;
        }

        .col-md-4 {
            width: 40%;
        }

        .col-md-1 {
            padding-right: 10px;
            padding-left: 10px;
        }

        .filterCont .col-md-4 {
            width: 100%;
        }

        .msg-buttons .btn {
            margin-bottom: 8px;
        }
    }
</style>


<div class="breadCumb">
    <span>Custom SMS/Notification</span>

    <div class="crossBtn hide"><a href="DashBoardSettingList.aspx"><i class="fa fa-times"></i></a></div>
</div>


<div id="btncross" class="crossBtn hide" style=" margin-left: 50px;"><a href="#" onclick="cancelSendMessage()"><i class="fa fa-times"></i></a></div>
<div class="container mt-5">
    <div style="background: #f5f4f3; padding: 8px 0; margin-bottom: 0px; border-radius: 4px; border: 1px solid #ccc;" class="clearfix">

        <div class="clearfix filterCont">
            <h4 class="filterHd col-md-12 mb-3">
                <img src="/assests/images/filter.png" style="width:14px;" /> Show user filtered on
            </h4>
            @*Rev 1.0*@
            @*<div class="col-md-3">*@
            <div class="col-md-3 h-branch-select">
                @*Rev end 1.0*@
                <label><b>State</b></label>
                <div>
                    @Html.DropDownList("ddstate", new SelectList(Model.StateList, "ID", "Name"), new { @name = "from", @class = "full", @onchange = "ddsstatechange(this)" })
                </div>
            </div>

            @*Rev 1.0*@
            @*<div class="col-md-3">*@
            <div class="col-md-3 h-branch-select">
                @*Rev end 1.0*@
                <label><b>Designation</b></label>
                <div>
                    @Html.DropDownList("ddsupervisor", new SelectList(Model.SupervisorList, "ID", "Name"), new { @name = "from", @class = "full", @onchange = "ddsupervisorchange(this)" })
                </div>
            </div>
        </div>
        <div class="clear"></div>



        <div class="clearfix d-flex-mobile">
            <div class="col-md-4 lblmTop8">
                <label><b>Users</b></label>
                <div>
                    @Html.DropDownList("ddlUser", new SelectList(Model.UserList, "UserID", "username"), new { @id = "multiselect", @class = "form-control min3", @multiple = "multiple", @name = "from" })
                </div>

            </div>
            <div class="col-md-1 text-center padTop40">

                <button type="button" id="multiselect_rightAll" class="btn btn-primary btn-xs mBot10"><i class="glyphicon glyphicon-forward"></i></button><br />
                <button type="button" id="multiselect_rightSelected" class="btn btn-primary btn-xs mBot10"><i class="glyphicon glyphicon-chevron-right"></i></button><br />
                <button type="button" id="multiselect_leftSelected" class="btn btn-primary btn-xs mBot10"><i class="glyphicon glyphicon-chevron-left"></i></button><br />
                <button type="button" id="multiselect_leftAll" class="btn btn-primary btn-xs mBot10"><i class="glyphicon glyphicon-backward"></i></button>
            </div>
            <div class="col-md-4 lblmTop8">
                <label><b>Recipient</b></label>
                <select name="to" id="multiselect_to" class="form-control min3" multiple="multiple"></select>
            </div>
        </div>

        <div class="clearfix filterCont">
            <div class="col-md-4 lblmTop8"><b>Enter Message Text</b></div>
            <div class="col-md-9">
                @Html.DevExpress().Memo(setting =>
       {
           setting.Name = "txtMsgText";
           setting.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           setting.Height = System.Web.UI.WebControls.Unit.Pixel(100);
           setting.Properties.MaxLength = 360;
           setting.Properties.NullText = "Please Enter Your Message..";
       }).GetHtml()

            </div>
        </div>
        <div class="clear"></div>
        <div class="col-md-12 msg-buttons">
            <button type="button" class="btn btn-success" onclick="SendMessage()">Send Message</button>
            <button type="button" class="btn btn-success" onclick="SendPushnotification()">Send Push Notification</button>
            <button type="button" class="btn btn-success" onclick="SendPushnotificationClearData()">Clear Data Notification</button>
            <button type="button" class="btn btn-success hide" onclick="SendScheme()">Send Scheme</button>
            <button type="button" class="btn btn-danger" onclick="cancelSendMessage()">Cancel</button>
        </div>
    </div>
</div>

