@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                25-01-2023        2.0.38           Pallab              25576: Report page design modification *@
@*====================================================== Revision History ==========================================================*@

@model MyShop.Models.TargetVsAchivementRangeClass
@{
    ViewBag.Title = "Target Vs Achivement Daily";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/pluggins/multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/pluggins/multiselect/bootstrap-multiselect.js"></script>

<style>
    .multiselect-container.dropdown-menu {
        right: 0 !important;
        left: auto;
        min-width: 340px;
    }

    .iminentSpan .multiselect-container.dropdown-menu {
        right: auto !important;
        left: 0;
        min-width: 340px;
    }

    .multiselect-container > li > a {
        padding: 5px 0;
    }

        .multiselect-container > li > a input[type="checkbox"] {
            transform: translateY(3px);
        }

    .multiselect-container > li.active > a {
        background: transparent !important;
        color: #333;
    }

        .multiselect-container > li > a:hover, .multiselect-container > li.active > a:hover {
            background: #f3f3f3 !important;
            color: #333 !important;
            padding: 5px 0;
        }

    .multiselect-item.multiselect-filter {
        padding-bottom: 6px;
        border-bottom: 1px solid #ccc;
    }

        .multiselect-item.multiselect-filter .form-control.multiselect-search {
            height: 32px;
        }

        .multiselect-item.multiselect-filter .input-group-addon {
            background: #41a8f1;
            color: #fff;
            border-color: #41a8f1;
        }

    .input-group-btn .multiselect-clear-filter {
        background: #f98181;
        color: #fffefe;
        /* box-shadow: none; */
        text-shadow: none;
        border-color: #f96a6a;
        padding: 5px 10px 4px 10px;
    }

    .multiselect.dropdown-toggle {
        background: #fff;
        border-radius: 0;
    }

    .iminentSpan > span {
        display: block;
    }

    .btn-excel {
        float: right;
        margin-right: 30px;
        margin-top: -4px;
        padding: 5px 5px 5px 10px;
        border-radius: 30px;
    }
        .btn-excel:hover {
            box-shadow: 0px 0px 10px rgba(0,0,0,0.12);
        }

    .gridbinded {
        position: absolute;
        right: 15px;
        top: 11px;
    }

    #cmbState + .btn-group > button {
        border-radius: 4px;
        height: 34px;
    }

    span.multiselect-native-select button {
        border: 1px solid #c9c9c9 !important;
        border-radius: 5px !important;
    }

    /*Rev 1.0*/

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            content: '<';
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 5px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 8px;
        right: 20px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 33px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    .multiselect.dropdown-toggle
    {
        text-align:left;
    }

    .multiselect.dropdown-toggle, #ddlShowReport {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .whclass.selectH {
        padding-right: 30px;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtfrom, #dtto {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .pmsModal .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .pmsModal .modal-content {
        border: none;
        border-radius: 10px;
    }

    .pmsModal .modal-header .modal-title {
        font-size: 14px;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtfrom_B-1, #dtto_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtfrom_B-1 #dtfrom_B-1Img,
        #dtto_B-1 #dtto_B-1Img {
            display: none;
        }

    #dtfrom_I, #dtto_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        z-index: 1;
    }

    .pad-md-18 {
        padding-top: 24px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }
    .btn .caret
    {
        display: none;
    }
    /*Rev end 1.0*/

    .btn-excel > .icn {
        width: 40px;
        height: 40px;
        background: #e2e2e2;
    }
</style>
<script>

    function ShowButtonClick() {
        if ($('#cmbState').val() == null) {
            jAlert('Please select atleast one state.', 'Warning', function () {
                return;
            });
        }
        if ($('#cmbState').val() == null) {

                return;

        }
        var start = $('#dtfrom_I').val();
        var end = $('#dtto_I').val();
        start = start.split('-')[1] + '-' + start.split('-')[0] + '-' + start.split('-')[2];
        end = end.split('-')[1] + '-' + end.split('-')[0] + '-' + end.split('-')[2];

        var dayse = Math.round((Date.parse(end) - Date.parse(start)) / (1000 * 60 * 60 * 24));

        if (dayse <= 30) {
            gridtreeList.Refresh();
            gridtreeList.Refresh();
        }
        else {
            jAlert("Searching days must be within One month");
        }
    }

    function OnBeginCallback(s, e) {
        stateids = $('#cmbState').val();
        e.customArgs["fromdate"] = dtfrom.GetText();
        e.customArgs["enddate"] = dtto.GetText();
        e.customArgs["States"] = stateids.join(',');;
    }



    $(function () {
        $('#cmbState').multiselect({
            includeSelectAllOption: false,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%',

            onDropdownHide: function (event) {

            }
        }).multiselect('selectAll', false).multiselect('updateButtonText');
        stateids = $('#cmbState').val();
    });


    function gridEndCallBack() {

    }

    function DateValidateFrom() {
        if (dtto.GetDate()) {
            if (dtto.GetDate() < dtfrom.GetDate()) {
                dtto.SetValue(dtfrom.GetDate());
            }
        }
    }

    function DateValidateTo() {
        if (dtfrom.GetDate()) {
            if (dtto.GetDate() < dtfrom.GetDate()) {
                dtto.SetValue(dtfrom.GetDate());
            }
        }
    }


    function gridExport() {
        var url = '@Url.Action("ExportGridView", "TargetvsAchvToday", new { type = "_type_" })'

        window.location.href = url.replace("_type_", 3);


    }

</script>


<div class="breadCumb">
    <span>
        Day Wise Target vs Achievement
    </span>
</div>
<div class="container">
    <div class="backBox mt-5 p-3 ">

        <div class=" mb-3">
            <div class="col-md-3 h-branch-select">
                <label>Select State(s)</label>
                <div class="iminentSpan">
                    <select class="demo" multiple="multiple" id="cmbState">
                        @foreach (var item in Model.StateListTarget)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>

                </div>
            </div>
            @*Rev 1.0*@
            @*<div class="col-md-2">*@
            <div class="col-md-2 for-cust-icon">
                @*Rev end 1.0*@
                <label>From Date</label>
                <div>
                    @Html.DevExpress().DateEdit(settings =>
               {
                   settings.Name = "dtfrom";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                   settings.Properties.EditFormatString = "dd-MM-yyyy";
                   settings.Properties.EditFormat = EditFormat.Custom;
                   settings.Properties.UseMaskBehavior = true;
                   settings.Date = DateTime.Now;
                   settings.Properties.AllowNull = false;
                   settings.Properties.ShowOutOfRangeWarning = false;
                   settings.Properties.ClientSideEvents.DateChanged = "DateValidateFrom";
               }).GetHtml()
                    @*Rev 2.0*@
                    <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                    @*Rev end 2.0*@

                </div>
            </div>
            @*Rev 1.0*@
            @*<div class="col-md-2">*@
            <div class="col-md-2 for-cust-icon">
                @*Rev end 1.0*@
                <label>End Date</label>
                <div>
                    @Html.DevExpress().DateEdit(settings =>
               {
                   settings.Name = "dtto";
                   settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   settings.Properties.DisplayFormatString = "dd-MM-yyyy";
                   settings.Properties.EditFormatString = "dd-MM-yyyy";
                   settings.Properties.EditFormat = EditFormat.Custom;
                   settings.Properties.UseMaskBehavior = true;
                   settings.Date = DateTime.Now;
                   settings.Properties.AllowNull = false;
                   settings.Properties.ShowOutOfRangeWarning = false;
                   settings.Properties.ClientSideEvents.DateChanged = "DateValidateTo";
               }).GetHtml()
                    @*Rev 2.0*@
                    <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                    @*Rev end 2.0*@

                </div>
            </div>
            <div class="col-md-2 ">
                <div>&nbsp;</div>
                <button class="btn btn-success mb-3 mt-2" onclick="ShowButtonClick()">Show</button>
            </div>
        </div>
        <div class="clear"></div>

        <div class="col-md-12">
            <div class="row">
                <span class="btn-excel">
                    <span>Export To Excel</span>
                    <span class="icn"><img src="/assests/images/excel.png" style="width: 20px;" title="" onclick="gridexport()" /></span>
                </span>
            </div>
            <div class="relative">

                @Html.Partial("TargetVsAchivementRangeGrid", Model.TargetVsAchivementList)
            </div>

        </div>
    </div>
</div>

